{
  "openapi": "3.1.0",
  "info": {
    "title": "Jimmy AI OpenAPI",
    "description": "API for Jimmy AI video generation services",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://www.jimmyai.cn",
      "description": "Production server"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/api/open-api/v1/videos": {
      "post": {
        "summary": "Create Video Task",
        "description": "Create a new video generation task using Sora models. Route 1 (route1): model sora2-12s, duration must be 12. Route 3: sora2-gz-stable / sora2-gz-sp. Route 6: see model config.",
        "operationId": "createVideo",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VideoGenerationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoGenerationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/open-api/v1/videos/{taskId}": {
      "get": {
        "summary": "Query Video Task",
        "description": "Query the status and result of a video generation task.",
        "operationId": "queryVideo",
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "description": "The ID of the task to query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Task status and result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoQueryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/open-api/v1/images": {
      "post": {
        "summary": "创建图片任务",
        "description": "创建新的图片生成任务。",
        "operationId": "createImage",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ImageGenerationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "任务创建成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageGenerationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/open-api/v1/images/{taskId}": {
      "get": {
        "summary": "查询图片任务",
        "description": "查询图片生成任务的状态和结果。",
        "operationId": "queryImage",
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "description": "要查询的任务 ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "任务状态和结果",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoQueryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/open-api/v1/images/understand": {
      "post": {
        "summary": "图片理解",
        "description": "基于 Gemini-3.5-flash 对上传的图片进行理解分析（支持电商产品宣传分析等功能）。",
        "operationId": "understandImage",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ImageUnderstandingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "图片理解成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageUnderstandingResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/open-api/v1/images/generations": {
      "post": {
        "summary": "文生图（同步）",
        "description": "同步文生图，兼容 OpenAI POST /v1/images/generations。成功响应后立即扣费，在 data 中返回图片结果，无需轮询。",
        "operationId": "generateOpenAIImage",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpenAIImageGenerationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "生成成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAIImageSyncResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/open-api/v1/images/edits": {
      "post": {
        "summary": "编辑图片（同步）",
        "description": "同步图片编辑，兼容 OpenAI POST /v1/images/edits。使用 multipart/form-data 上传源图（支持多张，字段名均为 image），成功响应后立即扣费。",
        "operationId": "editOpenAIImage",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/OpenAIImageEditRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "编辑成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAIImageSyncResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/open-api/v1/veo/frames": {
      "post": {
        "summary": "Create VEO Frames Video Task",
        "description": "Create a new VEO video generation task using first and last frames.",
        "operationId": "createVeoFramesVideo",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VeoFramesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoGenerationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/open-api/v1/seedance/videos": {
      "post": {
        "summary": "创建 Seedance 视频任务",
            "description": "创建 Seedance 2.0 视频生成任务。支持满血版（sd2_mx_*，按秒计费，素材须审核）、SP 经济版（seedance2.0-sp / seedance2.0-fast-sp，按分辨率按秒计费）、SP 官方版（seedance2.0-of-sp / seedance2.0-of-fast-sp，按分辨率按秒计费）、Mini 版（seedance2.0-mini，按分辨率按秒计费）、Mini 特价版（seedance2.0-mini-sp，按次计费，仅 480p/720p）、MD（seedance2.0-md / seedance2.0-fast-md，按次计费，720p，不支持音频）、Fast I2V（seedance2.0-fast-i2v，按次计费，720p，仅图片参考最多 9 张，不支持参考视频/音频）、STD 标准版（seedance2.0-std，按次计费，720p，支持音频参考）。创建后使用 GET /api/open-api/v1/videos/{taskId} 查询结果。详见 seedance/md/create、seedance/md/fast-i2v、seedance/md/std、seedance/mini/create 与 seedance/mini-sp/create 文档。",
        "operationId": "createSeedanceVideo",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SeedanceGenerationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoGenerationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/open-api/v1/seedance/assets/audit": {
      "post": {
        "summary": "提交素材审核",
        "description": "提交原始素材 URL 进行 Seedance 平台审核。仅满血版（sd2_mx_*）创建视频前必须审核；经济版与 MD 可直接传公网 URL。",
        "operationId": "submitSeedanceAudit",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SeedanceAuditSubmitRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "提交成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SeedanceAuditSubmitResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/open-api/v1/seedance/assets/status": {
      "post": {
        "summary": "查询素材审核状态",
        "description": "查询已提交审核素材的状态。",
        "operationId": "querySeedanceAuditStatus",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SeedanceAuditStatusRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "查询成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SeedanceAuditStatusResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/open-api/v1/seedance/sp/assets/upload": {
      "post": {
        "summary": "SP 上传素材",
        "description": "上传图片、视频、音频或文本素材到 Seedance SP 经济版素材库。返回 asset_id 可用于 asset:// 引用。",
        "operationId": "uploadSeedanceSpAsset",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SeedanceSpAssetUploadRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "上传成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SeedanceSpAssetUploadResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/open-api/v1/seedance/sp/assets/detail": {
      "post": {
        "summary": "SP 查询素材详情",
        "description": "查询单个 Seedance SP 素材的处理状态与详情。",
        "operationId": "querySeedanceSpAssetDetail",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SeedanceSpAssetDetailRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "查询成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SeedanceSpAssetDetailResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/open-api/v1/seedance/sp/assets/status": {
      "post": {
        "summary": "SP 批量查询素材状态",
        "description": "批量查询 Seedance SP 素材的处理状态。",
        "operationId": "querySeedanceSpAssetBatchStatus",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SeedanceSpAssetBatchStatusRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "查询成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SeedanceSpAssetBatchStatusResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/open-api/v1/seedance/sp/realperson/submit": {
      "post": {
        "summary": "SP 提交真人加白",
        "description": "提交真人图片素材进行加白处理，完成后可用于 SP 经济版视频生成。",
        "operationId": "submitSeedanceSpRealPerson",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SeedanceSpRealPersonSubmitRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "提交成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SeedanceSpRealPersonResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/open-api/v1/seedance/sp/realperson/status": {
      "post": {
        "summary": "SP 查询真人加白状态",
        "description": "查询单个 Seedance SP 真人加白素材的处理状态。",
        "operationId": "querySeedanceSpRealPersonStatus",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SeedanceSpRealPersonStatusRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "查询成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SeedanceSpRealPersonResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/open-api/v1/seedance/sp/realperson/batch-status": {
      "post": {
        "summary": "SP 批量查询真人加白状态",
        "description": "批量查询 Seedance SP 真人加白素材的处理状态。",
        "operationId": "querySeedanceSpRealPersonBatchStatus",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SeedanceSpRealPersonBatchStatusRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "查询成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SeedanceSpRealPersonBatchStatusResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/open-api/v1/gemini/omni/videos": {
      "post": {
        "summary": "创建 Gemini Omni 视频任务",
        "description": "创建 Gemini Omni 视频生成任务。任务创建后，请使用通用视频任务查询接口获取生成状态和结果。",
        "operationId": "createGeminiOmniVideo",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GeminiOmniGenerationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "任务创建成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoGenerationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/open-api/v1/grok/videos": {
      "post": {
        "summary": "创建 Grok 1.5 视频任务",
        "description": "创建 Grok 1.5 视频生成任务。任务创建后，请使用通用视频任务查询接口获取生成状态和结果。",
        "operationId": "createGrokVideo",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GrokGenerationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "任务创建成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoGenerationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/open-api/v1/soundCloning/clones": {
      "post": {
        "summary": "SoundClone - 提交试听任务",
        "description": "提交声音克隆试听任务，生成试听音频并返回声音模型 ID。任务创建后请使用 GET /api/open-api/v1/audios/{id} 查询结果。",
        "operationId": "createSoundClonePreview",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SoundCloneCloneRequest"
              },
              "examples": {
                "preview": {
                  "summary": "提交试听",
                  "value": {
                    "fileUrl": "https://example.com/source-audio.mp3",
                    "contentText": "在森林的深处，阳光透过树梢洒落，鸟儿的歌声交织成一曲美妙的乐章，诉说着大自然无尽的美丽。",
                    "soundVersion": "v1",
                    "language": "Chinese"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "任务创建成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SoundCloneApiResponse"
                },
                "examples": {
                  "queued": {
                    "summary": "创建成功",
                    "value": {
                      "code": 20000,
                      "msg": "ok",
                      "data": {
                        "id": "audio_16b635ba-5889-4fa5-bbcc-bf67a38c353a",
                        "object": "audio",
                        "created": 1781777280,
                        "model": "soundCloningClone",
                        "status": "queued",
                        "error": null
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/open-api/v1/soundCloning/audios": {
      "post": {
        "summary": "SoundClone - 提交音频生成任务",
        "description": "使用试听任务得到的 modelId 提交正式音频生成任务。",
        "operationId": "createSoundCloneAudio",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SoundCloneAudioRequest"
              },
              "examples": {
                "production": {
                  "summary": "提交正式音频",
                  "value": {
                    "modelId": "model_123456789",
                    "contentText": "欢迎使用声音克隆能力，这是一段用于生成正式音频的文本。",
                    "language": "Chinese",
                    "soundVersion": "v1",
                    "emotion": "neutral",
                    "speed": 1,
                    "vol": 1,
                    "pitch": 0,
                    "subtitleEnable": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "任务创建成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SoundCloneApiResponse"
                },
                "examples": {
                  "queued": {
                    "summary": "创建成功",
                    "value": {
                      "code": 20000,
                      "msg": "ok",
                      "data": {
                        "id": "audio_764fb3e7-8af2-4d2d-89a0-e58f8f3eb9c4",
                        "object": "audio",
                        "created": 1781777280,
                        "model": "soundCloningAudio",
                        "status": "queued",
                        "error": null
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/open-api/v1/audios/{id}": {
      "get": {
        "summary": "SoundClone - 查询结果",
        "description": "查询声音克隆试听或正式音频任务的状态与结果。",
        "operationId": "querySoundCloneResult",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "任务 ID，来自提交试听或提交音频生成接口",
            "schema": {
              "type": "string"
            },
            "example": "audio_16b635ba-5889-4fa5-bbcc-bf67a38c353a"
          }
        ],
        "responses": {
          "200": {
            "description": "任务状态与结果",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SoundCloneQueryApiResponse"
                },
                "examples": {
                  "completed": {
                    "summary": "试听任务已完成",
                    "value": {
                      "code": 20000,
                      "msg": "ok",
                      "data": {
                        "id": "audio_16b635ba-5889-4fa5-bbcc-bf67a38c353a",
                        "object": "audio",
                        "created": 1781777280,
                        "model": "soundCloningClone",
                        "status": "completed",
                        "modelId": "model_123456789",
                        "audioUrl": "https://example.com/preview-audio.mp3",
                        "error": null
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/open-api/v1/user/balance": {
      "get": {
        "summary": "查询用户账户余额",
        "description": "查询当前 API Key 所属用户的吉米币账户余额（总余额、历史净消费、可用余额）。used_coin 为账户全量消费减退款，含所有 Key；OpenAPI 调用费用从该账户扣除。",
        "operationId": "getUserBalance",
        "responses": {
          "200": {
            "description": "查询成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserBalanceApiResponse"
                },
                "examples": {
                  "success": {
                    "summary": "查询成功",
                    "value": {
                      "code": 20000,
                      "msg": "ok",
                      "data": {
                        "balance": 100.5,
                        "used_coin": 20.3,
                        "available": 80.2
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/open-api/v1/key/balance": {
      "get": {
        "summary": "查询 API Key 额度余额",
        "description": "查询当前 API Key 的调用额度（总额度、已用、剩余）。total_quota 为 0 时表示不限额。used_quota 为本 Key 已成功扣费的 OpenAPI 调用费用累计，用于额度上限校验；与 /user/balance 的 used_coin（账户全量净消费）统计维度不同。",
        "operationId": "getApiKeyBalance",
        "responses": {
          "200": {
            "description": "查询成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyBalanceApiResponse"
                },
                "examples": {
                  "success": {
                    "summary": "查询成功",
                    "value": {
                      "code": 20000,
                      "msg": "ok",
                      "data": {
                        "name": "production-key",
                        "total_quota": 1000,
                        "used_quota": 120.5,
                        "available_quota": 879.5,
                        "unlimited": false
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/open-api/v1/files/upload": {
      "post": {
        "summary": "上传文件",
        "description": "上传图片、视频或音频文件，返回可公网访问的文件 URL。单文件最大 100 MB。",
        "operationId": "uploadFile",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/FileUploadRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "上传成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileUploadApiResponse"
                },
                "examples": {
                  "success": {
                    "summary": "上传成功",
                    "value": {
                      "code": 20000,
                      "msg": "ok",
                      "data": {
                        "url": "https://cdn.example.com/openapi/upload/20240628/abc123.jpg",
                        "filename": "photo.jpg",
                        "size": 102400,
                        "mime_type": "image/jpeg"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "VideoGenerationRequest": {
        "type": "object",
        "required": [
          "model",
          "prompt",
          "duration"
        ],
        "properties": {
          "model": {
            "type": "string",
            "description": "模型名称。线路一: sora2-12s（duration 必须为 12）；线路三: sora2-gz-stable, sora2-gz-sp 等"
          },
          "prompt": {
            "type": "string",
            "description": "用于生成视频的文本提示词"
          },
          "duration": {
            "type": "integer",
            "description": "时长(秒)。线路一 sora2-12s 必须为 12"
          },
          "orientation": {
            "type": "string",
            "enum": [
              "landscape",
              "portrait"
            ],
            "description": "视频方向"
          },
          "images": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "参考图 URL 列表"
          }
        }
      },
      "SeedanceGenerationRequest": {
        "type": "object",
        "required": [
          "model",
          "prompt",
          "duration"
        ],
        "properties": {
          "model": {
            "type": "string",
            "description": "模型名称。满血版: sd2_mx_720p | sd2_mx_1080p | sd2_mx_2k | sd2_mx_4k；Fast: sd2_mx_fast_720p | sd2_mx_fast_1080p；视频参考: sd2_mx_video_720p | sd2_mx_video_1080p | sd2_mx_video_2k | sd2_mx_video_4k；视频参考 Fast: sd2_mx_video_fast_720p | sd2_mx_video_fast_1080p（均按秒）。reference_videos 仅 video 系列支持。SP 经济版: seedance2.0-sp | seedance2.0-fast-sp（按分辨率按秒）。SP 官方版: seedance2.0-of-sp | seedance2.0-of-fast-sp（按分辨率按秒）。Mini版: seedance2.0-mini（按分辨率按秒）。Mini特价版: seedance2.0-mini-sp（按次，仅 480p/720p）。MD: seedance2.0-md | seedance2.0-fast-md（按次，720p）。Fast I2V: seedance2.0-fast-i2v（按次，720p，仅图片参考）。STD 标准版: seedance2.0-std（按次，720p）"
          },
          "prompt": {
            "type": "string",
            "description": "用于生成视频的文本提示词。MD 版最多 5000 字符"
          },
          "duration": {
            "type": "integer",
            "description": "时长（秒）。满血版 4-12；SP 经济版 4-15；MD 1-15；STD 标准版 4-15。默认 5"
          },
          "resolution": {
            "type": "string",
            "enum": [
              "480p",
              "720p",
              "1080p"
            ],
            "description": "输出分辨率，SP 经济版有效，默认 720p"
          },
          "orientation": {
            "type": "string",
            "enum": [
              "landscape",
              "portrait"
            ],
            "description": "视频方向（如已传 ratio 则以 ratio 为准）"
          },
          "images": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "参考图列表。满血版须为 asset://{assetId}；SP/MD/STD/Fast I2V 可为 https:// URL。MD 最多 4 张，seedance2.0-fast-i2v 与 STD 最多 9 张。与首尾帧不可同时使用"
          },
          "ratio": {
            "type": "string",
            "description": "输出比例。MD 仅支持 16:9、9:16、1:1；STD 支持 21:9、16:9、4:3、1:1、3:4、9:16；满血版还支持 4:3、3:4、21:9、Adaptive"
          },
          "first_image": {
            "type": "string",
            "description": "首帧图片。满血版: asset://{assetId}；经济版/MD: https:// URL。MD 首尾帧模式须与 last_image 同时传入，不支持仅传首帧"
          },
          "last_image": {
            "type": "string",
            "description": "尾帧图片。满血版: asset://{assetId}；经济版/MD: https:// URL。MD 首尾帧模式须与 first_image 同时传入"
          },
          "reference_videos": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "参考视频列表。满血版: asset://{assetId}；经济版/MD: https:// URL。MD 最多 3 个，总时长不超过 15 秒，总大小不超过 200MB，单个分辨率须在 720px–2160px 之间。seedance2.0-fast-i2v 不支持"
          },
          "reference_audios": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "参考音频列表。满血版/SP 经济版/STD 支持；MD 与 seedance2.0-fast-i2v 不支持。满血版须 asset://{assetId}，SP 可为 https:// URL 或 asset://，且须搭配参考图/视频或首尾帧。STD 最多 3 段，首尾帧模式不支持音频参考"
          }
        }
      },
      "ImageGenerationRequest": {
        "type": "object",
        "required": [
          "model",
          "prompt"
        ],
        "properties": {
          "model": {
            "type": "string",
            "description": "模型名称 (如: gpt-image-2, nano-banana, nano-banana-2, nano-banana-pro)"
          },
          "prompt": {
            "type": "string",
            "description": "用于生成图片的文本提示词"
          },
          "ratio": {
            "type": "string",
            "description": "画面比例。支持的值：auto (自动), 1:1 (正方), 3:2 (横图), 2:3 (竖图), 4:3 (横图), 3:4 (竖图), 5:4 (横图), 4:5 (竖图), 16:9 (横图), 9:16 (竖图), 2:1 (横图), 1:2 (竖图), 3:1 (横图), 1:3 (竖图), 21:9 (横图), 9:21 (竖图)",
            "enum": [
              "auto",
              "1:1",
              "3:2",
              "2:3",
              "4:3",
              "3:4",
              "5:4",
              "4:5",
              "16:9",
              "9:16",
              "2:1",
              "1:2",
              "3:1",
              "1:3",
              "21:9",
              "9:21"
            ],
            "default": "auto"
          },
          "images": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "参考图 URL 或 base64 列表"
          },
          "resolution": {
            "type": "string",
            "description": "图片分辨率（由 gpt-image-2, nano-banana-2 等模型支持）。支持的值：1k, 2k, 4k。注意：gpt-image-2 开启 4k 时仅支持以下比例：16:9 / 9:16 / 2:1 / 1:2 / 21:9 / 9:21。",
            "enum": [
              "1k",
              "2k",
              "4k"
            ],
            "default": "1k"
          },
          "quality": {
            "type": "string",
            "description": "画质档位（由 gpt-image-2 支持）。支持的值：low (低画质), medium (中画质), high (高画质)。",
            "enum": [
              "low",
              "medium",
              "high"
            ],
            "default": "low"
          }
        }
      },
      "ImageGenerationResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "example": "20000"
          },
          "msg": {
            "type": "string",
            "example": "ok"
          },
          "data": {
            "type": "object",
            "properties": {
              "task_id": {
                "type": "string"
              },
              "status": {
                "type": "string"
              },
              "model": {
                "type": "string"
              },
              "created_at": {
                "type": "integer",
                "format": "int64"
              }
            }
          }
        }
      },
      "VeoFramesRequest": {
        "type": "object",
        "required": [
          "model",
          "prompt"
        ],
        "properties": {
          "model": {
            "type": "string",
            "description": "模型名称 (如: veo_3_1_fast)"
          },
          "prompt": {
            "type": "string",
            "description": "文本提示词"
          },
          "resolution": {
            "type": "string",
            "enum": [
              "720p",
              "1080p",
              "4k"
            ],
            "description": "视频分辨率"
          },
          "orientation": {
            "type": "string",
            "enum": [
              "landscape",
              "portrait"
            ],
            "description": "视频方向"
          },
          "first_frame_url": {
            "type": "string",
            "description": "第一帧图片 URL"
          },
          "last_frame_url": {
            "type": "string",
            "description": "最后一帧图片 URL"
          },
          "images": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "参考图 URL 列表"
          }
        }
      },
      "VideoGenerationResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "example": "20000"
          },
          "msg": {
            "type": "string",
            "example": "ok"
          },
          "data": {
            "type": "object",
            "properties": {
              "task_id": {
                "type": "string"
              },
              "status": {
                "type": "string"
              },
              "model": {
                "type": "string"
              },
              "created_at": {
                "type": "integer",
                "format": "int64"
              }
            }
          }
        }
      },
      "VideoQueryResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "example": "20000"
          },
          "msg": {
            "type": "string",
            "example": "ok"
          },
          "data": {
            "type": "object",
            "properties": {
              "task_id": {
                "type": "string"
              },
              "status": {
                "type": "string"
              },
              "progress": {
                "type": "integer"
              },
              "model": {
                "type": "string"
              },
              "created_at": {
                "type": "integer",
                "format": "int64"
              },
              "completed_at": {
                "type": "integer",
                "format": "int64"
              },
              "result": {
                "type": "object",
                "properties": {
                  "video_url": {
                    "type": "string",
                    "description": "生成的视频 URL (有效期3天)"
                  },
                  "image_url": {
                    "type": "string",
                    "description": "生成的图片 URL (针对图片任务，有效期3天)"
                  }
                }
              },
              "error_message": {
                "type": "string"
              }
            }
          }
        }
      },
      "SeedanceAuditSubmitRequest": {
        "type": "object",
        "properties": {
          "audio_urls": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "音频 URL 列表"
          },
          "image_urls": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "图片 URL 列表"
          },
          "video_urls": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "视频 URL 列表"
          }
        }
      },
      "SeedanceAuditSubmitResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "example": "20000"
          },
          "msg": {
            "type": "string",
            "example": "ok"
          },
          "data": {
            "type": "object",
            "properties": {
              "failed_items": {
                "type": "array",
                "items": {
                  "type": "object"
                },
                "description": "失败素材列表"
              },
              "items": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/SeedanceAuditItem"
                },
                "description": "提交成功的审核状态条目列表"
              }
            }
          }
        }
      },
      "SeedanceAuditItem": {
        "type": "object",
        "properties": {
          "asset_id": {
            "type": "string",
            "description": "素材 ID"
          },
          "original_url": {
            "type": "string",
            "description": "原始素材 URL"
          },
          "asset_type": {
            "type": "string",
            "description": "素材类型 (如 video, image, audio)"
          },
          "status": {
            "type": "string",
            "description": "审核状态"
          }
        }
      },
      "SeedanceAuditStatusRequest": {
        "type": "object",
        "required": [
          "asset_ids"
        ],
        "properties": {
          "asset_ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "要查询的素材 ID 列表"
          }
        }
      },
      "SeedanceAuditStatusResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "example": "20000"
          },
          "msg": {
            "type": "string",
            "example": "ok"
          },
          "data": {
            "type": "object",
            "properties": {
              "items": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/SeedanceAuditStatusItem"
                },
                "description": "素材状态列表"
              }
            }
          }
        }
      },
      "SeedanceAuditStatusItem": {
        "type": "object",
        "properties": {
          "asset_id": {
            "type": "string",
            "description": "素材 ID"
          },
          "status": {
            "type": "string",
            "description": "审核/激活状态 (如 Active 表示可用)"
          }
        }
      },
      "SeedanceSpAssetUploadRequest": {
        "type": "object",
        "required": [
          "name",
          "type",
          "url"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "素材名称"
          },
          "type": {
            "type": "string",
            "enum": [
              "image",
              "video",
              "audio",
              "text"
            ],
            "description": "素材类型"
          },
          "url": {
            "type": "string",
            "description": "素材公网 URL"
          }
        }
      },
      "SeedanceSpAssetUploadResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "example": 0
          },
          "msg": {
            "type": "string",
            "example": "ok"
          },
          "data": {
            "type": "object",
            "properties": {
              "asset_id": {
                "type": "string",
                "description": "素材 ID，可用于 asset:// 引用"
              }
            }
          }
        }
      },
      "SeedanceSpAssetDetailRequest": {
        "type": "object",
        "required": [
          "asset_id"
        ],
        "properties": {
          "asset_id": {
            "type": "string",
            "description": "素材 ID"
          }
        }
      },
      "SeedanceSpAssetDetailResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "example": 0
          },
          "msg": {
            "type": "string",
            "example": "ok"
          },
          "data": {
            "type": "object",
            "properties": {
              "asset_id": {
                "type": "string"
              },
              "official_id": {
                "type": "string"
              },
              "status": {
                "type": "string",
                "description": "Processing / Active / Failed"
              },
              "name": {
                "type": "string"
              },
              "image_url": {
                "type": "string"
              },
              "created_at": {
                "type": "string"
              }
            }
          }
        }
      },
      "SeedanceSpAssetBatchStatusRequest": {
        "type": "object",
        "required": [
          "asset_ids"
        ],
        "properties": {
          "asset_ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "素材 ID 列表"
          }
        }
      },
      "SeedanceSpAssetBatchStatusResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "example": 0
          },
          "msg": {
            "type": "string",
            "example": "ok"
          },
          "data": {
            "type": "object",
            "properties": {
              "items": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/SeedanceSpAssetDetailItem"
                }
              }
            }
          }
        }
      },
      "SeedanceSpAssetDetailItem": {
        "type": "object",
        "properties": {
          "asset_id": {
            "type": "string"
          },
          "official_id": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "image_url": {
            "type": "string"
          },
          "created_at": {
            "type": "string"
          }
        }
      },
      "SeedanceSpRealPersonSubmitRequest": {
        "type": "object",
        "required": [
          "name",
          "url"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "真人素材名称"
          },
          "url": {
            "type": "string",
            "description": "真人图片公网 URL"
          }
        }
      },
      "SeedanceSpRealPersonStatusRequest": {
        "type": "object",
        "required": [
          "asset_id"
        ],
        "properties": {
          "asset_id": {
            "type": "string",
            "description": "提交真人加白返回的 asset_id"
          }
        }
      },
      "SeedanceSpRealPersonResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "example": 0
          },
          "msg": {
            "type": "string",
            "example": "ok"
          },
          "data": {
            "type": "object",
            "properties": {
              "asset_id": {
                "type": "string"
              },
              "official_id": {
                "type": "string"
              },
              "status": {
                "type": "string",
                "description": "Processing / Active / Failed"
              },
              "asset_ref": {
                "type": "string",
                "description": "可用于创建任务的素材引用"
              },
              "name": {
                "type": "string"
              },
              "url": {
                "type": "string"
              },
              "created_at": {
                "type": "string"
              }
            }
          }
        }
      },
      "SeedanceSpRealPersonBatchStatusRequest": {
        "type": "object",
        "required": [
          "asset_ids"
        ],
        "properties": {
          "asset_ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "真人素材 ID 列表"
          }
        }
      },
      "SeedanceSpRealPersonBatchStatusResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "example": 0
          },
          "msg": {
            "type": "string",
            "example": "ok"
          },
          "data": {
            "type": "object",
            "properties": {
              "items": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/SeedanceSpRealPersonItem"
                }
              }
            }
          }
        }
      },
      "SeedanceSpRealPersonItem": {
        "type": "object",
        "properties": {
          "asset_id": {
            "type": "string"
          },
          "official_id": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "asset_ref": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "created_at": {
            "type": "string"
          }
        }
      },
      "ImageUnderstandingRequest": {
        "type": "object",
        "required": [
          "model",
          "contents"
        ],
        "properties": {
          "model": {
            "type": "string",
            "description": "模型名称 (如: gemini-3.5-flash)"
          },
          "contents": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GeminiContent"
            },
            "description": "内容对话上下文"
          }
        }
      },
      "GeminiContent": {
        "type": "object",
        "required": [
          "role",
          "parts"
        ],
        "properties": {
          "role": {
            "type": "string",
            "description": "角色 (user 或 model)"
          },
          "parts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GeminiPart"
            }
          }
        }
      },
      "GeminiPart": {
        "type": "object",
        "properties": {
          "text": {
            "type": "string",
            "description": "文本内容"
          },
          "inline_data": {
            "$ref": "#/components/schemas/GeminiInlineData"
          }
        }
      },
      "GeminiInlineData": {
        "type": "object",
        "required": [
          "mime_type",
          "data"
        ],
        "properties": {
          "mime_type": {
            "type": "string",
            "description": "媒体类型 (如: image/jpeg, image/png)"
          },
          "data": {
            "type": "string",
            "description": "Base64 编码的图片数据"
          }
        }
      },
      "ImageUnderstandingResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "example": "20000"
          },
          "msg": {
            "type": "string",
            "example": "ok"
          },
          "data": {
            "type": "object",
            "properties": {
              "candidates": {
                "type": "array",
                "items": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "GrokGenerationRequest": {
        "type": "object",
        "required": [
          "model",
          "prompt",
          "image_urls"
        ],
        "properties": {
          "model": {
            "type": "string",
            "enum": [
              "grok-imagine-video-1.5"
            ],
            "description": "模型名称。grok-imagine-video-1.5、grok-1.5、grok_1_5 归一化为 grok-imagine-video-1.5。"
          },
          "prompt": {
            "type": "string",
            "description": "用于生成视频的文本提示词"
          },
          "duration": {
            "type": "integer",
            "default": 10,
            "enum": [
              10,
              15
            ],
            "description": "视频时长，单位秒。仅支持 10 或 15 秒。默认 10。"
          },
          "ratio": {
            "type": "string",
            "default": "16:9",
            "enum": [
              "16:9",
              "9:16",
              "1:1",
              "3:2",
              "2:3"
            ],
            "description": "视频比例，例如 16:9、9:16。优先级高于 orientation。"
          },
          "orientation": {
            "type": "string",
            "enum": [
              "landscape",
              "portrait"
            ],
            "description": "视频方向。ratio 为空时生效：landscape 映射为 16:9，portrait 映射为 9:16。"
          },
          "image_urls": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "参考图片 URL 列表。grok-imagine-video-1.5 必须且仅支持 1 张参考图。"
          },
          "images": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "兼容 OpenAPI 通用图片字段；当 image_urls 为空时使用。必须且仅支持 1 张参考图。"
          }
        },
        "example": {
          "model": "grok-imagine-video-1.5",
          "prompt": "一只漂亮的蝴蝶在花丛中飞舞，慢动作，细节逼真",
          "duration": 10,
          "ratio": "16:9",
          "image_urls": [
            "https://example.com/butterfly.jpg"
          ]
        }
      },
      "GeminiOmniGenerationRequest": {
        "type": "object",
        "required": [
          "model",
          "prompt"
        ],
        "properties": {
          "model": {
            "type": "string",
            "enum": [
              "Gemini-Omini",
              "Omni-Flash-Ext",
              "gemini-omni",
              "omni-10s"
            ],
            "description": "模型名称。Gemini-Omini、Omni-Flash-Ext、gemini-omni 归一化为 Gemini-Omini；omni-10s 为固定 10 秒模型（720p，参考图最多 7 张）。"
          },
          "prompt": {
            "type": "string",
            "description": "用于生成视频的文本提示词"
          },
          "duration": {
            "type": "integer",
            "default": 6,
            "description": "视频时长，单位为秒。默认值：6。仅支持：4、6、8、10。注意：传入 video_urls 时不需要传入 duration，且 duration 与 video_urls 不可以同时传入。"
          },
          "resolution": {
            "type": "string",
            "default": "720p",
            "enum": [
              "720p",
              "1080p",
              "4k"
            ],
            "description": "视频分辨率，默认 720p。"
          },
          "aspect_ratio": {
            "type": "string",
            "description": "视频比例，例如 16:9、9:16。优先级高于 orientation。"
          },
          "orientation": {
            "type": "string",
            "enum": [
              "landscape",
              "portrait"
            ],
            "description": "视频方向。aspect_ratio 为空时生效：landscape 映射为 16:9，portrait 映射为 9:16。"
          },
          "image_urls": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "参考图片 URL 列表。omni-10s 最多 7 张。"
          },
          "images": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "兼容 OpenAPI 通用图片字段；当 image_urls 为空时使用。omni-10s 最多 7 张。"
          },
          "generation_type": {
            "type": "string",
            "default": "reference",
            "enum": [
              "frame",
              "reference"
            ],
            "description": "生成类型。frame: 首帧模式（image_urls 只可以上传 1 张图片，作为视频首帧）；reference: 参考模式（image_urls 可以上传 1 张或 3 张图片，作为参考图）。默认为 reference。"
          },
          "video_urls": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "参考视频 URL 列表（目前最多支持 1 个视频）。注意：上传参考视频时不需要传入 duration，且 duration 与 video_urls 不可以同时传入。"
          }
        },
        "example": {
          "model": "Gemini-Omini",
          "prompt": "一只猫在雨夜霓虹街头奔跑，电影感，镜头低角度跟拍",
          "duration": 6,
          "resolution": "720p",
          "aspect_ratio": "16:9",
          "generation_type": "reference",
          "image_urls": [],
          "video_urls": []
        }
      },
      "OpenAIImageGenerationRequest": {
        "type": "object",
        "required": [
          "prompt"
        ],
        "properties": {
          "model": {
            "type": "string",
            "description": "模型名称，默认 gpt-image-2",
            "default": "gpt-image-2",
            "example": "gpt-image-2"
          },
          "prompt": {
            "type": "string",
            "description": "文生图提示词"
          },
          "size": {
            "type": "string",
            "description": "输出尺寸，默认 1024x1024",
            "default": "1024x1024",
            "example": "1024x1024"
          },
          "n": {
            "type": "integer",
            "description": "生成数量1 不可修改",
            "default": 1
          },
          "quality": {
            "type": "string",
            "description": "画质档位，影响计费（gpt-image-2-low / medium / high）",
            "enum": [
              "low",
              "medium",
              "high",
              "auto"
            ],
            "default": "low"
          },
          "background": {
            "type": "string",
            "description": "背景类型",
            "enum": [
              "transparent",
              "opaque",
              "auto"
            ]
          },
          "output_format": {
            "type": "string",
            "description": "输出格式",
            "enum": [
              "png",
              "jpeg",
              "webp"
            ]
          }
        },
        "example": {
          "model": "gpt-image-2",
          "prompt": "赛博朋克城市雨夜，霓虹招牌特写，电影画幅",
          "size": "1024x1024",
          "n": 1,
          "quality": "high"
        }
      },
      "OpenAIImageEditRequest": {
        "type": "object",
        "required": [
          "image",
          "prompt"
        ],
        "properties": {
          "image": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "binary"
            },
            "description": "源图文件（必填，≤20MB/张，最多16张；兼容单张上传，字段名均为 image）"
          },
          "model": {
            "type": "string",
            "description": "模型名称，默认 gpt-image-2",
            "default": "gpt-image-2"
          },
          "prompt": {
            "type": "string",
            "description": "编辑提示词"
          },
          "size": {
            "type": "string",
            "description": "输出尺寸，默认 1024x1024",
            "default": "1024x1024"
          },
          "n": {
            "type": "integer",
            "description": "生成数量限制为 1",
            "default": 1
          },
          "quality": {
            "type": "string",
            "enum": [
              "low",
              "medium",
              "high",
              "auto"
            ],
            "default": "low"
          },
          "background": {
            "type": "string",
            "enum": [
              "transparent",
              "opaque",
              "auto"
            ]
          },
          "output_format": {
            "type": "string",
            "enum": [
              "png",
              "jpeg",
              "webp"
            ]
          }
        }
      },
      "OpenAIImageSyncResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "example": 20000
          },
          "msg": {
            "type": "string",
            "example": "ok"
          },
          "data": {
            "$ref": "#/components/schemas/OpenAIImageSyncResult"
          }
        }
      },
      "OpenAIImageSyncResult": {
        "type": "object",
        "description": "与 OpenAI images 接口一致的结果结构",
        "properties": {
          "created": {
            "type": "integer",
            "format": "int64",
            "description": "创建时间戳"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OpenAIImageResultItem"
            }
          },
          "model": {
            "type": "string",
            "example": "gpt-image-2"
          },
          "usage": {
            "$ref": "#/components/schemas/OpenAIImageUsage"
          }
        }
      },
      "OpenAIImageResultItem": {
        "type": "object",
        "properties": {
          "b64_json": {
            "type": "string",
            "description": "Base64 编码的图片数据（可能较大，数 MB 级）"
          },
          "revised_prompt": {
            "type": "string",
            "description": "修订后的提示词"
          }
        }
      },
      "OpenAIImageUsage": {
        "type": "object",
        "properties": {
          "input_tokens": {
            "type": "integer"
          },
          "output_tokens": {
            "type": "integer"
          },
          "total_tokens": {
            "type": "integer"
          },
          "input_tokens_details": {
            "type": "object",
            "properties": {
              "image_tokens": {
                "type": "integer"
              },
              "text_tokens": {
                "type": "integer"
              }
            }
          },
          "output_tokens_details": {
            "type": "object",
            "properties": {
              "image_tokens": {
                "type": "integer"
              },
              "text_tokens": {
                "type": "integer"
              }
            }
          }
        }
      },
      "SoundCloneCloneRequest": {
        "type": "object",
        "required": [
          "fileUrl"
        ],
        "properties": {
          "fileUrl": {
            "type": "string",
            "description": "克隆声音的原音频或原视频公网 URL"
          },
          "contentText": {
            "type": "string",
            "description": "试听文本，小于 270 字"
          },
          "soundVersion": {
            "type": "string",
            "enum": [
              "v1",
              "v2"
            ],
            "default": "v1"
          },
          "language": {
            "type": "string",
            "default": "auto",
            "description": "语言类型，如 Chinese、English"
          }
        },
        "example": {
          "fileUrl": "https://example.com/source-audio.mp3",
          "contentText": "在森林的深处，阳光透过树梢洒落，鸟儿的歌声交织成一曲美妙的乐章，诉说着大自然无尽的美丽。",
          "soundVersion": "v1",
          "language": "Chinese"
        }
      },
      "SoundCloneAudioRequest": {
        "type": "object",
        "required": [
          "modelId",
          "contentText"
        ],
        "properties": {
          "modelId": {
            "type": "string",
            "description": "试听任务完成后返回的声音模型 ID"
          },
          "contentText": {
            "type": "string",
            "description": "生成音频的文本，小于 10000 字符"
          },
          "soundVersion": {
            "type": "string",
            "enum": [
              "v1",
              "v2"
            ]
          },
          "language": {
            "type": "string",
            "default": "auto"
          },
          "emotion": {
            "type": "string",
            "enum": [
              "happy",
              "sad",
              "angry",
              "fearful",
              "disgusted",
              "surprised",
              "neutral"
            ],
            "default": "neutral"
          },
          "speed": {
            "type": "number",
            "minimum": 0.5,
            "maximum": 2,
            "default": 1
          },
          "vol": {
            "type": "number",
            "exclusiveMinimum": 0,
            "maximum": 10,
            "default": 1
          },
          "pitch": {
            "type": "integer",
            "minimum": -12,
            "maximum": 12,
            "default": 0
          },
          "subtitleEnable": {
            "type": "boolean",
            "default": false
          },
          "subtitleType": {
            "type": "string",
            "enum": [
              "word"
            ],
            "description": "不传为句级别字幕"
          }
        },
        "example": {
          "modelId": "model_123456789",
          "contentText": "欢迎使用声音克隆能力，这是一段用于生成正式音频的文本。",
          "language": "Chinese",
          "soundVersion": "v1",
          "emotion": "neutral",
          "speed": 1,
          "vol": 1,
          "pitch": 0,
          "subtitleEnable": false
        }
      },
      "SoundCloneTaskData": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "example": "audio"
          },
          "created": {
            "type": "integer",
            "format": "int64"
          },
          "model": {
            "type": "string",
            "enum": [
              "soundCloningClone",
              "soundCloningAudio"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "queued",
              "processing",
              "completed",
              "failed"
            ]
          },
          "error": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "example": {
          "id": "audio_16b635ba-5889-4fa5-bbcc-bf67a38c353a",
          "object": "audio",
          "created": 1781777280,
          "model": "soundCloningClone",
          "status": "queued",
          "error": null
        }
      },
      "SoundCloneQueryData": {
        "allOf": [
          {
            "$ref": "#/components/schemas/SoundCloneTaskData"
          },
          {
            "type": "object",
            "properties": {
              "modelId": {
                "type": "string",
                "description": "试听完成后返回"
              },
              "audioUrl": {
                "type": "string"
              },
              "subtitleFile": {
                "type": "string"
              }
            }
          }
        ]
      },
      "SoundCloneApiResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "example": 20000
          },
          "msg": {
            "type": "string",
            "example": "ok"
          },
          "data": {
            "$ref": "#/components/schemas/SoundCloneTaskData"
          }
        }
      },
      "SoundCloneQueryApiResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "example": 20000
          },
          "msg": {
            "type": "string",
            "example": "ok"
          },
          "data": {
            "$ref": "#/components/schemas/SoundCloneQueryData"
          }
        }
      },
      "FileUploadRequest": {
        "type": "object",
        "required": [
          "file"
        ],
        "properties": {
          "file": {
            "type": "string",
            "format": "binary",
            "description": "要上传的文件，字段名固定为 file"
          }
        }
      },
      "FileUploadData": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "description": "文件公网访问 URL",
            "example": "https://cdn.example.com/openapi/upload/20240628/abc123.jpg"
          },
          "filename": {
            "type": "string",
            "description": "原始文件名",
            "example": "photo.jpg"
          },
          "size": {
            "type": "integer",
            "format": "int64",
            "description": "文件大小（字节）",
            "example": 102400
          },
          "mime_type": {
            "type": "string",
            "description": "文件 MIME 类型",
            "example": "image/jpeg"
          }
        },
        "example": {
          "url": "https://cdn.example.com/openapi/upload/20240628/abc123.jpg",
          "filename": "photo.jpg",
          "size": 102400,
          "mime_type": "image/jpeg"
        }
      },
      "FileUploadApiResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "example": 20000
          },
          "msg": {
            "type": "string",
            "example": "ok"
          },
          "data": {
            "$ref": "#/components/schemas/FileUploadData"
          }
        }
      },
      "UserBalanceData": {
        "type": "object",
        "properties": {
          "balance": {
            "type": "number",
            "description": "账户总余额（含有效订阅赠送币）"
          },
          "used_coin": {
            "type": "number",
            "description": "账户历史净消费（全部消费记录之和减去退款记录之和），含该用户下所有 API Key"
          },
          "available": {
            "type": "number",
            "description": "可用余额"
          }
        }
      },
      "UserBalanceApiResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "example": 20000
          },
          "msg": {
            "type": "string",
            "example": "ok"
          },
          "data": {
            "$ref": "#/components/schemas/UserBalanceData"
          }
        }
      },
      "ApiKeyBalanceData": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "API Key 名称"
          },
          "total_quota": {
            "type": "number",
            "description": "总额度，0 表示不限额"
          },
          "used_quota": {
            "type": "number",
            "description": "本 Key 已用额度：经该 Key 发起且已成功扣费的 OpenAPI 费用累计（吉米币），用于与 total_quota 比较做额度限制"
          },
          "available_quota": {
            "type": "number",
            "description": "剩余额度"
          },
          "unlimited": {
            "type": "boolean",
            "description": "是否不限额"
          }
        }
      },
      "ApiKeyBalanceApiResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "example": 20000
          },
          "msg": {
            "type": "string",
            "example": "ok"
          },
          "data": {
            "$ref": "#/components/schemas/ApiKeyBalanceData"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}
