{
  "openapi": "3.1.0",
  "info": {
    "title": "Jimmy AI OpenAPI",
    "description": "API for Jimmy AI video generation services",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.viraltok.ai",
      "description": "Production server"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/api/open-api/v1/videos": {
      "post": {
        "summary": "Create Video Task",
        "description": "Create a new video generation task using Sora models. Route 1 (route1): model sora2-12s, duration must be 12. Route 3: sora2-gz-stable / sora2-gz-sp. Route 6: see model config.",
        "operationId": "createVideo",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VideoGenerationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoGenerationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/open-api/v1/videos/{taskId}": {
      "get": {
        "summary": "Query Video Task",
        "description": "Query the status and result of a video generation task.",
        "operationId": "queryVideo",
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "description": "The ID of the task to query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Task status and result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoQueryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/open-api/v1/images": {
      "post": {
        "summary": "GPT Image 2 图像生成",
        "description": "创建 GPT Image 2 异步图片任务（model=gpt-image-2）。同一路径亦支持 gpt-image-1.5、nano-banana 系列、doubao-seedream-5-0-pro 等，详见各模型专页。推荐用于生产环境，可避免同步接口经 Cloudflare 代理时的 504 超时。",
        "operationId": "createImage",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ImageGenerationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "任务创建成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageGenerationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/open-api/v1/images/{taskId}": {
      "get": {
        "summary": "查询图片任务",
        "description": "查询图片生成任务的状态和结果。",
        "operationId": "queryImage",
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "description": "要查询的任务 ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "任务状态和结果",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoQueryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/open-api/v1/images/understand": {
      "post": {
        "summary": "图片理解",
        "description": "基于 Gemini-3.5-flash 对上传的图片进行理解分析（支持电商产品宣传分析等功能）。",
        "operationId": "understandImage",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ImageUnderstandingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "图片理解成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageUnderstandingResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/open-api/v1/chat/completions": {
      "post": {
        "summary": "Chat Completions",
        "description": "兼容 OpenAI 的 Chat Completions，支持 ViraltokAI LLM（默认模型 gpt-5.6-sol）。按 usage token 从吉米币按量扣费。stream=true 时返回 SSE，计费以最后一个带 usage 的 chunk 为准。",
        "operationId": "chatCompletions",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatCompletionsRequest"
              },
              "example": {
                "model": "gpt-5.6-sol",
                "messages": [
                  {
                    "role": "user",
                    "content": "用一句话打个招呼。"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Chat 完成 JSON，或 stream=true 时的 text/event-stream",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatCompletionsResponse"
                }
              },
              "text/event-stream": {
                "schema": {
                  "type": "string",
                  "description": "OpenAI 风格 SSE（data: {...}，以 data: [DONE] 结束）"
                }
              }
            }
          }
        }
      }
    },
    "/api/open-api/v1/images/upscale": {
      "post": {
        "summary": "图片高清放大",
        "description": "同步图片高清放大。成功后立即扣费（计费模型 viraltok-image-upscale，费用 = 单价 × pass_count），默认返回 b64_json；需要 URL 时传 response_format=url。",
        "operationId": "upscaleImage",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpscaleImageRequest"
              },
              "example": {
                "image_url": "https://example.com/photo.jpg",
                "upscale_mode": "factor",
                "upscale_factor": 2,
                "output_format": "jpg",
                "response_format": "b64_json"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "高清放大成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpscaleImageResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/open-api/v1/images/remove-bg": {
      "post": {
        "summary": "AI 智能去背景",
        "description": "同步去背景接口。成功后立即扣费（计费模型 viraltok-remove-bg），默认返回 b64_json；需要 URL 时传 response_format=url。",
        "operationId": "removeBackground",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RemoveBackgroundRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "去背景成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RemoveBackgroundResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/open-api/v1/images/generations": {
      "post": {
        "summary": "GPT Image 2 文生图",
        "description": "同步文生图，兼容 OpenAI POST /v1/images/generations。成功响应后立即扣费，在 data 中返回图片结果，无需轮询。生图直连地址：https://img.viraltok.ai。同步调用若遇 504（多为 Cloudflare 代理超时），建议使用异步创建图片任务。",
        "operationId": "generateOpenAIImage",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpenAIImageGenerationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "生成成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAIImageSyncResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/open-api/v1/images/edits": {
      "post": {
        "summary": "GPT Image 2 编辑图片",
        "description": "同步图片编辑，兼容 OpenAI POST /v1/images/edits。使用 multipart/form-data 上传源图（支持多张，字段名均为 image），成功响应后立即扣费。生图直连地址：https://img.viraltok.ai。同步调用若遇 504（多为 Cloudflare 代理超时），建议使用异步创建图片任务。",
        "operationId": "editOpenAIImage",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/OpenAIImageEditRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "编辑成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAIImageSyncResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/open-api/v1/veo/frames": {
      "post": {
        "summary": "创建 VEO 视频",
        "description": "创建 VEO 视频任务。model 支持 veo_3_1_fast（Fast）或 veo_3_1_lite（Lite）。Fast：720p/1080p 计费 veo_3_1_fast，4k 计费 veo_3_1_fast-4k。Lite：仅 720p，计费 veo_3_1_lite（按次）。GET /api/open-api/v1/videos/{taskId} 查询。",
        "operationId": "createVeoFramesVideo",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VeoFramesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoGenerationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/open-api/v1/seedance/videos": {
      "post": {
        "summary": "创建 Seedance 视频任务",
        "description": "创建 Seedance 2.0 视频生成任务。支持满血版（sd2_mx_*，按秒计费，素材须审核）、SP 经济版（seedance2.0-sp / seedance2.0-fast-sp，按分辨率按秒计费，仅 720p/1080p，不支持 480p）、SP 官方版（seedance2.0-of-sp / seedance2.0-of-fast-sp，按分辨率按秒计费）、Mini 版（seedance2.0-mini，按分辨率按秒计费）、MD（seedance2.0-md / seedance2.0-fast-md / seedance2.0-pro / seedance2.0-fast-pro，按次计费，720p；Pro 最多 9 张参考图与 3 段音频、不支持参考视频）、Fast I2V（seedance2.0-fast-i2v，按次计费，720p，仅图片参考最多 9 张，不支持参考视频/音频）、STD 标准版（seedance2.0-std，按次计费，720p，支持音频参考）。Seedance 2.0 GZ（seedance2.0-gz*，按秒计费；素材须审核，公网 URL 可由平台代提审；结果为上游直链、不转存）。Seedance 933 720p（sd2-933-720p，按秒 0.0479，固定 720p；可选参考图/视频/音频、reference_mode、generate_audio）。创建后使用 GET /api/open-api/v1/videos/{taskId} 查询结果。详见 seedance/gz720/create、seedance/md/create、seedance/md/fast-i2v、seedance/md/std、seedance/mini/create 文档。",
        "operationId": "createSeedanceVideo",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SeedanceGenerationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoGenerationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/open-api/v1/seedance/assets/audit": {
      "post": {
        "summary": "提交素材审核",
        "description": "提交原始素材 URL 进行 Seedance 平台审核。仅满血版（sd2_mx_*）创建视频前必须审核；经济版与 MD 可直接传公网 URL。",
        "operationId": "submitSeedanceAudit",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SeedanceAuditSubmitRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "提交成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SeedanceAuditSubmitResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/open-api/v1/seedance/assets/status": {
      "post": {
        "summary": "查询素材审核状态",
        "description": "查询已提交审核素材的状态。",
        "operationId": "querySeedanceAuditStatus",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SeedanceAuditStatusRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "查询成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SeedanceAuditStatusResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/open-api/v1/seedance/sp/assets/upload": {
      "post": {
        "summary": "SP 上传素材",
        "description": "上传图片、视频、音频或文本素材到 Seedance SP 经济版素材库。返回 asset_id 可用于 asset:// 引用。",
        "operationId": "uploadSeedanceSpAsset",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SeedanceSpAssetUploadRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "上传成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SeedanceSpAssetUploadResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/open-api/v1/seedance/sp/assets/detail": {
      "post": {
        "summary": "SP 查询素材详情",
        "description": "查询单个 Seedance SP 素材的处理状态与详情。",
        "operationId": "querySeedanceSpAssetDetail",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SeedanceSpAssetDetailRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "查询成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SeedanceSpAssetDetailResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/open-api/v1/seedance/sp/assets/status": {
      "post": {
        "summary": "SP 批量查询素材状态",
        "description": "批量查询 Seedance SP 素材的处理状态。",
        "operationId": "querySeedanceSpAssetBatchStatus",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SeedanceSpAssetBatchStatusRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "查询成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SeedanceSpAssetBatchStatusResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/open-api/v1/gemini/omni/videos": {
      "post": {
        "summary": "创建 Gemini Omni 视频任务",
        "description": "创建 Gemini Omni 视频生成任务。任务创建后，请使用通用视频任务查询接口获取生成状态和结果。",
        "operationId": "createGeminiOmniVideo",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GeminiOmniGenerationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "任务创建成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoGenerationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/open-api/v1/grok/videos": {
      "post": {
        "summary": "创建 Grok 1.5 视频任务",
        "description": "创建 Grok 1.5 视频生成任务。任务创建后，请使用通用视频任务查询接口获取生成状态和结果。",
        "operationId": "createGrokVideo",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GrokGenerationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "任务创建成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoGenerationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/open-api/v1/minimax/videos": {
      "post": {
        "summary": "创建 MiniMax H3 视频任务",
        "description": "创建 MiniMax H3 / MiniMax H3 GZ 视频生成任务。minimax-h3 支持参考图、参考音频与首尾帧；minimax-h3-gz 额外支持参考视频（最多 3 个）及 2K/768P 分辨率（默认 768P）。无参考视频时按次计费；传入 reference_videos 时按秒计费，秒数 = 参考视频时长 + duration，单价为独立的 minimax-h3-gz-video-{resolution}。任务创建后请使用 GET /api/open-api/v1/videos/{taskId} 查询结果。",
        "operationId": "createMinimaxH3Video",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MinimaxH3GenerationRequest"
              },
              "examples": {
                "default": {
                  "summary": "创建 MiniMax H3 任务",
                  "value": {
                    "model": "minimax-h3",
                    "prompt": "电影感产品展示，自然光",
                    "duration": 5,
                    "aspect_ratio": "16:9",
                    "size": "2560x1440",
                    "reference_images": [
                      "https://example.com/reference.png"
                    ],
                    "reference_audios": [
                      "https://example.com/reference.mp3"
                    ]
                  }
                },
                "gz": {
                  "summary": "创建 MiniMax H3 GZ 任务（含参考视频）",
                  "value": {
                    "model": "minimax-h3-gz",
                    "prompt": "一个男孩在海边打篮球，黄昏，海浪拍岸，电影感运镜",
                    "duration": 5,
                    "aspect_ratio": "16:9",
                    "resolution": "768P",
                    "reference_images": [
                      "https://example.com/char.png"
                    ],
                    "reference_videos": [
                      "https://example.com/ref_motion.mp4"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "任务创建成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoGenerationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/open-api/v1/kling/videos": {
      "post": {
        "summary": "创建 Kling O3 视频任务",
        "description": "创建 Kling O3 视频生成任务。支持文本提示词、最多 3 张参考图、可选首尾帧，时长 3-15 秒，画幅 16:9/9:16/1:1，分辨率 720p/1080p，以及可选音频轨。计费方式为 per_task（按次；duration 不参与计费）。任务创建后请使用 GET /api/open-api/v1/videos/{taskId} 查询结果。",
        "operationId": "createKlingO3Video",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KlingO3GenerationRequest"
              },
              "examples": {
                "default": {
                  "summary": "创建 Kling O3 任务",
                  "value": {
                    "model": "kling-o3",
                    "prompt": "电影感产品展示，自然光",
                    "duration": 6,
                    "aspect_ratio": "16:9",
                    "resolution": "720p",
                    "reference_images": [
                      "https://example.com/reference.png"
                    ],
                    "generate_audio": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "任务创建成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoGenerationResponse"
                },
                "examples": {
                  "queued": {
                    "summary": "创建成功",
                    "value": {
                      "code": "20000",
                      "msg": "ok",
                      "data": {
                        "task_id": "video_kling_o3_123456",
                        "status": "queued",
                        "model": "kling-o3-720p",
                        "created_at": 1782529105,
                        "cost": 0.3
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/open-api/v1/super-resolution/videos": {
      "post": {
        "summary": "创建视频超分任务",
        "description": "创建视频超分任务，将公网视频增强为更高清结果。分辨率与帧率由 model 档位决定。任务创建后请使用 GET /api/open-api/v1/videos/{taskId} 查询结果。计费按时长向上取整按秒扣除。",
        "operationId": "createSuperResolutionVideo",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SuperResolutionRequest"
              },
              "examples": {
                "default": {
                  "summary": "创建超分任务",
                  "value": {
                    "model": "superResolution-1080p-lowfps",
                    "video_url": "https://example.com/input-low-resolution.mp4"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "任务创建成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoGenerationResponse"
                },
                "examples": {
                  "queued": {
                    "summary": "创建成功",
                    "value": {
                      "code": 0,
                      "msg": "ok",
                      "data": {
                        "task_id": "video_task_1234567890",
                        "status": "queued",
                        "model": "superResolution-1080p-lowfps",
                        "created_at": 1782529105,
                        "cost": 0.4
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/open-api/v1/digital-human/videos": {
      "post": {
        "summary": "创建数字人任务",
        "description": "提交数字人口型驱动视频生成任务。传入人脸视频与驱动音频，可选模型版本与侧脸/歪头优化。任务创建后请使用 GET /api/open-api/v1/videos/{taskId} 查询结果。计费按 video_url 时长向上取整按秒扣除。",
        "operationId": "createDigitalHumanVideo",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DigitalHumanRequest"
              },
              "examples": {
                "default": {
                  "summary": "创建数字人任务",
                  "value": {
                    "model": "digitalHuman",
                    "audio_url": "https://example.com/drive-audio.mp3",
                    "video_url": "https://example.com/face-video.mp4",
                    "model_version": 2
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "任务创建成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoGenerationResponse"
                },
                "examples": {
                  "queued": {
                    "summary": "创建成功",
                    "value": {
                      "code": 0,
                      "msg": "ok",
                      "data": {
                        "task_id": "video_16b635ba-5889-4fa5-bbcc-bf67a38c353a",
                        "status": "queued",
                        "model": "digitalHuman",
                        "created_at": 1781777280,
                        "cost": 0.32
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/open-api/v1/remove-subtitle/videos": {
      "post": {
        "summary": "创建去字幕任务",
        "description": "提交视频去字幕任务。传入待处理视频公网 URL。任务创建后请使用 GET /api/open-api/v1/videos/{taskId} 查询结果。计费按 video_url 时长向上取整按秒扣除。",
        "operationId": "createRemoveSubtitleVideo",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RemoveSubtitleRequest"
              },
              "examples": {
                "default": {
                  "summary": "创建去字幕任务",
                  "value": {
                    "model": "video_remove_subtitle",
                    "video_url": "https://example.com/input.mp4"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "任务创建成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoGenerationResponse"
                },
                "examples": {
                  "queued": {
                    "summary": "创建成功",
                    "value": {
                      "code": 0,
                      "msg": "ok",
                      "data": {
                        "task_id": "video_16b635ba-5889-4fa5-bbcc-bf67a38c353a",
                        "status": "queued",
                        "model": "video_remove_subtitle",
                        "created_at": 1781777280,
                        "cost": 0.6
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/open-api/v1/video-translate/videos": {
      "post": {
        "summary": "创建视频翻译任务",
        "description": "提交视频翻译任务。传入待翻译视频公网 URL 与目标语言。源视频最长 8 分钟。任务创建后请使用 GET /api/open-api/v1/videos/{taskId} 查询结果（result.video_url；可选 result.caption_url）。计费按 video_url 时长向上取整按秒扣除。",
        "operationId": "createVideoTranslate",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VideoTranslateRequest"
              },
              "examples": {
                "default": {
                  "summary": "创建视频翻译任务",
                  "value": {
                    "model": "video-translate-precision",
                    "video_url": "https://example.com/input.mp4",
                    "output_language": "zh",
                    "enable_caption": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "任务创建成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoGenerationResponse"
                },
                "examples": {
                  "queued": {
                    "summary": "创建成功",
                    "value": {
                      "code": 0,
                      "msg": "ok",
                      "data": {
                        "task_id": "video_16b635ba-5889-4fa5-bbcc-bf67a38c353a",
                        "status": "queued",
                        "model": "video-translate-precision",
                        "created_at": 1781777280,
                        "cost": 1.2
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/open-api/v1/soundCloning/clones": {
      "post": {
        "summary": "SoundClone - 提交试听任务",
        "description": "提交声音克隆试听任务，生成试听音频并返回声音模型 ID。任务创建后请使用 GET /api/open-api/v1/audios/{id} 查询结果。",
        "operationId": "createSoundClonePreview",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SoundCloneCloneRequest"
              },
              "examples": {
                "preview": {
                  "summary": "提交试听",
                  "value": {
                    "fileUrl": "https://example.com/source-audio.mp3",
                    "contentText": "在森林的深处，阳光透过树梢洒落，鸟儿的歌声交织成一曲美妙的乐章，诉说着大自然无尽的美丽。",
                    "soundVersion": "v1",
                    "language": "Chinese"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "任务创建成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SoundCloneApiResponse"
                },
                "examples": {
                  "queued": {
                    "summary": "创建成功",
                    "value": {
                      "code": 20000,
                      "msg": "ok",
                      "data": {
                        "id": "audio_16b635ba-5889-4fa5-bbcc-bf67a38c353a",
                        "object": "audio",
                        "created": 1781777280,
                        "model": "soundCloningClone",
                        "status": "queued",
                        "error": null
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/open-api/v1/soundCloning/audios": {
      "post": {
        "summary": "SoundClone - 提交音频生成任务",
        "description": "使用试听任务得到的 modelId 提交正式音频生成任务。",
        "operationId": "createSoundCloneAudio",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SoundCloneAudioRequest"
              },
              "examples": {
                "production": {
                  "summary": "提交正式音频",
                  "value": {
                    "modelId": "model_123456789",
                    "contentText": "欢迎使用声音克隆能力，这是一段用于生成正式音频的文本。",
                    "language": "Chinese",
                    "soundVersion": "v1",
                    "emotion": "neutral",
                    "speed": 1,
                    "vol": 1,
                    "pitch": 0,
                    "subtitleEnable": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "任务创建成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SoundCloneApiResponse"
                },
                "examples": {
                  "queued": {
                    "summary": "创建成功",
                    "value": {
                      "code": 20000,
                      "msg": "ok",
                      "data": {
                        "id": "audio_764fb3e7-8af2-4d2d-89a0-e58f8f3eb9c4",
                        "object": "audio",
                        "created": 1781777280,
                        "model": "soundCloningAudio",
                        "status": "queued",
                        "error": null
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/open-api/v1/audios/{id}": {
      "get": {
        "summary": "SoundClone - 查询结果",
        "description": "查询声音克隆试听或正式音频任务的状态与结果。",
        "operationId": "querySoundCloneResult",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "任务 ID，来自提交试听或提交音频生成接口",
            "schema": {
              "type": "string"
            },
            "example": "audio_16b635ba-5889-4fa5-bbcc-bf67a38c353a"
          }
        ],
        "responses": {
          "200": {
            "description": "任务状态与结果",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SoundCloneQueryApiResponse"
                },
                "examples": {
                  "completed": {
                    "summary": "试听任务已完成",
                    "value": {
                      "code": 20000,
                      "msg": "ok",
                      "data": {
                        "id": "audio_16b635ba-5889-4fa5-bbcc-bf67a38c353a",
                        "object": "audio",
                        "created": 1781777280,
                        "model": "soundCloningClone",
                        "status": "completed",
                        "modelId": "model_123456789",
                        "audioUrl": "https://example.com/preview-audio.mp3",
                        "error": null
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/open-api/v1/user/balance": {
      "get": {
        "summary": "查询用户账户余额",
        "description": "查询当前 API Key 所属用户的吉米币账户余额（总余额、历史净消费、可用余额）。used_coin 为账户全量消费减退款，含所有 Key；OpenAPI 调用费用从该账户扣除。",
        "operationId": "getUserBalance",
        "responses": {
          "200": {
            "description": "查询成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserBalanceApiResponse"
                },
                "examples": {
                  "success": {
                    "summary": "查询成功",
                    "value": {
                      "code": 20000,
                      "msg": "ok",
                      "data": {
                        "balance": 100.5,
                        "used_coin": 20.3,
                        "available": 80.2
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/open-api/v1/key/balance": {
      "get": {
        "summary": "查询 API Key 额度余额",
        "description": "查询当前 API Key 的调用额度（总额度、已用、剩余）。total_quota 为 0 时表示不限额。used_quota 为本 Key 已成功扣费的 OpenAPI 调用费用累计，用于额度上限校验；与 /user/balance 的 used_coin（账户全量净消费）统计维度不同。",
        "operationId": "getApiKeyBalance",
        "responses": {
          "200": {
            "description": "查询成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyBalanceApiResponse"
                },
                "examples": {
                  "success": {
                    "summary": "查询成功",
                    "value": {
                      "code": 20000,
                      "msg": "ok",
                      "data": {
                        "name": "production-key",
                        "total_quota": 1000,
                        "used_quota": 120.5,
                        "available_quota": 879.5,
                        "unlimited": false
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/openapi/model/catalog": {
      "get": {
        "summary": "查询探测模型定价",
        "description": "探测并返回当前启用的 OpenAPI 计费模型公开定价及默认单价、计费方式。列表为平台基准价；账户定制价在扣费时生效。",
        "operationId": "listModelCatalog",
        "security": [],
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "required": false,
            "description": "可选，按 model_name、display_name、model_type、remark 子串过滤",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModelCatalogApiResponse"
                },
                "examples": {
                  "success": {
                    "summary": "成功",
                    "value": {
                      "code": 20000,
                      "msg": "ok",
                      "data": {
                        "list": [
                          {
                            "model_name": "seedance2.5",
                            "display_name": "Seedance 2.5",
                            "model_type": "video",
                            "price_mode": "per_second",
                            "unit_price": 0.05,
                            "official_price": 0.08,
                            "remark": "",
                            "group": "Seedance 2.5 Video"
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/open-api/v1/files/upload": {
      "post": {
        "summary": "上传文件",
        "description": "上传图片、视频或音频文件，返回可公网访问的文件 URL。单文件最大 100 MB。",
        "operationId": "uploadFile",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/FileUploadRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "上传成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileUploadApiResponse"
                },
                "examples": {
                  "success": {
                    "summary": "上传成功",
                    "value": {
                      "code": 20000,
                      "msg": "ok",
                      "data": {
                        "url": "https://cdn.example.com/openapi/upload/20240628/abc123.jpg",
                        "filename": "photo.jpg",
                        "size": 102400,
                        "mime_type": "image/jpeg"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/open-api/v1/videos/understand": {
      "post": {
        "summary": "视频理解",
        "description": "基于 Gemini 对视频进行理解分析。支持 contents 内联 base64 视频，或传 video_url 由服务端下载注入（≤80MB）。默认同步模型 gemini-3.7-flash。",
        "operationId": "understandVideo",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VideoUnderstandingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "视频理解成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageUnderstandingResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/open-api/v1/seedance25/videos": {
      "post": {
        "summary": "创建 Seedance 2.5 视频任务",
        "description": "创建 Seedance 2.5 视频生成任务。标准版 seedance-2.5：最多 30 张参考图、最多 10 个参考视频（单条与合计 ≤30.2 秒）、最多 10 段参考音频（单条 ≤30 秒），时长 4-30 秒，resolution 480p/720p/1080p，按分辨率 per_second（seedance-2.5-480p / seedance-2.5-720p / seedance-2.5-1080p）。SP seedance-2.5-sp：固定 0.5/秒，仅 720p，时长 4-30 秒，素材限制同上，并支持 first_image / last_image 首尾帧。GZ seedance2.5-gz：创建时按分辨率预扣（seedance2.5-gz-480p / seedance2.5-gz-720p；含参考视频时走 seedance2.5-gz-video-*），成功后按实际消耗多退少补，时长 4-30 或 -1，比例含 adaptive，支持参考图/视频/音频/首尾帧。MD seedance2.5-md / seedance2.5-30s：固定 15 秒 / 30 秒输出，画幅仅 9:16 与 16:9，支持参考图，不支持首尾帧，per_task 按次计费，不提供 10 秒档位。详见各型号专题页。任务创建后请使用 GET /api/open-api/v1/videos/{taskId} 查询结果。",
        "operationId": "createSeedance25Video",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Seedance25GenerationRequest"
              },
              "examples": {
                "default": {
                  "summary": "创建 Seedance 2.5 任务",
                  "value": {
                    "model": "seedance-2.5",
                    "prompt": "电影感产品展示，自然光",
                    "duration": 4,
                    "aspect_ratio": "16:9",
                    "resolution": "720p",
                    "reference_images": [
                      "https://example.com/reference.png"
                    ],
                    "reference_videos": [
                      "https://example.com/reference.mp4"
                    ],
                    "reference_audios": [
                      "https://example.com/reference.mp3"
                    ]
                  }
                },
                "md15": {
                  "summary": "Seedance 2.5 MD 15 秒",
                  "value": {
                    "model": "seedance2.5-md",
                    "prompt": "电影感产品展示，自然光，缓慢推镜",
                    "aspect_ratio": "16:9",
                    "reference_images": [
                      "https://example.com/reference.png"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "任务创建成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoGenerationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/open-api/v1/flux3/videos": {
      "post": {
        "summary": "创建 Flux 3 视频任务",
        "description": "创建 Flux 3 视频任务。仅支持 6 个模型：flux-3-draft / flux-3-i2v-draft / flux-3-flf-draft / flux-3-keyframes-draft / flux-3-extend-draft（固定 720p）与 flux-3-enhance（固定 1080p）。不要传 resolution。计费模型=请求 model，按秒 × duration（5–20）。草稿返回 result.draft_cache_url。GET /api/open-api/v1/videos/{taskId} 查询。",
        "operationId": "createFlux3Video",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Flux3GenerationRequest"
              },
              "examples": {
                "default": {
                  "summary": "Flux 3 文生草稿",
                  "value": {
                    "model": "flux-3-draft",
                    "prompt": "一只小熊猫在苔藓圆木上行走",
                    "duration": 5,
                    "aspect_ratio": "16:9"
                  }
                },
                "enhance": {
                  "summary": "Flux 3 草稿增强",
                  "value": {
                    "model": "flux-3-enhance",
                    "duration": 5,
                    "draft_cache_url": "https://example.com/draft-cache.bin"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "任务创建成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoGenerationResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "VideoGenerationRequest": {
        "type": "object",
        "required": [
          "model",
          "prompt",
          "duration"
        ],
        "properties": {
          "model": {
            "type": "string",
            "description": "模型名称。线路一: sora2-12s（duration 必须为 12）；线路三: sora2-gz-stable, sora2-gz-sp 等"
          },
          "prompt": {
            "type": "string",
            "description": "用于生成视频的文本提示词"
          },
          "duration": {
            "type": "integer",
            "description": "时长(秒)。线路一 sora2-12s 必须为 12"
          },
          "orientation": {
            "type": "string",
            "enum": [
              "landscape",
              "portrait"
            ],
            "description": "视频方向"
          },
          "images": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "参考图 URL 列表"
          }
        }
      },
      "SeedanceGenerationRequest": {
        "type": "object",
        "required": [
          "model",
          "prompt",
          "duration"
        ],
        "properties": {
          "model": {
            "type": "string",
            "description": "模型名称。满血版: sd2_mx_720p | sd2_mx_1080p | sd2_mx_2k | sd2_mx_4k；Fast: sd2_mx_fast_720p | sd2_mx_fast_1080p；视频参考: sd2_mx_video_720p | sd2_mx_video_1080p | sd2_mx_video_2k | sd2_mx_video_4k；视频参考 Fast: sd2_mx_video_fast_720p | sd2_mx_video_fast_1080p（均按秒）。reference_videos 仅 video 系列支持。SP 经济版: seedance2.0-sp | seedance2.0-fast-sp（按分辨率按秒，720p/1080p，不支持 480p）。SP 官方版: seedance2.0-of-sp | seedance2.0-of-fast-sp（按分辨率按秒）。Mini版: seedance2.0-mini（按分辨率按秒，亦可直接传计费名如 seedance2.0-mini-720p / seedance2.0-mini-720p-video）。MD: seedance2.0-md（4-15s，最多4图3视频1音频）| seedance2.0-fast-md（10/15s，最多4图3视频1音频）| seedance2.0-pro（10/15s，最多9图3音频，不支持视频）| seedance2.0-fast-pro（10/15s，最多9图3音频，不支持视频）。Fast I2V: seedance2.0-fast-i2v（按次，720p，仅图片参考）。STD 标准版: seedance2.0-std（按次，720p）. Seedance 2.0 933: seedance2.0-933 (per-second by resolution; billing names seedance2.0-933-480p/-720p/-1080p)。Seedance 2.0 GZ: seedance2.0-gz*（按秒；标准档 480p/720p/1080p，fast/mini 仅 480p/720p；素材须审核；结果为上游直链）。Seedance 933 720p: sd2-933-720p（按秒 0.0479，固定 720p；最多 9 图 / 3 视频 / 3 音频）"
          },
          "prompt": {
            "type": "string",
            "description": "用于生成视频的文本提示词。MD 版最多 5000 字符"
          },
          "duration": {
            "type": "integer",
            "description": "时长（秒）。满血版 4-15；SP 经济版 4-15；seedance2.0-md 4-15；seedance2.0-fast-md / seedance2.0-pro / seedance2.0-fast-pro 仅 10 或 15；STD 标准版 4-15。默认 5"
          },
          "resolution": {
            "type": "string",
            "enum": [
              "480p",
              "720p",
              "1080p"
            ],
            "description": "输出分辨率。SP 经济版有效：720p（默认）、1080p，不支持 480p；Mini 版另支持 480p"
          },
          "orientation": {
            "type": "string",
            "enum": [
              "landscape",
              "portrait"
            ],
            "description": "视频方向（如已传 ratio 则以 ratio 为准）"
          },
          "images": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "参考图列表。满血版须为 asset://{assetId}；SP/MD/STD/Fast I2V 可为 https:// URL。seedance2.0-md / seedance2.0-fast-md 最多 4 张；seedance2.0-pro / seedance2.0-fast-pro / seedance2.0-fast-i2v / STD 最多 9 张。与首尾帧不可同时使用。seedance2.0-gz*: https:// 或 asset://，最多 9 张；公网 URL 会先走素材审核"
          },
          "ratio": {
            "type": "string",
            "description": "输出比例。MD 仅支持 16:9、9:16、1:1；STD 支持 21:9、16:9、4:3、1:1、3:4、9:16；满血版还支持 4:3、3:4、21:9、Adaptive"
          },
          "first_image": {
            "type": "string",
            "description": "首帧图片。满血版: asset://{assetId}；经济版/MD: https:// URL。MD 首尾帧模式须与 last_image 同时传入，不支持仅传首帧"
          },
          "last_image": {
            "type": "string",
            "description": "尾帧图片。满血版: asset://{assetId}；经济版/MD: https:// URL。MD 首尾帧模式须与 first_image 同时传入"
          },
          "reference_videos": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "参考视频列表。满血版: asset://{assetId}；经济版/MD: https:// URL。seedance2.0-md / seedance2.0-fast-md 最多 3 个，总时长不超过 15 秒，总大小不超过 200MB，单个分辨率须在 720px–2160px 之间。seedance2.0-pro / seedance2.0-fast-pro / seedance2.0-fast-i2v 不支持。seedance2.0-gz* 最多 3 个"
          },
          "reference_audios": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "参考音频列表。满血版/SP 经济版/STD 支持；seedance2.0-md / seedance2.0-fast-md 最多 1 段；seedance2.0-pro / seedance2.0-fast-pro 最多 3 段且须搭配 images；seedance2.0-fast-i2v 不支持。满血版须 asset://{assetId}，SP/MD 可为 https:// URL。首尾帧模式不支持音频参考。seedance2.0-gz* 最多 3 段且须搭配图或视频"
          },
          "aspect_ratio": {
            "type": "string",
            "description": "Aspect ratio alias (used by seedance2.0-933; takes precedence over ratio). 933 supports 21:9/16:9/4:3/1:1/3:4/9:16"
          },
          "reference_images": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Alias for images. seedance2.0-933: max 9"
          },
          "videos": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Alias for reference_videos. seedance2.0-933: max 3"
          },
          "audios": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Alias for reference_audios. seedance2.0-933: max 3"
          },
          "face_processing": {
            "type": "boolean",
            "description": "seedance2.0-933 only. Enable face processing. Default true"
          },
          "generate_audio": {
            "type": "boolean",
            "description": "seedance2.0-933 only. Generate audio. Default false"
          },
          "reference_mode": {
            "type": "string",
            "enum": [
              "image",
              "frame"
            ],
            "description": "seedance2.0-933 only. Reference mode. Default image"
          }
        }
      },
      "ImageGenerationRequest": {
        "type": "object",
        "required": [
          "model",
          "prompt"
        ],
        "properties": {
          "model": {
            "type": "string",
            "description": "模型名称 (如: gpt-image-2, gpt-image-1.5, nano-banana, nano-banana-2, nano-banana-pro, doubao-seedream-5-0-pro)"
          },
          "prompt": {
            "type": "string",
            "description": "用于生成图片的文本提示词"
          },
          "ratio": {
            "type": "string",
            "description": "画面比例。支持的值：auto (自动), 1:1 (正方), 3:2 (横图), 2:3 (竖图), 4:3 (横图), 3:4 (竖图), 5:4 (横图), 4:5 (竖图), 16:9 (横图), 9:16 (竖图), 2:1 (横图), 1:2 (竖图), 3:1 (横图), 1:3 (竖图), 21:9 (横图), 9:21 (竖图)。doubao-seedream-5-0-pro 仅支持 1:1、4:3、3:4、16:9、9:16、3:2、2:3、21:9、auto。",
            "enum": [
              "auto",
              "1:1",
              "3:2",
              "2:3",
              "4:3",
              "3:4",
              "5:4",
              "4:5",
              "16:9",
              "9:16",
              "2:1",
              "1:2",
              "3:1",
              "1:3",
              "21:9",
              "9:21"
            ],
            "default": "auto"
          },
          "images": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "参考图 URL 或 base64 列表。doubao-seedream-5-0-pro 最多 10 张；单张：格式 jpeg/png/webp/bmp/tiff/gif/heic/heif，宽高比 [1/16,16]，宽高 >14px，≤30MB，总像素 ≤6000×6000"
          },
          "resolution": {
            "type": "string",
            "description": "图片分辨率。doubao-seedream-5-0-pro：1k、2k（默认 2k），不支持 4k。gpt-image-2、nano-banana-2 等：1k、2k、4k。注意：gpt-image-2 开启 4k 时仅支持以下比例：16:9 / 9:16 / 2:1 / 1:2 / 21:9 / 9:21。",
            "enum": [
              "1k",
              "2k",
              "4k"
            ],
            "default": "1k"
          },
          "quality": {
            "type": "string",
            "description": "画质档位（gpt-image-2 / gpt-image-1.5）。支持的值：low / medium / high / auto。",
            "enum": [
              "low",
              "medium",
              "high",
              "auto"
            ],
            "default": "low"
          },
          "n": {
            "type": "integer",
            "description": "生成张数。gpt-image-1.5：1–4；超出范围会按边界裁剪。",
            "minimum": 1,
            "maximum": 4,
            "default": 1
          },
          "background": {
            "type": "string",
            "description": "背景模式（gpt-image-1.5）。auto / opaque / transparent；transparent 需搭配 output_format=png。",
            "enum": [
              "auto",
              "opaque",
              "transparent"
            ],
            "default": "auto"
          },
          "moderation": {
            "type": "string",
            "description": "审核强度（gpt-image-1.5）。auto / low。",
            "enum": [
              "auto",
              "low"
            ],
            "default": "auto"
          },
          "output_format": {
            "type": "string",
            "description": "输出格式（gpt-image-1.5）。png / jpeg。",
            "enum": [
              "png",
              "jpeg"
            ],
            "default": "png"
          },
          "mask_url": {
            "type": "string",
            "description": "局部重绘遮罩图 URL（gpt-image-1.5），需同时传 images。"
          }
        }
      },
      "ImageGenerationResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "example": "20000"
          },
          "msg": {
            "type": "string",
            "example": "ok"
          },
          "data": {
            "type": "object",
            "properties": {
              "task_id": {
                "type": "string"
              },
              "status": {
                "type": "string"
              },
              "model": {
                "type": "string"
              },
              "created_at": {
                "type": "integer",
                "format": "int64"
              },
              "cost": {
                "type": "number",
                "format": "double",
                "description": "本次任务扣费金额（吉米币）。若控制台配置了用户定制单价，则按定制价计费。"
              }
            }
          }
        }
      },
      "VeoFramesRequest": {
        "type": "object",
        "required": [
          "model",
          "prompt"
        ],
        "properties": {
          "model": {
            "type": "string",
            "description": "请求模型：veo_3_1_fast / veo_3_1_fast-4k，或 veo_3_1_lite（仅 720p）。"
          },
          "prompt": {
            "type": "string",
            "description": "文本提示词"
          },
          "resolution": {
            "type": "string",
            "enum": [
              "720p",
              "1080p",
              "4k"
            ],
            "description": "视频分辨率。Fast：720p/1080p→veo_3_1_fast，4k→veo_3_1_fast-4k。Lite：仅 720p→veo_3_1_lite。"
          },
          "orientation": {
            "type": "string",
            "enum": [
              "landscape",
              "portrait"
            ],
            "description": "视频方向"
          },
          "first_frame_url": {
            "type": "string",
            "description": "第一帧图片 URL"
          },
          "last_frame_url": {
            "type": "string",
            "description": "最后一帧图片 URL"
          },
          "images": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "参考图 URL 列表"
          }
        }
      },
      "VideoGenerationResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "example": "20000"
          },
          "msg": {
            "type": "string",
            "example": "ok"
          },
          "data": {
            "type": "object",
            "properties": {
              "task_id": {
                "type": "string"
              },
              "status": {
                "type": "string"
              },
              "model": {
                "type": "string"
              },
              "created_at": {
                "type": "integer",
                "format": "int64"
              },
              "cost": {
                "type": "number",
                "format": "double",
                "description": "本次任务扣费金额（吉米币）。若控制台配置了用户定制单价，则按定制价计费。"
              }
            }
          }
        }
      },
      "VideoQueryResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "example": "20000"
          },
          "msg": {
            "type": "string",
            "example": "ok"
          },
          "data": {
            "type": "object",
            "properties": {
              "task_id": {
                "type": "string"
              },
              "status": {
                "type": "string"
              },
              "progress": {
                "type": "integer"
              },
              "model": {
                "type": "string"
              },
              "created_at": {
                "type": "integer",
                "format": "int64"
              },
              "completed_at": {
                "type": "integer",
                "format": "int64"
              },
              "result": {
                "type": "object",
                "properties": {
                  "video_url": {
                    "type": "string",
                    "description": "生成的视频 URL (有效期3天)"
                  },
                  "image_url": {
                    "type": "string",
                    "description": "生成的图片 URL (针对图片任务，有效期3天)"
                  }
                }
              },
              "error_message": {
                "type": "string"
              },
              "cost": {
                "type": "number",
                "format": "double",
                "description": "本次任务扣费金额（吉米币）。若控制台配置了用户定制单价，则按定制价计费。"
              },
              "usage": {
                "type": "object",
                "description": "Token 用量。seedance2.5-gz 等按 token 结算的任务完成后返回。",
                "properties": {
                  "completion_tokens": {
                    "type": "integer",
                    "example": 246840
                  },
                  "total_tokens": {
                    "type": "integer",
                    "example": 246840
                  }
                }
              }
            }
          }
        }
      },
      "SeedanceAuditSubmitRequest": {
        "type": "object",
        "properties": {
          "audio_urls": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "音频 URL 列表"
          },
          "image_urls": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "图片 URL 列表"
          },
          "video_urls": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "视频 URL 列表"
          }
        }
      },
      "SeedanceAuditSubmitResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "example": "20000"
          },
          "msg": {
            "type": "string",
            "example": "ok"
          },
          "data": {
            "type": "object",
            "properties": {
              "failed_items": {
                "type": "array",
                "items": {
                  "type": "object"
                },
                "description": "失败素材列表"
              },
              "items": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/SeedanceAuditItem"
                },
                "description": "提交成功的审核状态条目列表"
              }
            }
          }
        }
      },
      "SeedanceAuditItem": {
        "type": "object",
        "properties": {
          "asset_id": {
            "type": "string",
            "description": "素材 ID"
          },
          "original_url": {
            "type": "string",
            "description": "原始素材 URL"
          },
          "asset_type": {
            "type": "string",
            "description": "素材类型 (如 video, image, audio)"
          },
          "status": {
            "type": "string",
            "description": "审核状态"
          }
        }
      },
      "SeedanceAuditStatusRequest": {
        "type": "object",
        "required": [
          "asset_ids"
        ],
        "properties": {
          "asset_ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "要查询的素材 ID 列表"
          }
        }
      },
      "SeedanceAuditStatusResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "example": "20000"
          },
          "msg": {
            "type": "string",
            "example": "ok"
          },
          "data": {
            "type": "object",
            "properties": {
              "items": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/SeedanceAuditStatusItem"
                },
                "description": "素材状态列表"
              }
            }
          }
        }
      },
      "SeedanceAuditStatusItem": {
        "type": "object",
        "properties": {
          "asset_id": {
            "type": "string",
            "description": "素材 ID"
          },
          "status": {
            "type": "string",
            "description": "审核/激活状态 (如 Active 表示可用)"
          }
        }
      },
      "SeedanceSpAssetUploadRequest": {
        "type": "object",
        "required": [
          "name",
          "type",
          "url"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "素材名称"
          },
          "type": {
            "type": "string",
            "enum": [
              "image",
              "video",
              "audio",
              "text"
            ],
            "description": "素材类型"
          },
          "url": {
            "type": "string",
            "description": "素材公网 URL"
          }
        }
      },
      "SeedanceSpAssetUploadResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "example": 0
          },
          "msg": {
            "type": "string",
            "example": "ok"
          },
          "data": {
            "type": "object",
            "properties": {
              "asset_id": {
                "type": "string",
                "description": "素材 ID，可用于 asset:// 引用"
              }
            }
          }
        }
      },
      "SeedanceSpAssetDetailRequest": {
        "type": "object",
        "required": [
          "asset_id"
        ],
        "properties": {
          "asset_id": {
            "type": "string",
            "description": "素材 ID"
          }
        }
      },
      "SeedanceSpAssetDetailResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "example": 0
          },
          "msg": {
            "type": "string",
            "example": "ok"
          },
          "data": {
            "type": "object",
            "properties": {
              "asset_id": {
                "type": "string"
              },
              "official_id": {
                "type": "string"
              },
              "status": {
                "type": "string",
                "description": "NONE / UPLOADING / PROCESSING / ACTIVE / FAILED / EXPIRED / DELETED。仅 ACTIVE 可用于视频生成"
              },
              "name": {
                "type": "string"
              },
              "image_url": {
                "type": "string"
              },
              "created_at": {
                "type": "string"
              }
            }
          }
        }
      },
      "SeedanceSpAssetBatchStatusRequest": {
        "type": "object",
        "required": [
          "asset_ids"
        ],
        "properties": {
          "asset_ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "素材 ID 列表"
          }
        }
      },
      "SeedanceSpAssetBatchStatusResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "example": 0
          },
          "msg": {
            "type": "string",
            "example": "ok"
          },
          "data": {
            "type": "object",
            "properties": {
              "items": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/SeedanceSpAssetDetailItem"
                }
              }
            }
          }
        }
      },
      "SeedanceSpAssetDetailItem": {
        "type": "object",
        "properties": {
          "asset_id": {
            "type": "string"
          },
          "official_id": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "image_url": {
            "type": "string"
          },
          "created_at": {
            "type": "string"
          }
        }
      },
      "ImageUnderstandingRequest": {
        "type": "object",
        "required": [
          "model",
          "contents"
        ],
        "properties": {
          "model": {
            "type": "string",
            "description": "模型名称 (如: gemini-3.5-flash)"
          },
          "contents": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GeminiContent"
            },
            "description": "内容对话上下文"
          }
        }
      },
      "GeminiContent": {
        "type": "object",
        "required": [
          "role",
          "parts"
        ],
        "properties": {
          "role": {
            "type": "string",
            "description": "角色 (user 或 model)"
          },
          "parts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GeminiPart"
            }
          }
        }
      },
      "GeminiPart": {
        "type": "object",
        "properties": {
          "text": {
            "type": "string",
            "description": "文本内容"
          },
          "inline_data": {
            "$ref": "#/components/schemas/GeminiInlineData"
          }
        }
      },
      "GeminiInlineData": {
        "type": "object",
        "required": [
          "mime_type",
          "data"
        ],
        "properties": {
          "mime_type": {
            "type": "string",
            "description": "媒体类型（如 image/jpeg、video/mp4）"
          },
          "data": {
            "type": "string",
            "description": "Base64 编码的媒体数据"
          }
        }
      },
      "ImageUnderstandingResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "example": "20000"
          },
          "msg": {
            "type": "string",
            "example": "ok"
          },
          "data": {
            "type": "object",
            "properties": {
              "candidates": {
                "type": "array",
                "items": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "GrokGenerationRequest": {
        "type": "object",
        "required": [
          "model",
          "prompt",
          "image_urls"
        ],
        "properties": {
          "model": {
            "type": "string",
            "enum": [
              "grok-imagine-video-1.5"
            ],
            "description": "模型名称。grok-imagine-video-1.5、grok-1.5、grok_1_5 归一化为 grok-imagine-video-1.5。"
          },
          "prompt": {
            "type": "string",
            "maxLength": 4000,
            "description": "用于生成视频的文本提示词，最多 4000 个字符。"
          },
          "duration": {
            "type": "integer",
            "default": 10,
            "enum": [
              10,
              15
            ],
            "description": "视频时长，单位秒。仅支持 10 或 15 秒。默认 10。"
          },
          "ratio": {
            "type": "string",
            "default": "16:9",
            "enum": [
              "16:9",
              "9:16",
              "1:1",
              "3:2",
              "2:3"
            ],
            "description": "视频比例，例如 16:9、9:16。优先级高于 orientation。"
          },
          "orientation": {
            "type": "string",
            "enum": [
              "landscape",
              "portrait"
            ],
            "description": "视频方向。ratio 为空时生效：landscape 映射为 16:9，portrait 映射为 9:16。"
          },
          "image_urls": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "参考图片 URL 列表。grok-imagine-video-1.5 必须且仅支持 1 张参考图。"
          },
          "images": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "兼容 OpenAPI 通用图片字段；当 image_urls 为空时使用。必须且仅支持 1 张参考图。"
          }
        },
        "example": {
          "model": "grok-imagine-video-1.5",
          "prompt": "一只漂亮的蝴蝶在花丛中飞舞，慢动作，细节逼真",
          "duration": 10,
          "ratio": "16:9",
          "image_urls": [
            "https://example.com/butterfly.jpg"
          ]
        }
      },
      "MinimaxH3GenerationRequest": {
        "type": "object",
        "required": [
          "model",
          "prompt"
        ],
        "properties": {
          "model": {
            "type": "string",
            "enum": [
              "minimax-h3",
              "minimax-h3-gz"
            ],
            "description": "模型名称。minimax-h3 与 minimax-h3-gz 为独立计费型号；别名 minimax_h3 / minimaxh3、minimax_h3_gz / minimaxh3gz。"
          },
          "prompt": {
            "type": "string",
            "minLength": 1,
            "maxLength": 2000,
            "description": "用于生成视频的文本提示词，长度 1–2000。"
          },
          "duration": {
            "type": "integer",
            "default": 5,
            "minimum": 5,
            "maximum": 15,
            "description": "视频时长，单位秒。支持 5–15。默认 5。"
          },
          "aspect_ratio": {
            "type": "string",
            "default": "16:9",
            "enum": [
              "16:9",
              "9:16",
              "1:1",
              "4:3",
              "3:4",
              "21:9"
            ],
            "description": "输出画幅比例。优先级高于 ratio。"
          },
          "ratio": {
            "type": "string",
            "enum": [
              "16:9",
              "9:16",
              "1:1",
              "4:3",
              "3:4",
              "21:9"
            ],
            "description": "aspect_ratio 为空时的别名。"
          },
          "size": {
            "type": "string",
            "default": "2560x1440",
            "enum": [
              "2560x1440",
              "1440x2560",
              "1440x1440",
              "1920x1440",
              "1440x1920",
              "3360x1440"
            ],
            "description": "输出像素规格。未传时按 aspect_ratio 取默认值。"
          },
          "resolution": {
            "type": "string",
            "default": "768P",
            "enum": [
              "2K",
              "768P"
            ],
            "description": "仅 minimax-h3-gz 使用。默认 768P；2K 与 768P 分别计费。"
          },
          "reference_images": {
            "type": "array",
            "maxItems": 5,
            "items": {
              "type": "string"
            },
            "description": "参考图 URL 列表，最多 5 张，须为公网可访问地址。"
          },
          "images": {
            "type": "array",
            "maxItems": 5,
            "items": {
              "type": "string"
            },
            "description": "reference_images 为空时的别名。"
          },
          "reference_videos": {
            "type": "array",
            "maxItems": 3,
            "items": {
              "type": "string"
            },
            "description": "仅 minimax-h3-gz 使用。参考视频 URL 列表，最多 3 个；与 first_image / last_image 互斥。"
          },
          "videos": {
            "type": "array",
            "maxItems": 3,
            "items": {
              "type": "string"
            },
            "description": "reference_videos 为空时的别名。仅 minimax-h3-gz 使用。"
          },
          "reference_audios": {
            "type": "array",
            "maxItems": 1,
            "items": {
              "type": "string"
            },
            "description": "参考音频 URL 列表，最多 1 段。minimax-h3-gz 须搭配参考图或参考视频。"
          },
          "first_image": {
            "type": "string",
            "description": "可选首帧图 URL。"
          },
          "last_image": {
            "type": "string",
            "description": "可选尾帧图 URL。"
          }
        },
        "example": {
          "model": "minimax-h3",
          "prompt": "电影感产品展示，自然光",
          "duration": 5,
          "aspect_ratio": "16:9",
          "size": "2560x1440",
          "reference_images": [
            "https://example.com/reference.png"
          ],
          "reference_audios": [
            "https://example.com/reference.mp3"
          ]
        }
      },
      "KlingO3GenerationRequest": {
        "type": "object",
        "required": [
          "model",
          "prompt"
        ],
        "properties": {
          "model": {
            "type": "string",
            "enum": [
              "kling-o3"
            ],
            "description": "模型名称。kling-o3、klingo3、kling_o3、KlingO3 归一化为 kling-o3。"
          },
          "prompt": {
            "type": "string",
            "minLength": 1,
            "maxLength": 2000,
            "description": "用于生成视频的文本提示词，长度 1–2000。"
          },
          "duration": {
            "type": "integer",
            "default": 6,
            "minimum": 3,
            "maximum": 15,
            "description": "视频时长，单位秒。支持 3–15。默认 6。"
          },
          "aspect_ratio": {
            "type": "string",
            "default": "16:9",
            "enum": [
              "16:9",
              "9:16",
              "1:1"
            ],
            "description": "输出画幅比例。优先级高于 ratio。"
          },
          "ratio": {
            "type": "string",
            "enum": [
              "16:9",
              "9:16",
              "1:1"
            ],
            "description": "aspect_ratio 为空时的别名。"
          },
          "resolution": {
            "type": "string",
            "default": "720p",
            "enum": [
              "720p",
              "1080p"
            ],
            "description": "输出分辨率。默认 720p。"
          },
          "reference_images": {
            "type": "array",
            "maxItems": 3,
            "items": {
              "type": "string"
            },
            "description": "参考图 URL 列表，最多 3 张公网 URL。"
          },
          "images": {
            "type": "array",
            "maxItems": 3,
            "items": {
              "type": "string"
            },
            "description": "reference_images 为空时的别名。"
          },
          "first_image": {
            "type": "string",
            "description": "可选首帧图 URL。"
          },
          "last_image": {
            "type": "string",
            "description": "可选尾帧图 URL。"
          },
          "generate_audio": {
            "type": "boolean",
            "default": false,
            "description": "是否生成视频音频轨。默认 false。"
          },
          "reference_mode": {
            "type": "string",
            "description": "可选参考模式。"
          }
        },
        "example": {
          "model": "kling-o3",
          "prompt": "电影感产品展示，自然光",
          "duration": 6,
          "aspect_ratio": "16:9",
          "resolution": "720p",
          "reference_images": [
            "https://example.com/reference.png"
          ],
          "generate_audio": false
        }
      },
      "SuperResolutionRequest": {
        "type": "object",
        "required": [
          "model",
          "video_url"
        ],
        "properties": {
          "model": {
            "type": "string",
            "enum": [
              "superResolution-720p-lowfps",
              "superResolution-720p-highfps",
              "superResolution-1080p-lowfps",
              "superResolution-1080p-highfps",
              "superResolution-2k-lowfps",
              "superResolution-2k-highfps",
              "superResolution-4k-lowfps",
              "superResolution-4k-highfps"
            ],
            "description": "视频超分模型。清晰度档位为 720p/1080p/2k/4k；lowfps=30FPS，highfps=120FPS。"
          },
          "video_url": {
            "type": "string",
            "description": "待超分视频的公网 URL，任务处理期间须保持可访问。"
          }
        },
        "example": {
          "model": "superResolution-1080p-lowfps",
          "video_url": "https://example.com/input-low-resolution.mp4"
        }
      },
      "DigitalHumanRequest": {
        "type": "object",
        "required": [
          "audio_url",
          "video_url"
        ],
        "properties": {
          "model": {
            "type": "string",
            "enum": [
              "digitalHuman"
            ],
            "default": "digitalHuman",
            "description": "数字人模型名称，默认 digitalHuman。"
          },
          "audio_url": {
            "type": "string",
            "description": "驱动音频公网 URL。支持 mp4、mp3、wav、m4a 等；链接不要带中文，任务处理期间须保持可访问。"
          },
          "video_url": {
            "type": "string",
            "description": "人脸视频公网 URL；链接不要带中文，任务处理期间须保持可访问。"
          },
          "model_version": {
            "type": "integer",
            "enum": [
              1,
              2
            ],
            "description": "模型版本。1：牙齿更清晰，适合大脸；2：口型匹配更好、咬字更快（建议默认）。"
          },
          "side_face": {
            "type": "integer",
            "enum": [
              0,
              1
            ],
            "description": "侧脸优化。严重侧脸传 1；非特殊情况不传或传 0。"
          },
          "tilted_face": {
            "type": "integer",
            "enum": [
              0,
              1
            ],
            "description": "歪头优化。正脸但歪头、嘴巴歪斜时传 1；非特殊情况不传或传 0。"
          }
        },
        "example": {
          "model": "digitalHuman",
          "audio_url": "https://example.com/drive-audio.mp3",
          "video_url": "https://example.com/face-video.mp4",
          "model_version": 2
        }
      },
      "RemoveSubtitleRequest": {
        "type": "object",
        "required": [
          "video_url"
        ],
        "properties": {
          "model": {
            "type": "string",
            "enum": [
              "video_remove_subtitle"
            ],
            "default": "video_remove_subtitle",
            "description": "去字幕模型名称，默认 video_remove_subtitle。"
          },
          "video_url": {
            "type": "string",
            "description": "待处理视频公网 URL；链接不要带中文，任务处理期间须保持可访问。"
          }
        },
        "example": {
          "model": "video_remove_subtitle",
          "video_url": "https://example.com/input.mp4"
        }
      },
      "VideoTranslateRequest": {
        "type": "object",
        "required": [
          "video_url",
          "output_language"
        ],
        "properties": {
          "model": {
            "type": "string",
            "enum": [
              "video-translate-precision",
              "video-translate-speed"
            ],
            "default": "video-translate-precision",
            "description": "视频翻译模型，默认 video-translate-precision。"
          },
          "video_url": {
            "type": "string",
            "description": "待翻译视频公网 URL（最长 8 分钟）；任务处理期间须保持可访问。"
          },
          "output_language": {
            "type": "string",
            "description": "目标语言。优先使用下方枚举原值。常用简写（zh/en/ja/ko/es/...）也会被服务端映射到对应枚举。",
            "enum": [
              "English",
              "Spanish",
              "French",
              "Hindi",
              "Italian",
              "German",
              "Polish",
              "Portuguese",
              "Chinese",
              "Japanese",
              "Dutch",
              "Turkish",
              "Korean",
              "Danish",
              "Arabic",
              "Romanian",
              "Mandarin",
              "Filipino",
              "Swedish",
              "Indonesian",
              "Ukrainian",
              "Greek",
              "Czech",
              "Bulgarian",
              "Malay",
              "Slovak",
              "Croatian",
              "Tamil",
              "Finnish",
              "Russian",
              "Afrikaans (South Africa)",
              "Albanian (Albania)",
              "Amharic (Ethiopia)",
              "Arabic (Algeria)",
              "Arabic (Bahrain)",
              "Arabic (Egypt)",
              "Arabic (Iraq)",
              "Arabic (Jordan)",
              "Arabic (Kuwait)",
              "Arabic (Lebanon)",
              "Arabic (Libya)",
              "Arabic (Morocco)",
              "Arabic (Oman)",
              "Arabic (Qatar)",
              "Arabic (Saudi Arabia)",
              "Arabic (Syria)",
              "Arabic (Tunisia)",
              "Arabic (United Arab Emirates)",
              "Arabic (Yemen)",
              "Armenian (Armenia)",
              "Azerbaijani (Latin, Azerbaijan)",
              "Bangla (Bangladesh)",
              "Basque",
              "Bengali (India)",
              "Bosnian (Bosnia and Herzegovina)",
              "Bulgarian (Bulgaria)",
              "Burmese (Myanmar)",
              "Catalan",
              "Chinese (Cantonese, Traditional)",
              "Chinese (Jilu Mandarin, Simplified)",
              "Chinese (Mandarin, Simplified)",
              "Chinese (Northeastern Mandarin, Simplified)",
              "Chinese (Southwestern Mandarin, Simplified)",
              "Chinese (Taiwanese Mandarin, Traditional)",
              "Chinese (Wu, Simplified)",
              "Chinese (Zhongyuan Mandarin Henan, Simplified)",
              "Chinese (Zhongyuan Mandarin Shaanxi, Simplified)",
              "Croatian (Croatia)",
              "Czech (Czechia)",
              "Danish (Denmark)",
              "Dutch (Belgium)",
              "Dutch (Netherlands)",
              "English (Australia)",
              "English (Canada)",
              "English (Hong Kong SAR)",
              "English (India)",
              "English (Ireland)",
              "English (Kenya)",
              "English (New Zealand)",
              "English (Nigeria)",
              "English (Philippines)",
              "English (Singapore)",
              "English (South Africa)",
              "English (Tanzania)",
              "English (UK)",
              "English (United States)",
              "Estonian (Estonia)",
              "Filipino (Philippines)",
              "Finnish (Finland)",
              "French (Belgium)",
              "French (Canada)",
              "French (France)",
              "French (Switzerland)",
              "Galician",
              "Georgian (Georgia)",
              "German (Austria)",
              "German (Germany)",
              "German (Switzerland)",
              "Greek (Greece)",
              "Gujarati (India)",
              "Hebrew (Israel)",
              "Hindi (India)",
              "Hungarian (Hungary)",
              "Icelandic (Iceland)",
              "Indonesian (Indonesia)",
              "Irish (Ireland)",
              "Italian (Italy)",
              "Japanese (Japan)",
              "Javanese (Latin, Indonesia)",
              "Kannada (India)",
              "Kazakh (Kazakhstan)",
              "Khmer (Cambodia)",
              "Korean (Korea)",
              "Lao (Laos)",
              "Latvian (Latvia)",
              "Lithuanian (Lithuania)",
              "Macedonian (North Macedonia)",
              "Malay (Malaysia)",
              "Malayalam (India)",
              "Maltese (Malta)",
              "Marathi (India)",
              "Mongolian (Mongolia)",
              "Nepali (Nepal)",
              "Norwegian Bokmål (Norway)",
              "Pashto (Afghanistan)",
              "Persian (Iran)",
              "Polish (Poland)",
              "Portuguese (Brazil)",
              "Portuguese (Portugal)",
              "Romanian (Romania)",
              "Russian (Russia)",
              "Serbian (Latin, Serbia)",
              "Sinhala (Sri Lanka)",
              "Slovak (Slovakia)",
              "Slovenian (Slovenia)",
              "Somali (Somalia)",
              "Spanish (Argentina)",
              "Spanish (Bolivia)",
              "Spanish (Chile)",
              "Spanish (Colombia)",
              "Spanish (Costa Rica)",
              "Spanish (Cuba)",
              "Spanish (Dominican Republic)",
              "Spanish (Ecuador)",
              "Spanish (El Salvador)",
              "Spanish (Equatorial Guinea)",
              "Spanish (Guatemala)",
              "Spanish (Honduras)",
              "Spanish (Mexico)",
              "Spanish (Nicaragua)",
              "Spanish (Panama)",
              "Spanish (Paraguay)",
              "Spanish (Peru)",
              "Spanish (Puerto Rico)",
              "Spanish (Spain)",
              "Spanish (United States)",
              "Spanish (Uruguay)",
              "Spanish (Venezuela)",
              "Sundanese (Indonesia)",
              "Swahili (Kenya)",
              "Swahili (Tanzania)",
              "Swedish (Sweden)",
              "Tamil (India)",
              "Tamil (Malaysia)",
              "Tamil (Singapore)",
              "Tamil (Sri Lanka)",
              "Telugu (India)",
              "Thai (Thailand)",
              "Turkish (Türkiye)",
              "Ukrainian (Ukraine)",
              "Urdu (India)",
              "Urdu (Pakistan)",
              "Uzbek (Latin, Uzbekistan)",
              "Vietnamese (Vietnam)",
              "Welsh (United Kingdom)",
              "Zulu (South Africa)",
              "English - Your Accent",
              "English - American Accent"
            ]
          },
          "translate_audio_only": {
            "type": "boolean",
            "description": "仅翻译音轨，不改口型。"
          },
          "speaker_num": {
            "type": "integer",
            "minimum": 1,
            "description": "说话人数量。"
          },
          "enable_dynamic_duration": {
            "type": "boolean",
            "default": true,
            "description": "按目标语速调整时长，默认 true。"
          },
          "srt_url": {
            "type": "string",
            "description": "自定义 SRT 字幕文件公网 URL。"
          },
          "srt_role": {
            "type": "string",
            "enum": [
              "input",
              "output"
            ],
            "description": "srt_url 作用于源语言（input）或目标语言（output）字幕。"
          },
          "enable_caption": {
            "type": "boolean",
            "description": "生成配套 SRT；完成后见 result.caption_url。"
          },
          "brand_glossary_id": {
            "type": "string",
            "description": "品牌术语表 ID，用于专有名词翻译。"
          }
        },
        "example": {
          "model": "video-translate-precision",
          "video_url": "https://example.com/input.mp4",
          "output_language": "zh",
          "enable_caption": true
        }
      },
      "GeminiOmniGenerationRequest": {
        "type": "object",
        "required": [
          "model",
          "prompt"
        ],
        "properties": {
          "model": {
            "type": "string",
            "enum": [
              "Gemini-Omini",
              "Omni-Flash-Ext",
              "gemini-omni",
              "omni-10s"
            ],
            "description": "模型名称。Gemini-Omini、Omni-Flash-Ext、gemini-omni 归一化为 Gemini-Omini；omni-10s 为固定 10 秒模型（720p，参考图最多 7 张）。"
          },
          "prompt": {
            "type": "string",
            "description": "用于生成视频的文本提示词"
          },
          "duration": {
            "type": "integer",
            "default": 6,
            "description": "视频时长，单位为秒。默认值：6。仅支持：4、6、8、10。注意：传入 video_urls 时不需要传入 duration，且 duration 与 video_urls 不可以同时传入。"
          },
          "resolution": {
            "type": "string",
            "default": "720p",
            "enum": [
              "720p",
              "1080p",
              "4k"
            ],
            "description": "视频分辨率，默认 720p。"
          },
          "aspect_ratio": {
            "type": "string",
            "description": "视频比例，例如 16:9、9:16。优先级高于 orientation。"
          },
          "orientation": {
            "type": "string",
            "enum": [
              "landscape",
              "portrait"
            ],
            "description": "视频方向。aspect_ratio 为空时生效：landscape 映射为 16:9，portrait 映射为 9:16。"
          },
          "image_urls": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "参考图片 URL 列表。omni-10s 最多 7 张。"
          },
          "images": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "兼容 OpenAPI 通用图片字段；当 image_urls 为空时使用。omni-10s 最多 7 张。"
          },
          "generation_type": {
            "type": "string",
            "default": "reference",
            "enum": [
              "frame",
              "reference"
            ],
            "description": "生成类型。frame: 首帧模式（image_urls 只可以上传 1 张图片，作为视频首帧）；reference: 参考模式（image_urls 可以上传 1 张或 3 张图片，作为参考图）。默认为 reference。"
          },
          "video_urls": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "参考视频 URL 列表（目前最多支持 1 个视频）。注意：上传参考视频时不需要传入 duration，且 duration 与 video_urls 不可以同时传入。"
          }
        },
        "example": {
          "model": "Gemini-Omini",
          "prompt": "一只猫在雨夜霓虹街头奔跑，电影感，镜头低角度跟拍",
          "duration": 6,
          "resolution": "720p",
          "aspect_ratio": "16:9",
          "generation_type": "reference",
          "image_urls": [],
          "video_urls": []
        }
      },
      "OpenAIImageGenerationRequest": {
        "type": "object",
        "required": [
          "prompt"
        ],
        "properties": {
          "model": {
            "type": "string",
            "description": "模型名称，默认 gpt-image-2。亦支持 gpt-image-1.5（异步，aishuch）。同步 generations/edits 不支持该模型。",
            "default": "gpt-image-2",
            "example": "gpt-image-2"
          },
          "prompt": {
            "type": "string",
            "description": "文生图提示词"
          },
          "size": {
            "type": "string",
            "description": "输出尺寸，默认 1024x1024",
            "default": "1024x1024",
            "example": "1024x1024"
          },
          "n": {
            "type": "integer",
            "description": "生成数量1 不可修改",
            "default": 1
          },
          "quality": {
            "type": "string",
            "description": "画质档位。gpt-image-2 同步计费：auto→gpt-image-2-sync，low/medium/high→gpt-image-2-sync-{quality}",
            "enum": [
              "low",
              "medium",
              "high",
              "auto"
            ],
            "default": "low"
          },
          "background": {
            "type": "string",
            "description": "背景类型",
            "enum": [
              "transparent",
              "opaque",
              "auto"
            ]
          },
          "output_format": {
            "type": "string",
            "description": "输出格式",
            "enum": [
              "png",
              "jpeg",
              "webp"
            ]
          }
        },
        "example": {
          "model": "gpt-image-2",
          "prompt": "赛博朋克城市雨夜，霓虹招牌特写，电影画幅",
          "size": "1024x1024",
          "n": 1,
          "quality": "high"
        }
      },
      "OpenAIImageEditRequest": {
        "type": "object",
        "required": [
          "image",
          "prompt"
        ],
        "properties": {
          "image": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "binary"
            },
            "description": "源图文件（必填，≤20MB/张，最多16张；兼容单张上传，字段名均为 image）"
          },
          "model": {
            "type": "string",
            "description": "模型名称，默认 gpt-image-2",
            "default": "gpt-image-2"
          },
          "prompt": {
            "type": "string",
            "description": "编辑提示词"
          },
          "size": {
            "type": "string",
            "description": "输出尺寸，默认 1024x1024",
            "default": "1024x1024"
          },
          "n": {
            "type": "integer",
            "description": "生成数量限制为 1",
            "default": 1
          },
          "quality": {
            "type": "string",
            "enum": [
              "low",
              "medium",
              "high",
              "auto"
            ],
            "default": "low"
          },
          "background": {
            "type": "string",
            "enum": [
              "transparent",
              "opaque",
              "auto"
            ]
          },
          "output_format": {
            "type": "string",
            "enum": [
              "png",
              "jpeg",
              "webp"
            ]
          }
        }
      },
      "OpenAIImageSyncResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "example": 20000
          },
          "msg": {
            "type": "string",
            "example": "ok"
          },
          "data": {
            "$ref": "#/components/schemas/OpenAIImageSyncResult"
          }
        }
      },
      "OpenAIImageSyncResult": {
        "type": "object",
        "description": "与 OpenAI images 接口一致的结果结构",
        "properties": {
          "created": {
            "type": "integer",
            "format": "int64",
            "description": "创建时间戳"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OpenAIImageResultItem"
            }
          },
          "model": {
            "type": "string",
            "example": "gpt-image-2"
          },
          "usage": {
            "$ref": "#/components/schemas/OpenAIImageUsage"
          }
        }
      },
      "OpenAIImageResultItem": {
        "type": "object",
        "properties": {
          "b64_json": {
            "type": "string",
            "description": "Base64 编码的图片数据（可能较大，数 MB 级）"
          },
          "revised_prompt": {
            "type": "string",
            "description": "修订后的提示词"
          }
        }
      },
      "OpenAIImageUsage": {
        "type": "object",
        "properties": {
          "input_tokens": {
            "type": "integer"
          },
          "output_tokens": {
            "type": "integer"
          },
          "total_tokens": {
            "type": "integer"
          },
          "input_tokens_details": {
            "type": "object",
            "properties": {
              "image_tokens": {
                "type": "integer"
              },
              "text_tokens": {
                "type": "integer"
              }
            }
          },
          "output_tokens_details": {
            "type": "object",
            "properties": {
              "image_tokens": {
                "type": "integer"
              },
              "text_tokens": {
                "type": "integer"
              }
            }
          }
        }
      },
      "SoundCloneCloneRequest": {
        "type": "object",
        "required": [
          "fileUrl"
        ],
        "properties": {
          "fileUrl": {
            "type": "string",
            "description": "克隆声音的原音频或原视频公网 URL"
          },
          "contentText": {
            "type": "string",
            "description": "试听文本，小于 270 字"
          },
          "soundVersion": {
            "type": "string",
            "enum": [
              "v1",
              "v2"
            ],
            "default": "v1"
          },
          "language": {
            "type": "string",
            "default": "auto",
            "description": "语言类型，如 Chinese、English"
          }
        },
        "example": {
          "fileUrl": "https://example.com/source-audio.mp3",
          "contentText": "在森林的深处，阳光透过树梢洒落，鸟儿的歌声交织成一曲美妙的乐章，诉说着大自然无尽的美丽。",
          "soundVersion": "v1",
          "language": "Chinese"
        }
      },
      "SoundCloneAudioRequest": {
        "type": "object",
        "required": [
          "modelId",
          "contentText"
        ],
        "properties": {
          "modelId": {
            "type": "string",
            "description": "试听任务完成后返回的声音模型 ID"
          },
          "contentText": {
            "type": "string",
            "description": "生成音频的文本，小于 10000 字符"
          },
          "soundVersion": {
            "type": "string",
            "enum": [
              "v1",
              "v2"
            ]
          },
          "language": {
            "type": "string",
            "default": "auto"
          },
          "emotion": {
            "type": "string",
            "enum": [
              "happy",
              "sad",
              "angry",
              "fearful",
              "disgusted",
              "surprised",
              "neutral"
            ],
            "default": "neutral"
          },
          "speed": {
            "type": "number",
            "minimum": 0.5,
            "maximum": 2,
            "default": 1
          },
          "vol": {
            "type": "number",
            "exclusiveMinimum": 0,
            "maximum": 10,
            "default": 1
          },
          "pitch": {
            "type": "integer",
            "minimum": -12,
            "maximum": 12,
            "default": 0
          },
[...]
