{
  "openapi": "3.1.0",
  "info": {
    "title": "Jimmy AI OpenAPI",
    "description": "API for Jimmy AI video generation services",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://www.jimmyai.cn",
      "description": "Production server"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/api/open-api/v1/videos": {
      "post": {
        "summary": "Create Video Task",
        "description": "Create a new video generation task using Sora models.",
        "operationId": "createVideo",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VideoGenerationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoGenerationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/open-api/v1/videos/{taskId}": {
      "get": {
        "summary": "Query Video Task",
        "description": "Query the status and result of a video generation task.",
        "operationId": "queryVideo",
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "description": "The ID of the task to query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Task status and result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoQueryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/open-api/v1/images": {
      "post": {
        "summary": "创建图片任务",
        "description": "创建新的图片生成任务。",
        "operationId": "createImage",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ImageGenerationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "任务创建成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageGenerationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/open-api/v1/images/{taskId}": {
      "get": {
        "summary": "查询图片任务",
        "description": "查询图片生成任务的状态和结果。",
        "operationId": "queryImage",
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "description": "要查询的任务 ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "任务状态和结果",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoQueryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/open-api/v1/images/understand": {
      "post": {
        "summary": "图片理解",
        "description": "基于 Gemini-3.5-flash 对上传的图片进行理解分析（支持电商产品宣传分析等功能）。",
        "operationId": "understandImage",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ImageUnderstandingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "图片理解成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageUnderstandingResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/open-api/v1/images/generations": {
      "post": {
        "summary": "文生图（同步）",
        "description": "同步文生图，兼容 OpenAI POST /v1/images/generations。成功响应后立即扣费，在 data 中返回图片结果，无需轮询。",
        "operationId": "generateOpenAIImage",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpenAIImageGenerationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "生成成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAIImageSyncResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/open-api/v1/images/edits": {
      "post": {
        "summary": "编辑图片（同步）",
        "description": "同步图片编辑，兼容 OpenAI POST /v1/images/edits。使用 multipart/form-data 上传源图，成功响应后立即扣费。",
        "operationId": "editOpenAIImage",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/OpenAIImageEditRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "编辑成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAIImageSyncResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/open-api/v1/veo/videos": {
      "post": {
        "summary": "Create VEO Video Task",
        "description": "Create a new video generation task using VEO models.",
        "operationId": "createVeoVideo",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VideoGenerationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoGenerationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/open-api/v1/veo/frames": {
      "post": {
        "summary": "Create VEO Frames Video Task",
        "description": "Create a new VEO video generation task using first and last frames.",
        "operationId": "createVeoFramesVideo",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VeoFramesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoGenerationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/open-api/v1/seedance/videos": {
      "post": {
        "summary": "Create Seedance Video Task",
        "description": "Create a new video generation task using Seedance 2.0 models.",
        "operationId": "createSeedanceVideo",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SeedanceGenerationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoGenerationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/open-api/v1/seedance/assets/audit": {
      "post": {
        "summary": "提交素材审核",
        "description": "提交原始素材 URL 列表进行 Seedance 2.0 平台审核，审核通过后方可用于生成视频。",
        "operationId": "submitSeedanceAudit",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SeedanceAuditSubmitRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "提交成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SeedanceAuditSubmitResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/open-api/v1/seedance/assets/status": {
      "post": {
        "summary": "查询素材审核状态",
        "description": "查询已提交审核素材的状态。",
        "operationId": "querySeedanceAuditStatus",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SeedanceAuditStatusRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "查询成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SeedanceAuditStatusResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/open-api/v1/gemini/omni/videos": {
      "post": {
        "summary": "创建 Gemini Omni 视频任务",
        "description": "创建 Gemini Omni 视频生成任务。任务创建后，请使用通用视频任务查询接口获取生成状态和结果。",
        "operationId": "createGeminiOmniVideo",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GeminiOmniGenerationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "任务创建成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoGenerationResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "VideoGenerationRequest": {
        "type": "object",
        "required": [
          "model",
          "prompt",
          "duration"
        ],
        "properties": {
          "model": {
            "type": "string",
            "description": "模型名称 (如: sora2-gz-stable, sora2-gz-sp)"
          },
          "prompt": {
            "type": "string",
            "description": "用于生成视频的文本提示词"
          },
          "duration": {
            "type": "integer",
            "description": "时长(秒)"
          },
          "orientation": {
            "type": "string",
            "enum": [
              "landscape",
              "portrait"
            ],
            "description": "视频方向"
          },
          "images": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "参考图 URL 列表"
          }
        }
      },
      "SeedanceGenerationRequest": {
        "type": "object",
        "required": [
          "model",
          "prompt",
          "duration"
        ],
        "properties": {
          "model": {
            "type": "string",
            "description": "模型名称 (如: sd2_mx_720p, sd2_mx_1080p, sd2_mx_2k, sd2_mx_4k)"
          },
          "prompt": {
            "type": "string",
            "description": "用于生成视频的文本提示词"
          },
          "duration": {
            "type": "integer",
            "description": "时长(秒)"
          },
          "orientation": {
            "type": "string",
            "enum": [
              "landscape",
              "portrait"
            ],
            "description": "视频方向 (如已传 ratio，则以此处为先)"
          },
          "images": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "参考图 asset 链接列表，格式为 asset://{assetId} (需先通过素材审核接口提交并获取 assetId)"
          },
          "ratio": {
            "type": "string",
            "description": "输出比例 (例如: 16:9, 9:16, 1:1, 4:3, 3:4, 21:9, Adaptive)"
          },
          "first_image": {
            "type": "string",
            "description": "首帧图片 asset 链接，格式为 asset://{assetId} (需先通过素材审核接口提交并获取 assetId)"
          },
          "last_image": {
            "type": "string",
            "description": "尾帧图片 asset 链接，格式为 asset://{assetId} (需先通过素材审核接口提交并获取 assetId)"
          },
          "reference_videos": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "参考视频 asset 链接列表，格式为 asset://{assetId} (需先通过素材审核接口提交并获取 assetId)"
          },
          "reference_audios": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "参考音频 asset 链接列表，格式为 asset://{assetId} (需先通过素材审核接口提交并获取 assetId)"
          }
        }
      },
      "ImageGenerationRequest": {
        "type": "object",
        "required": [
          "model",
          "prompt"
        ],
        "properties": {
          "model": {
            "type": "string",
            "description": "模型名称 (如: gpt-image-2, nano-banana, nano-banana-2, nano-banana-pro)"
          },
          "prompt": {
            "type": "string",
            "description": "用于生成图片的文本提示词"
          },
          "size": {
            "type": "string",
            "description": "图片尺寸/比例。支持的值：auto (自动), 1:1 (正方), 3:2 (横图), 2:3 (竖图), 4:3 (横图), 3:4 (竖图), 5:4 (横图), 4:5 (竖图), 16:9 (横图), 9:16 (竖图), 2:1 (横图), 1:2 (竖图), 3:1 (横图), 1:3 (竖图), 21:9 (横图), 9:21 (竖图)",
            "enum": [
              "auto",
              "1:1",
              "3:2",
              "2:3",
              "4:3",
              "3:4",
              "5:4",
              "4:5",
              "16:9",
              "9:16",
              "2:1",
              "1:2",
              "3:1",
              "1:3",
              "21:9",
              "9:21"
            ],
            "default": "auto"
          },
          "images": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "参考图 URL 或 base64 列表"
          },
          "resolution": {
            "type": "string",
            "description": "图片分辨率（由 gpt-image-2, nano-banana-2 等模型支持）。支持的值：1k, 2k, 4k。注意：gpt-image-2 开启 4k 时仅支持以下比例：16:9 / 9:16 / 2:1 / 1:2 / 21:9 / 9:21。",
            "enum": [
              "1k",
              "2k",
              "4k"
            ],
            "default": "1k"
          },
          "quality": {
            "type": "string",
            "description": "画质档位（由 gpt-image-2 支持）。支持的值：low (低画质), medium (中画质), high (高画质)。",
            "enum": [
              "low",
              "medium",
              "high"
            ],
            "default": "low"
          }
        }
      },
      "ImageGenerationResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "example": "20000"
          },
          "msg": {
            "type": "string",
            "example": "ok"
          },
          "data": {
            "type": "object",
            "properties": {
              "task_id": {
                "type": "string"
              },
              "status": {
                "type": "string"
              },
              "model": {
                "type": "string"
              },
              "created_at": {
                "type": "integer",
                "format": "int64"
              }
            }
          }
        }
      },
      "VeoFramesRequest": {
        "type": "object",
        "required": [
          "model",
          "prompt"
        ],
        "properties": {
          "model": {
            "type": "string",
            "description": "模型名称 (如: veo_3_1_fast)"
          },
          "prompt": {
            "type": "string",
            "description": "文本提示词"
          },
          "resolution": {
            "type": "string",
            "enum": [
              "720p",
              "1080p",
              "4k"
            ],
            "description": "视频分辨率"
          },
          "orientation": {
            "type": "string",
            "enum": [
              "landscape",
              "portrait"
            ],
            "description": "视频方向"
          },
          "first_frame_url": {
            "type": "string",
            "description": "第一帧图片 URL"
          },
          "last_frame_url": {
            "type": "string",
            "description": "最后一帧图片 URL"
          },
          "images": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "参考图 URL 列表"
          }
        }
      },
      "VideoGenerationResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "example": "20000"
          },
          "msg": {
            "type": "string",
            "example": "ok"
          },
          "data": {
            "type": "object",
            "properties": {
              "task_id": {
                "type": "string"
              },
              "status": {
                "type": "string"
              },
              "model": {
                "type": "string"
              },
              "created_at": {
                "type": "integer",
                "format": "int64"
              }
            }
          }
        }
      },
      "VideoQueryResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "example": "20000"
          },
          "msg": {
            "type": "string",
            "example": "ok"
          },
          "data": {
            "type": "object",
            "properties": {
              "task_id": {
                "type": "string"
              },
              "status": {
                "type": "string"
              },
              "progress": {
                "type": "integer"
              },
              "model": {
                "type": "string"
              },
              "created_at": {
                "type": "integer",
                "format": "int64"
              },
              "completed_at": {
                "type": "integer",
                "format": "int64"
              },
              "result": {
                "type": "object",
                "properties": {
                  "video_url": {
                    "type": "string",
                    "description": "生成的视频 URL (有效期3天)"
                  },
                  "image_url": {
                    "type": "string",
                    "description": "生成的图片 URL (针对图片任务，有效期3天)"
                  }
                }
              },
              "error_message": {
                "type": "string"
              }
            }
          }
        }
      },
      "SeedanceAuditSubmitRequest": {
        "type": "object",
        "properties": {
          "audio_urls": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "音频 URL 列表"
          },
          "image_urls": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "图片 URL 列表"
          },
          "video_urls": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "视频 URL 列表"
          }
        }
      },
      "SeedanceAuditSubmitResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "example": "20000"
          },
          "msg": {
            "type": "string",
            "example": "ok"
          },
          "data": {
            "type": "object",
            "properties": {
              "failed_items": {
                "type": "array",
                "items": {
                  "type": "object"
                },
                "description": "失败素材列表"
              },
              "items": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/SeedanceAuditItem"
                },
                "description": "提交成功的审核状态条目列表"
              }
            }
          }
        }
      },
      "SeedanceAuditItem": {
        "type": "object",
        "properties": {
          "asset_id": {
            "type": "string",
            "description": "素材 ID"
          },
          "original_url": {
            "type": "string",
            "description": "原始素材 URL"
          },
          "asset_type": {
            "type": "string",
            "description": "素材类型 (如 video, image, audio)"
          },
          "status": {
            "type": "string",
            "description": "审核状态"
          }
        }
      },
      "SeedanceAuditStatusRequest": {
        "type": "object",
        "required": [
          "asset_ids"
        ],
        "properties": {
          "asset_ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "要查询的素材 ID 列表"
          }
        }
      },
      "SeedanceAuditStatusResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "example": "20000"
          },
          "msg": {
            "type": "string",
            "example": "ok"
          },
          "data": {
            "type": "object",
            "properties": {
              "items": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/SeedanceAuditStatusItem"
                },
                "description": "素材状态列表"
              }
            }
          }
        }
      },
      "SeedanceAuditStatusItem": {
        "type": "object",
        "properties": {
          "asset_id": {
            "type": "string",
            "description": "素材 ID"
          },
          "status": {
            "type": "string",
            "description": "审核/激活状态 (如 Active 表示可用)"
          }
        }
      },
      "ImageUnderstandingRequest": {
        "type": "object",
        "required": [
          "model",
          "contents"
        ],
        "properties": {
          "model": {
            "type": "string",
            "description": "模型名称 (如: gemini-3.5-flash)"
          },
          "contents": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GeminiContent"
            },
            "description": "内容对话上下文"
          }
        }
      },
      "GeminiContent": {
        "type": "object",
        "required": [
          "role",
          "parts"
        ],
        "properties": {
          "role": {
            "type": "string",
            "description": "角色 (user 或 model)"
          },
          "parts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GeminiPart"
            }
          }
        }
      },
      "GeminiPart": {
        "type": "object",
        "properties": {
          "text": {
            "type": "string",
            "description": "文本内容"
          },
          "inline_data": {
            "$ref": "#/components/schemas/GeminiInlineData"
          }
        }
      },
      "GeminiInlineData": {
        "type": "object",
        "required": [
          "mime_type",
          "data"
        ],
        "properties": {
          "mime_type": {
            "type": "string",
            "description": "媒体类型 (如: image/jpeg, image/png)"
          },
          "data": {
            "type": "string",
            "description": "Base64 编码的图片数据"
          }
        }
      },
      "ImageUnderstandingResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "example": "20000"
          },
          "msg": {
            "type": "string",
            "example": "ok"
          },
          "data": {
            "type": "object",
            "properties": {
              "candidates": {
                "type": "array",
                "items": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "GeminiOmniGenerationRequest": {
        "type": "object",
        "required": [
          "model",
          "prompt"
        ],
        "properties": {
          "model": {
            "type": "string",
            "enum": [
              "Gemini-Omini",
              "Omni-Flash-Ext",
              "gemini-omni"
            ],
            "description": "模型名称。支持 Gemini-Omini、Omni-Flash-Ext、gemini-omni；服务端统一归一化为 Gemini-Omini。"
          },
          "prompt": {
            "type": "string",
            "description": "用于生成视频的文本提示词"
          },
          "duration": {
            "type": "integer",
            "default": 6,
            "description": "视频时长，单位秒。不传或小于等于 0 时默认 6。"
          },
          "resolution": {
            "type": "string",
            "default": "720p",
            "enum": [
              "720p",
              "1080p",
              "4k"
            ],
            "description": "视频分辨率，默认 720p。"
          },
          "aspect_ratio": {
            "type": "string",
            "description": "视频比例，例如 16:9、9:16。优先级高于 orientation。"
          },
          "orientation": {
            "type": "string",
            "enum": [
              "landscape",
              "portrait"
            ],
            "description": "视频方向。aspect_ratio 为空时生效：landscape 映射为 16:9，portrait 映射为 9:16。"
          },
          "image_urls": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "参考图片 URL 列表。"
          },
          "images": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "兼容 OpenAPI 通用图片字段；当 image_urls 为空时使用。"
          }
        },
        "example": {
          "model": "Gemini-Omini",
          "prompt": "一只猫在雨夜霓虹街头奔跑，电影感，镜头低角度跟拍",
          "duration": 6,
          "resolution": "720p",
          "aspect_ratio": "16:9",
          "image_urls": []
        }
      },
      "OpenAIImageGenerationRequest": {
        "type": "object",
        "required": [
          "prompt"
        ],
        "properties": {
          "model": {
            "type": "string",
            "description": "模型名称，默认 gpt-image-2",
            "default": "gpt-image-2",
            "example": "gpt-image-2"
          },
          "prompt": {
            "type": "string",
            "description": "文生图提示词"
          },
          "size": {
            "type": "string",
            "description": "输出尺寸，默认 1024x1024",
            "default": "1024x1024",
            "example": "1024x1024"
          },
          "n": {
            "type": "integer",
            "description": "生成数量1 不可修改",
            "default": 1
          },
          "quality": {
            "type": "string",
            "description": "画质档位，影响计费（gpt-image-2-low / medium / high）",
            "enum": [
              "low",
              "medium",
              "high",
              "auto"
            ],
            "default": "low"
          },
          "background": {
            "type": "string",
            "description": "背景类型",
            "enum": [
              "transparent",
              "opaque",
              "auto"
            ]
          },
          "output_format": {
            "type": "string",
            "description": "输出格式",
            "enum": [
              "png",
              "jpeg",
              "webp"
            ]
          }
        },
        "example": {
          "model": "gpt-image-2",
          "prompt": "赛博朋克城市雨夜，霓虹招牌特写，电影画幅",
          "size": "1024x1024",
          "n": 1,
          "quality": "high"
        }
      },
      "OpenAIImageEditRequest": {
        "type": "object",
        "required": [
          "image",
          "prompt"
        ],
        "properties": {
          "image": {
            "type": "string",
            "format": "binary",
            "description": "源图文件（必填，≤20MB）"
          },
          "model": {
            "type": "string",
            "description": "模型名称，默认 gpt-image-2",
            "default": "gpt-image-2"
          },
          "prompt": {
            "type": "string",
            "description": "编辑提示词"
          },
          "size": {
            "type": "string",
            "description": "输出尺寸，默认 1024x1024",
            "default": "1024x1024"
          },
          "n": {
            "type": "integer",
            "description": "生成数量限制为 1",
            "default": 1
          },
          "quality": {
            "type": "string",
            "enum": [
              "low",
              "medium",
              "high",
              "auto"
            ],
            "default": "low"
          },
          "background": {
            "type": "string",
            "enum": [
              "transparent",
              "opaque",
              "auto"
            ]
          },
          "output_format": {
            "type": "string",
            "enum": [
              "png",
              "jpeg",
              "webp"
            ]
          }
        }
      },
      "OpenAIImageSyncResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "example": 20000
          },
          "msg": {
            "type": "string",
            "example": "ok"
          },
          "data": {
            "$ref": "#/components/schemas/OpenAIImageSyncResult"
          }
        }
      },
      "OpenAIImageSyncResult": {
        "type": "object",
        "description": "与 OpenAI images 接口一致的结果结构",
        "properties": {
          "created": {
            "type": "integer",
            "format": "int64",
            "description": "创建时间戳"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OpenAIImageResultItem"
            }
          },
          "model": {
            "type": "string",
            "example": "gpt-image-2"
          },
          "usage": {
            "$ref": "#/components/schemas/OpenAIImageUsage"
          }
        }
      },
      "OpenAIImageResultItem": {
        "type": "object",
        "properties": {
          "b64_json": {
            "type": "string",
            "description": "Base64 编码的图片数据（可能较大，数 MB 级）"
          },
          "url": {
            "type": "string",
            "description": "图片 URL（若上游返回 url 而非 base64）"
          },
          "revised_prompt": {
            "type": "string",
            "description": "修订后的提示词"
          }
        }
      },
      "OpenAIImageUsage": {
        "type": "object",
        "properties": {
          "input_tokens": {
            "type": "integer"
          },
          "output_tokens": {
            "type": "integer"
          },
          "total_tokens": {
            "type": "integer"
          },
          "input_tokens_details": {
            "type": "object",
            "properties": {
              "image_tokens": {
                "type": "integer"
              },
              "text_tokens": {
                "type": "integer"
              }
            }
          },
          "output_tokens_details": {
            "type": "object",
            "properties": {
              "image_tokens": {
                "type": "integer"
              },
              "text_tokens": {
                "type": "integer"
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}
