{
  "openapi": "3.1.0",
  "info": {
    "title": "Jimmy AI OpenAPI",
    "description": "API for Jimmy AI video generation services",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.viraltok.ai",
      "description": "Production server"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/api/open-api/v1/videos": {
      "post": {
        "summary": "Create Video Task",
        "description": "Create a new video generation task using Sora models. Route 1 (route1): model sora2-12s, duration must be 12. Route 3: sora2-gz-stable / sora2-gz-sp. Route 6: see model config.",
        "operationId": "createVideo",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VideoGenerationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoGenerationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/open-api/v1/videos/{taskId}": {
      "get": {
        "summary": "Query Video Task",
        "description": "Query the status and result of a video generation task.",
        "operationId": "queryVideo",
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "description": "The ID of the task to query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Task status and result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoQueryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/open-api/v1/images": {
      "post": {
        "summary": "GPT Image 2 Image Generation",
        "description": "Create an async GPT Image 2 image task (model=gpt-image-2). The same path also supports gpt-image-1.5, nano-banana family, doubao-seedream-5-0-pro, etc. See each model page. Recommended for production to avoid 504 timeouts on sync calls behind Cloudflare.",
        "operationId": "createImage",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ImageGenerationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageGenerationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/open-api/v1/images/{taskId}": {
      "get": {
        "summary": "Query Image Task",
        "description": "Query the status and result of an image generation task.",
        "operationId": "queryImage",
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "description": "The ID of the task to query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Task status and result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoQueryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/open-api/v1/images/understand": {
      "post": {
        "summary": "Understand Image",
        "description": "Understand and analyze uploaded images based on the Gemini 3.5 Flash model (supports e-commerce promotion analysis, etc.).",
        "operationId": "understandImage",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ImageUnderstandingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Image understood successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageUnderstandingResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/open-api/v1/images/remove-bg": {
      "post": {
        "summary": "Remove background",
        "description": "Synchronous background removal. Charges immediately on success (billing model viraltok-remove-bg) and returns b64_json by default; pass response_format=url for image_url.",
        "operationId": "removeBackground",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RemoveBackgroundRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Background removed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RemoveBackgroundResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/open-api/v1/images/generations": {
      "post": {
        "summary": "GPT Image 2 Text-to-Image",
        "description": "Synchronous text-to-image, compatible with OpenAI POST /v1/images/generations. Billed on success; returns image results in data without polling. Direct image endpoint: https://img.viraltok.ai. If sync calls hit 504 (often Cloudflare proxy timeout), prefer async image task creation.",
        "operationId": "generateOpenAIImage",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpenAIImageGenerationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Generation successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAIImageSyncResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/open-api/v1/images/edits": {
      "post": {
        "summary": "GPT Image 2 Edit Image",
        "description": "Synchronous image edit, compatible with OpenAI POST /v1/images/edits. Upload source images via multipart/form-data (multiple files supported, all using field name `image`); billed on success. Direct image endpoint: https://img.viraltok.ai. If sync calls hit 504 (often Cloudflare proxy timeout), prefer async image task creation.",
        "operationId": "editOpenAIImage",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/OpenAIImageEditRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Edit successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAIImageSyncResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/open-api/v1/veo/frames": {
      "post": {
        "summary": "Create VEO Video",
        "description": "Create a VEO video task. model supports veo_3_1_fast (Fast) or veo_3_1_lite (Lite). Fast: 720p/1080p bill veo_3_1_fast, 4k bills veo_3_1_fast-4k. Lite: 720p only, bills veo_3_1_lite (per task). Poll GET /api/open-api/v1/videos/{taskId}.",
        "operationId": "createVeoFramesVideo",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VeoFramesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoGenerationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/open-api/v1/seedance/videos": {
      "post": {
        "summary": "Create Seedance Video Task",
        "description": "Create a Seedance 2.0 video task. Routes: Full/Manxue (sd2_mx_*, per-second, assets require audit), SP economy (seedance2.0-sp / seedance2.0-fast-sp, per-second by resolution, 720p/1080p only, 480p not supported), SP official (seedance2.0-of-sp / seedance2.0-of-fast-sp, per-second by resolution), Mini (seedance2.0-mini, per-second by resolution), MD (seedance2.0-md / seedance2.0-fast-md / seedance2.0-pro / seedance2.0-fast-pro, per-task, 720p; Pro supports up to 9 images and 3 audios, no reference videos), Fast I2V (seedance2.0-fast-i2v, per-task, 720p, image refs only, max 9, no reference video/audio), STD standard (seedance2.0-std, per-task, 720p, supports audio references). Seedance 2.0 933 (seedance2.0-933, per-second by resolution 480p/720p/1080p; optional reference_images/videos/audios, face_processing, generate_audio, reference_mode). Seedance 2.0 GZ 720p (seedance2.0-gz-720p, per-second, fixed 720p; optional images/videos/audios; direct result media URL). Seedance 933 720p (sd2-933-720p, per-second 0.0479/s, fixed 720p; optional images/videos/audios, reference_mode, generate_audio). Poll GET /api/open-api/v1/videos/{taskId} for results. See seedance/md/create, seedance/md/fast-i2v, seedance/md/std, seedance/mini/create for details.",
        "operationId": "createSeedanceVideo",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SeedanceGenerationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoGenerationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/open-api/v1/seedance/assets/audit": {
      "post": {
        "summary": "Submit Seedance Assets for Audit",
        "description": "Submit raw asset URL lists (videos, images, or audios) for Seedance 2.0 moderation.",
        "operationId": "submitSeedanceAudit",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SeedanceAuditSubmitRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Submitted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SeedanceAuditSubmitResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/open-api/v1/seedance/assets/status": {
      "post": {
        "summary": "Query Seedance Assets Status",
        "description": "Query moderation status and details of submitted Seedance assets.",
        "operationId": "querySeedanceAuditStatus",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SeedanceAuditStatusRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Queried successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SeedanceAuditStatusResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/open-api/v1/seedance/sp/assets/upload": {
      "post": {
        "summary": "SP Upload Asset",
        "description": "Upload image, video, audio, or text assets to the Seedance SP economy library. Returns asset_id for asset:// references.",
        "operationId": "uploadSeedanceSpAsset",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SeedanceSpAssetUploadRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Uploaded successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SeedanceSpAssetUploadResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/open-api/v1/seedance/sp/assets/detail": {
      "post": {
        "summary": "SP Query Asset Detail",
        "description": "Query processing status and metadata for a single Seedance SP asset.",
        "operationId": "querySeedanceSpAssetDetail",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SeedanceSpAssetDetailRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Queried successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SeedanceSpAssetDetailResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/open-api/v1/seedance/sp/assets/status": {
      "post": {
        "summary": "SP Batch Query Asset Status",
        "description": "Batch query processing status for Seedance SP assets.",
        "operationId": "querySeedanceSpAssetBatchStatus",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SeedanceSpAssetBatchStatusRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Queried successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SeedanceSpAssetBatchStatusResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/open-api/v1/gemini/omni/videos": {
      "post": {
        "summary": "Create Gemini Omni Video Task",
        "description": "Create a Gemini Omni video generation task. After the task is created, use the common video task query endpoint to retrieve status and results.",
        "operationId": "createGeminiOmniVideo",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GeminiOmniGenerationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoGenerationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/open-api/v1/grok/videos": {
      "post": {
        "summary": "Create Grok 1.5 Video",
        "description": "Create a Grok 1.5 video generation task. Once created, use the common query task endpoint to get task details.",
        "operationId": "createGrokVideo",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GrokGenerationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoGenerationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/open-api/v1/minimax/videos": {
      "post": {
        "summary": "Create MiniMax H3 Video",
        "description": "Create a MiniMax H3 video generation task. Supports text prompt, up to 5 reference images, 1 reference audio, optional first/last frames, duration 5-15s, and aspect_ratio/size. Billed per_task (flat per request; duration does not affect cost). Poll GET /api/open-api/v1/videos/{taskId} for results.",
        "operationId": "createMinimaxH3Video",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MinimaxH3GenerationRequest"
              },
              "examples": {
                "default": {
                  "summary": "Create MiniMax H3 task",
                  "value": {
                    "model": "minimax-h3",
                    "prompt": "A cinematic product shot with natural lighting",
                    "duration": 5,
                    "aspect_ratio": "16:9",
                    "size": "2560x1440",
                    "reference_images": [
                      "https://example.com/reference.png"
                    ],
                    "reference_audios": [
                      "https://example.com/reference.mp3"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoGenerationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/open-api/v1/kling/videos": {
      "post": {
        "summary": "Create Kling O3 Video",
        "description": "Create a Kling O3 video generation task. Supports text prompt, up to 3 reference images, optional first/last frames, duration 3-15s, aspect_ratio 16:9/9:16/1:1, resolution 720p/1080p, and optional audio. Billed per_task (flat per request; duration does not affect cost). Poll GET /api/open-api/v1/videos/{taskId} for results.",
        "operationId": "createKlingO3Video",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KlingO3GenerationRequest"
              },
              "examples": {
                "default": {
                  "summary": "Create Kling O3 task",
                  "value": {
                    "model": "kling-o3",
                    "prompt": "A cinematic product shot with natural lighting",
                    "duration": 6,
                    "aspect_ratio": "16:9",
                    "resolution": "720p",
                    "reference_images": [
                      "https://example.com/reference.png"
                    ],
                    "generate_audio": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoGenerationResponse"
                },
                "examples": {
                  "queued": {
                    "summary": "Created successfully",
                    "value": {
                      "code": "20000",
                      "msg": "ok",
                      "data": {
                        "task_id": "video_kling_o3_123456",
                        "status": "queued",
                        "model": "kling-o3-720p",
                        "created_at": 1782529105,
                        "cost": 0.3
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/open-api/v1/super-resolution/videos": {
      "post": {
        "summary": "Create video super-resolution task",
        "description": "Enhance a publicly accessible video to higher resolution. Clarity and FPS are selected via model. Poll GET /api/open-api/v1/videos/{taskId} for results. Billed per second with duration ceiled up.",
        "operationId": "createSuperResolutionVideo",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SuperResolutionRequest"
              },
              "examples": {
                "default": {
                  "summary": "Create super-resolution task",
                  "value": {
                    "model": "superResolution-1080p-lowfps",
                    "video_url": "https://example.com/input-low-resolution.mp4"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoGenerationResponse"
                },
                "examples": {
                  "queued": {
                    "summary": "Created",
                    "value": {
                      "code": 0,
                      "msg": "ok",
                      "data": {
                        "task_id": "video_task_1234567890",
                        "status": "queued",
                        "model": "superResolution-1080p-lowfps",
                        "created_at": 1782529105,
                        "cost": 0.4
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/open-api/v1/digital-human/videos": {
      "post": {
        "summary": "Create digital human task",
        "description": "Submit a digital-human lip-sync video task from a face video and driving audio. Optional model_version, side_face, and tilted_face. Poll GET /api/open-api/v1/videos/{taskId} for results. Billed per second based on ceiled video_url duration.",
        "operationId": "createDigitalHumanVideo",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DigitalHumanRequest"
              },
              "examples": {
                "default": {
                  "summary": "Create digital human task",
                  "value": {
                    "model": "digitalHuman",
                    "audio_url": "https://example.com/drive-audio.mp3",
                    "video_url": "https://example.com/face-video.mp4",
                    "model_version": 2
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoGenerationResponse"
                },
                "examples": {
                  "queued": {
                    "summary": "Created",
                    "value": {
                      "code": 0,
                      "msg": "ok",
                      "data": {
                        "task_id": "video_16b635ba-5889-4fa5-bbcc-bf67a38c353a",
                        "status": "queued",
                        "model": "digitalHuman",
                        "created_at": 1781777280,
                        "cost": 0.32
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/open-api/v1/remove-subtitle/videos": {
      "post": {
        "summary": "Create remove-subtitle task",
        "description": "Submit a video subtitle-removal task with a public video URL. Poll GET /api/open-api/v1/videos/{taskId} for results. Billed per second based on ceiled video_url duration.",
        "operationId": "createRemoveSubtitleVideo",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RemoveSubtitleRequest"
              },
              "examples": {
                "default": {
                  "summary": "Create remove-subtitle task",
                  "value": {
                    "model": "video_remove_subtitle",
                    "video_url": "https://example.com/input.mp4"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoGenerationResponse"
                },
                "examples": {
                  "queued": {
                    "summary": "Created",
                    "value": {
                      "code": 0,
                      "msg": "ok",
                      "data": {
                        "task_id": "video_16b635ba-5889-4fa5-bbcc-bf67a38c353a",
                        "status": "queued",
                        "model": "video_remove_subtitle",
                        "created_at": 1781777280,
                        "cost": 0.6
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/open-api/v1/soundCloning/clones": {
      "post": {
        "summary": "SoundClone - Create Preview Task",
        "description": "Submit a voice-cloning preview task. Poll GET /api/open-api/v1/audios/{id} for modelId and preview audioUrl.",
        "operationId": "createSoundClonePreview",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SoundCloneCloneRequest"
              },
              "examples": {
                "preview": {
                  "summary": "Create preview",
                  "value": {
                    "fileUrl": "https://example.com/source-audio.mp3",
                    "contentText": "A short preview sentence for voice cloning.",
                    "soundVersion": "v1",
                    "language": "Chinese"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SoundCloneApiResponse"
                },
                "examples": {
                  "queued": {
                    "summary": "Created",
                    "value": {
                      "code": 20000,
                      "msg": "ok",
                      "data": {
                        "id": "audio_16b635ba-5889-4fa5-bbcc-bf67a38c353a",
                        "object": "audio",
                        "created": 1781777280,
                        "model": "soundCloningClone",
                        "status": "queued",
                        "error": null
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/open-api/v1/soundCloning/audios": {
      "post": {
        "summary": "SoundClone - Create Audio Task",
        "description": "Generate production audio using modelId from a completed preview task.",
        "operationId": "createSoundCloneAudio",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SoundCloneAudioRequest"
              },
              "examples": {
                "production": {
                  "summary": "Create production audio",
                  "value": {
                    "modelId": "model_123456789",
                    "contentText": "Welcome to voice cloning. This is production audio text.",
                    "language": "Chinese",
                    "soundVersion": "v1",
                    "emotion": "neutral",
                    "speed": 1,
                    "vol": 1,
                    "pitch": 0,
                    "subtitleEnable": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SoundCloneApiResponse"
                },
                "examples": {
                  "queued": {
                    "summary": "Created",
                    "value": {
                      "code": 20000,
                      "msg": "ok",
                      "data": {
                        "id": "audio_764fb3e7-8af2-4d2d-89a0-e58f8f3eb9c4",
                        "object": "audio",
                        "created": 1781777280,
                        "model": "soundCloningAudio",
                        "status": "queued",
                        "error": null
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/open-api/v1/audios/{id}": {
      "get": {
        "summary": "SoundClone - Query Result",
        "description": "Query preview or production SoundClone task status and results.",
        "operationId": "querySoundCloneResult",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Task ID from create preview or create audio",
            "schema": {
              "type": "string"
            },
            "example": "audio_16b635ba-5889-4fa5-bbcc-bf67a38c353a"
          }
        ],
        "responses": {
          "200": {
            "description": "Task status and result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SoundCloneQueryApiResponse"
                },
                "examples": {
                  "completed": {
                    "summary": "Preview completed",
                    "value": {
                      "code": 20000,
                      "msg": "ok",
                      "data": {
                        "id": "audio_16b635ba-5889-4fa5-bbcc-bf67a38c353a",
                        "object": "audio",
                        "created": 1781777280,
                        "model": "soundCloningClone",
                        "status": "completed",
                        "modelId": "model_123456789",
                        "audioUrl": "https://example.com/preview-audio.mp3",
                        "error": null
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/open-api/v1/user/balance": {
      "get": {
        "summary": "Query User Account Balance",
        "description": "Returns the JimiCoin account balance for the user who owns the API key (total balance, net consumption, available balance). used_coin is account-wide consumption minus refunds across all keys. OpenAPI usage is billed against this account.",
        "operationId": "getUserBalance",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserBalanceApiResponse"
                },
                "examples": {
                  "success": {
                    "summary": "Success",
                    "value": {
                      "code": 20000,
                      "msg": "ok",
                      "data": {
                        "balance": 100.5,
                        "used_coin": 20.3,
                        "available": 80.2
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/open-api/v1/key/balance": {
      "get": {
        "summary": "Query API Key Quota Balance",
        "description": "Returns quota usage for the current API key (total, used, remaining). total_quota of 0 means unlimited. used_quota is cumulative billed OpenAPI cost for this key only; unlike /user/balance used_coin (account-wide net consumption).",
        "operationId": "getApiKeyBalance",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyBalanceApiResponse"
                },
                "examples": {
                  "success": {
                    "summary": "Success",
                    "value": {
                      "code": 20000,
                      "msg": "ok",
                      "data": {
                        "name": "production-key",
                        "total_quota": 1000,
                        "used_quota": 120.5,
                        "available_quota": 879.5,
                        "unlimited": false
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/open-api/v1/files/upload": {
      "post": {
        "summary": "Upload File",
        "description": "Upload an image, video, or audio file and receive a publicly accessible URL. Maximum file size is 100 MB.",
        "operationId": "uploadFile",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/FileUploadRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Upload successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileUploadApiResponse"
                },
                "examples": {
                  "success": {
                    "summary": "Upload successful",
                    "value": {
                      "code": 20000,
                      "msg": "ok",
                      "data": {
                        "url": "https://cdn.example.com/openapi/upload/20240628/abc123.jpg",
                        "filename": "photo.jpg",
                        "size": 102400,
                        "mime_type": "image/jpeg"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/open-api/v1/videos/understand": {
      "post": {
        "summary": "Understand Video",
        "description": "Gemini video understanding. Pass inline base64 video in contents, or video_url for server-side download (max 80MB). Default model: gemini-3.1-flash-lite.",
        "operationId": "understandVideo",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VideoUnderstandingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Video understanding succeeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageUnderstandingResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/open-api/v1/seedance25/videos": {
      "post": {
        "summary": "Create Seedance 2.5 video task",
        "description": "Create a Seedance 2.5 video generation task. Standard seedance-2.5: up to 30 reference images, 10 reference videos (each and total ≤30.2s), 10 audios (each ≤30s), duration 4–30s, resolution 480p/720p, billed per_second by resolution (seedance-2.5-480p / seedance-2.5-720p). SP seedance-2.5-sp: flat 0.5/s, 720p only, duration 4–30s, same media limits, optional first_image / last_image. Poll GET /api/open-api/v1/videos/{taskId}.",
        "operationId": "createSeedance25Video",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Seedance25GenerationRequest"
              },
              "examples": {
                "default": {
                  "summary": "Create Seedance 2.5 task",
                  "value": {
                    "model": "seedance-2.5",
                    "prompt": "A cinematic product shot with natural lighting",
                    "duration": 4,
                    "aspect_ratio": "16:9",
                    "resolution": "720p",
                    "reference_images": [
                      "https://example.com/reference.png"
                    ],
                    "reference_videos": [
                      "https://example.com/reference.mp4"
                    ],
                    "reference_audios": [
                      "https://example.com/reference.mp3"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoGenerationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/open-api/v1/flux3/videos": {
      "post": {
        "summary": "Create Flux 3 video task",
        "description": "Create a Flux 3 video task. Only 6 models: flux-3-draft / flux-3-i2v-draft / flux-3-flf-draft / flux-3-keyframes-draft / flux-3-extend-draft (fixed 720p) and flux-3-enhance (fixed 1080p). Do not send resolution. Billing model equals request model, per_second × duration (5–20s). Draft returns result.draft_cache_url. Poll GET /api/open-api/v1/videos/{taskId}.",
        "operationId": "createFlux3Video",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Flux3GenerationRequest"
              },
              "examples": {
                "default": {
                  "summary": "Flux 3 draft T2V",
                  "value": {
                    "model": "flux-3-draft",
                    "prompt": "A red panda walks along a mossy log",
                    "duration": 5,
                    "aspect_ratio": "16:9"
                  }
                },
                "enhance": {
                  "summary": "Flux 3 Enhance",
                  "value": {
                    "model": "flux-3-enhance",
                    "duration": 5,
                    "draft_cache_url": "https://example.com/draft-cache.bin"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoGenerationResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "VideoGenerationRequest": {
        "type": "object",
        "required": [
          "model",
          "prompt",
          "duration"
        ],
        "properties": {
          "model": {
            "type": "string",
            "description": "Model name. Route 1: sora2-12s (duration must be 12). Route 3: sora2-gz-stable, sora2-gz-sp, etc."
          },
          "prompt": {
            "type": "string",
            "description": "Text prompt for video generation"
          },
          "duration": {
            "type": "integer",
            "description": "Duration in seconds. Route 1 sora2-12s must be 12"
          },
          "orientation": {
            "type": "string",
            "enum": [
              "landscape",
              "portrait"
            ],
            "description": "Video orientation"
          },
          "images": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Reference image URLs"
          }
        }
      },
      "SeedanceGenerationRequest": {
        "type": "object",
        "required": [
          "model",
          "prompt",
          "duration"
        ],
        "properties": {
          "model": {
            "type": "string",
            "description": "Model name. Manxue: sd2_mx_720p | sd2_mx_1080p | sd2_mx_2k | sd2_mx_4k; Fast: sd2_mx_fast_720p | sd2_mx_fast_1080p; Video ref: sd2_mx_video_720p | sd2_mx_video_1080p | sd2_mx_video_2k | sd2_mx_video_4k; Video ref Fast: sd2_mx_video_fast_720p | sd2_mx_video_fast_1080p (all per-second). reference_videos only for video-series models. SP economy: seedance2.0-sp | seedance2.0-fast-sp (per-second by resolution, 720p/1080p, 480p not supported). SP official: seedance2.0-of-sp | seedance2.0-of-fast-sp (per-second by resolution). Mini: seedance2.0-mini (per-second by resolution; billing names like seedance2.0-mini-720p / seedance2.0-mini-720p-video also accepted). MD: seedance2.0-md (4-15s, max 4 images / 3 videos / 1 audio) | seedance2.0-fast-md (10/15s, max 4 images / 3 videos / 1 audio) | seedance2.0-pro (10/15s, max 9 images / 3 audios, no videos) | seedance2.0-fast-pro (10/15s, max 9 images / 3 audios, no videos). Fast I2V: seedance2.0-fast-i2v (per-task, 720p, image refs only). STD standard: seedance2.0-std (per-task, 720p). Seedance 2.0 933: seedance2.0-933 (per-second by resolution; billing names seedance2.0-933-480p/-720p/-1080p). Seedance 2.0 GZ 720p: seedance2.0-gz-720p (per-second, fixed 720p; max 9 images / 3 videos / 3 audios; audio requires image or video refs). Seedance 933 720p: sd2-933-720p (per-second 0.0479/s, fixed 720p; max 9 images / 3 videos / 3 audios)"
          },
          "prompt": {
            "type": "string",
            "description": "Text prompt. MD route: max 5000 characters"
          },
          "duration": {
            "type": "integer",
            "description": "Duration in seconds. Full 4-15; SP economy 4-15; seedance2.0-md 4-15; seedance2.0-fast-md / seedance2.0-pro / seedance2.0-fast-pro: 10 or 15 only; STD standard 4-15. Default 5"
          },
          "resolution": {
            "type": "string",
            "enum": [
              "480p",
              "720p",
              "1080p"
            ],
            "description": "Output resolution. For SP economy: 720p (default), 1080p; 480p not supported. Mini also supports 480p"
          },
          "orientation": {
            "type": "string",
            "enum": [
              "landscape",
              "portrait"
            ],
            "description": "Video orientation (ratio takes precedence if set)"
          },
          "images": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Reference images. Full route: asset://{assetId}; SP/MD/STD/Fast I2V: https:// URL. seedance2.0-md / seedance2.0-fast-md max 4; seedance2.0-pro / seedance2.0-fast-pro / seedance2.0-fast-i2v / STD max 9. Mutually exclusive with first_image/last_image. seedance2.0-gz-720p: https:// or asset://, max 9"
          },
          "ratio": {
            "type": "string",
            "description": "Aspect ratio. MD: 16:9, 9:16, 1:1 only. STD: 21:9, 16:9, 4:3, 1:1, 3:4, 9:16. Full route also supports 4:3, 3:4, 21:9, Adaptive"
          },
          "first_image": {
            "type": "string",
            "description": "First frame. Full: asset://{assetId}; Economy/MD: https:// URL. MD frame mode requires last_image as well; first frame only is not supported"
          },
          "last_image": {
            "type": "string",
            "description": "Last frame. Full: asset://{assetId}; Economy/MD: https:// URL. MD frame mode requires first_image as well"
          },
          "reference_videos": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Reference videos. Full: asset://{assetId}; Economy/MD: https:// URL. seedance2.0-md / seedance2.0-fast-md max 3, combined duration ≤15s, combined size ≤200MB, each resolution 720px–2160px. seedance2.0-pro / seedance2.0-fast-pro / seedance2.0-fast-i2v not supported. seedance2.0-gz-720p max 3"
          },
          "reference_audios": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Reference audio. Supported on Full, SP economy, and STD. seedance2.0-md / seedance2.0-fast-md max 1 clip; seedance2.0-pro / seedance2.0-fast-pro max 3 clips and must be paired with images; seedance2.0-fast-i2v not supported. Full: asset://{assetId}; SP/MD: https:// URL. Frame mode does not support audio references. seedance2.0-gz-720p max 3 and must pair with images/videos"
          },
          "aspect_ratio": {
            "type": "string",
            "description": "Aspect ratio alias (used by seedance2.0-933; takes precedence over ratio). 933 supports 21:9/16:9/4:3/1:1/3:4/9:16"
          },
          "reference_images": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Alias for images. seedance2.0-933: max 9"
          },
          "videos": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Alias for reference_videos. seedance2.0-933: max 3"
          },
          "audios": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Alias for reference_audios. seedance2.0-933: max 3"
          },
          "face_processing": {
            "type": "boolean",
            "description": "seedance2.0-933 only. Enable face processing. Default true"
          },
          "generate_audio": {
            "type": "boolean",
            "description": "seedance2.0-933 only. Generate audio. Default false"
          },
          "reference_mode": {
            "type": "string",
            "enum": [
              "image",
              "frame"
            ],
            "description": "seedance2.0-933 only. Reference mode. Default image"
          }
        }
      },
      "ImageGenerationRequest": {
        "type": "object",
        "required": [
          "model",
          "prompt"
        ],
        "properties": {
          "model": {
            "type": "string",
            "description": "Model name (supported: gpt-image-2, gpt-image-1.5, nano-banana, nano-banana-2, nano-banana-pro, doubao-seedream-5-0-pro)"
          },
          "prompt": {
            "type": "string",
            "description": "Text prompt for image generation"
          },
          "ratio": {
            "type": "string",
            "description": "Aspect ratio. Supported values: auto, 1:1, 3:2, 2:3, 4:3, 3:4, 5:4, 4:5, 16:9, 9:16, 2:1, 1:2, 3:1, 1:3, 21:9, 9:21. doubao-seedream-5-0-pro only supports 1:1, 4:3, 3:4, 16:9, 9:16, 3:2, 2:3, 21:9, auto.",
            "enum": [
              "auto",
              "1:1",
              "3:2",
              "2:3",
              "4:3",
              "3:4",
              "5:4",
              "4:5",
              "16:9",
              "9:16",
              "2:1",
              "1:2",
              "3:1",
              "1:3",
              "21:9",
              "9:21"
            ],
            "default": "auto"
          },
          "images": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Reference image URLs or base64 strings. doubao-seedream-5-0-pro: max 10; per image: jpeg/png/webp/bmp/tiff/gif/heic/heif, aspect ratio [1/16,16], sides >14px, ≤30MB, pixels ≤6000×6000"
          },
          "resolution": {
            "type": "string",
            "description": "Image resolution. doubao-seedream-5-0-pro: 1k, 2k (default 2k), 4k not supported. gpt-image-2, nano-banana-2, etc.: 1k, 2k, 4k. Note: gpt-image-2 with 4K only supports aspect ratios 16:9 / 9:16 / 2:1 / 1:2 / 21:9 / 9:21.",
            "enum": [
              "1k",
              "2k",
              "4k"
            ],
            "default": "1k"
          },
          "quality": {
            "type": "string",
            "description": "Image quality (gpt-image-2 / gpt-image-1.5). Supported values: low, medium, high, auto.",
            "enum": [
              "low",
              "medium",
              "high",
              "auto"
            ],
            "default": "low"
          },
          "n": {
            "type": "integer",
            "description": "Number of images. gpt-image-1.5: 1–4 (clamped).",
            "minimum": 1,
            "maximum": 4,
            "default": 1
          },
          "background": {
            "type": "string",
            "description": "Background mode (gpt-image-1.5): auto / opaque / transparent. Use png with transparent.",
            "enum": [
              "auto",
              "opaque",
              "transparent"
            ],
            "default": "auto"
          },
          "moderation": {
            "type": "string",
            "description": "Moderation strength (gpt-image-1.5): auto / low.",
            "enum": [
              "auto",
              "low"
            ],
            "default": "auto"
          },
          "output_format": {
            "type": "string",
            "description": "Output format (gpt-image-1.5): png / jpeg.",
            "enum": [
              "png",
              "jpeg"
            ],
            "default": "png"
          },
          "mask_url": {
            "type": "string",
            "description": "Inpainting mask URL (gpt-image-1.5); requires images."
          }
        }
      },
      "ImageGenerationResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "example": "20000"
          },
          "msg": {
            "type": "string",
            "example": "ok"
          },
          "data": {
            "type": "object",
            "properties": {
              "task_id": {
                "type": "string"
              },
              "status": {
                "type": "string"
              },
              "model": {
                "type": "string"
              },
              "created_at": {
                "type": "integer",
                "format": "int64"
              },
              "cost": {
                "type": "number",
                "format": "double",
                "description": "Billed amount for this task (JimiCoin). Uses per-user custom unit price when configured in the console."
              }
            }
          }
        }
      },
      "VeoFramesRequest": {
        "type": "object",
        "required": [
          "model",
          "prompt"
        ],
        "properties": {
          "model": {
            "type": "string",
            "description": "Request model: veo_3_1_fast / veo_3_1_fast-4k, or veo_3_1_lite (720p only)."
          },
          "prompt": {
            "type": "string",
            "description": "Text prompt"
          },
          "resolution": {
            "type": "string",
            "enum": [
              "720p",
              "1080p",
              "4k"
            ],
            "description": "Output resolution. Fast: 720p/1080p→veo_3_1_fast, 4k→veo_3_1_fast-4k. Lite: 720p only→veo_3_1_lite."
          },
          "orientation": {
            "type": "string",
            "enum": [
              "landscape",
              "portrait"
            ],
            "description": "Video orientation"
          },
          "first_frame_url": {
            "type": "string",
            "description": "URL of the first frame image"
          },
          "last_frame_url": {
            "type": "string",
            "description": "URL of the last frame image"
          },
          "images": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Reference image URLs"
          }
        }
      },
      "VideoGenerationResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "example": "20000"
          },
          "msg": {
            "type": "string",
            "example": "ok"
          },
          "data": {
            "type": "object",
            "properties": {
              "task_id": {
                "type": "string"
              },
              "status": {
                "type": "string"
              },
              "model": {
                "type": "string"
              },
              "created_at": {
                "type": "integer",
                "format": "int64"
              },
              "cost": {
                "type": "number",
                "format": "double",
                "description": "Billed amount for this task (JimiCoin). Uses per-user custom unit price when configured in the console."
              }
            }
          }
        }
      },
      "VideoQueryResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "example": "20000"
          },
          "msg": {
            "type": "string",
            "example": "ok"
          },
          "data": {
            "type": "object",
            "properties": {
              "task_id": {
                "type": "string"
              },
              "status": {
                "type": "string"
              },
              "progress": {
                "type": "integer"
              },
              "model": {
                "type": "string"
              },
              "created_at": {
                "type": "integer",
                "format": "int64"
              },
              "completed_at": {
                "type": "integer",
                "format": "int64"
              },
              "result": {
                "type": "object",
                "properties": {
                  "video_url": {
                    "type": "string",
                    "description": "URL of the generated video (Valid for 3 days)"
                  },
                  "image_url": {
                    "type": "string",
                    "description": "URL of the generated image (for image tasks, Valid for 3 days)"
                  }
                }
              },
              "error_message": {
                "type": "string"
              },
              "cost": {
                "type": "number",
                "format": "double",
                "description": "Billed amount for this task (JimiCoin). Uses per-user custom unit price when configured in the console."
              }
            }
          }
        }
      },
      "SeedanceAuditSubmitRequest": {
        "type": "object",
        "properties": {
          "audio_urls": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of audio URLs"
          },
          "image_urls": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of image URLs"
          },
          "video_urls": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of video URLs"
          }
        }
      },
      "SeedanceAuditSubmitResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "example": "20000"
          },
          "msg": {
            "type": "string",
            "example": "ok"
          },
          "data": {
            "type": "object",
            "properties": {
              "failed_items": {
                "type": "array",
                "items": {
                  "type": "object"
                },
                "description": "Failed items"
              },
              "items": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/SeedanceAuditItem"
                },
                "description": "Moderation status items list"
              }
            }
          }
        }
      },
      "SeedanceAuditItem": {
        "type": "object",
        "properties": {
          "asset_id": {
            "type": "string",
            "description": "Asset ID"
          },
          "original_url": {
            "type": "string",
            "description": "Original asset URL"
          },
          "asset_type": {
            "type": "string",
            "description": "Asset type (e.g. video, image, audio)"
          },
          "status": {
            "type": "string",
            "description": "Moderation status"
          }
        }
      },
      "SeedanceAuditStatusRequest": {
        "type": "object",
        "required": [
          "asset_ids"
        ],
        "properties": {
          "asset_ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of asset IDs to query"
          }
        }
      },
      "SeedanceAuditStatusResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "example": "20000"
          },
          "msg": {
            "type": "string",
            "example": "ok"
          },
          "data": {
            "type": "object",
            "properties": {
              "items": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/SeedanceAuditStatusItem"
                },
                "description": "Asset status list"
              }
            }
          }
        }
      },
      "SeedanceAuditStatusItem": {
        "type": "object",
        "properties": {
          "asset_id": {
            "type": "string",
            "description": "Asset ID"
          },
          "status": {
            "type": "string",
            "description": "Audit/activation status (e.g., Active means ready for use)"
          }
        }
      },
      "SeedanceSpAssetUploadRequest": {
        "type": "object",
        "required": [
          "name",
          "type",
          "url"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "Asset name"
          },
          "type": {
            "type": "string",
            "enum": [
              "image",
              "video",
              "audio",
              "text"
            ],
            "description": "Asset type"
          },
          "url": {
            "type": "string",
            "description": "Public asset URL"
          }
        }
      },
      "SeedanceSpAssetUploadResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "example": 0
          },
          "msg": {
            "type": "string",
            "example": "ok"
          },
          "data": {
            "type": "object",
            "properties": {
              "asset_id": {
                "type": "string",
                "description": "Asset ID for asset:// references"
              }
            }
          }
        }
      },
      "SeedanceSpAssetDetailRequest": {
        "type": "object",
        "required": [
          "asset_id"
        ],
        "properties": {
          "asset_id": {
            "type": "string",
            "description": "Asset ID"
          }
        }
      },
      "SeedanceSpAssetDetailResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "example": 0
          },
          "msg": {
            "type": "string",
            "example": "ok"
          },
          "data": {
            "type": "object",
            "properties": {
              "asset_id": {
                "type": "string"
              },
              "official_id": {
                "type": "string"
              },
              "status": {
                "type": "string",
                "description": "NONE / UPLOADING / PROCESSING / ACTIVE / FAILED / EXPIRED / DELETED. Only ACTIVE can be used for video generation"
              },
              "name": {
                "type": "string"
              },
              "image_url": {
                "type": "string"
              },
              "created_at": {
                "type": "string"
              }
            }
          }
        }
      },
      "SeedanceSpAssetBatchStatusRequest": {
        "type": "object",
        "required": [
          "asset_ids"
        ],
        "properties": {
          "asset_ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of asset IDs"
          }
        }
      },
      "SeedanceSpAssetBatchStatusResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "example": 0
          },
          "msg": {
            "type": "string",
            "example": "ok"
          },
          "data": {
            "type": "object",
            "properties": {
              "items": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/SeedanceSpAssetDetailItem"
                }
              }
            }
          }
        }
      },
      "SeedanceSpAssetDetailItem": {
        "type": "object",
        "properties": {
          "asset_id": {
            "type": "string"
          },
          "official_id": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "image_url": {
            "type": "string"
          },
          "created_at": {
            "type": "string"
          }
        }
      },
      "ImageUnderstandingRequest": {
        "type": "object",
        "required": [
          "model",
          "contents"
        ],
        "properties": {
          "model": {
            "type": "string",
            "description": "Model name (e.g., gemini-3.5-flash)"
          },
          "contents": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GeminiContent"
            },
            "description": "Dialogue context content"
          }
        }
      },
      "GeminiContent": {
        "type": "object",
        "required": [
          "role",
          "parts"
        ],
        "properties": {
          "role": {
            "type": "string",
            "description": "Role (user or model)"
          },
          "parts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GeminiPart"
            }
          }
        }
      },
      "GeminiPart": {
        "type": "object",
        "properties": {
          "text": {
            "type": "string",
            "description": "Text content"
          },
          "inline_data": {
            "$ref": "#/components/schemas/GeminiInlineData"
          }
        }
      },
      "GeminiInlineData": {
        "type": "object",
        "required": [
          "mime_type",
          "data"
        ],
        "properties": {
          "mime_type": {
            "type": "string",
            "description": "Media MIME type (e.g. image/jpeg, video/mp4)"
          },
          "data": {
            "type": "string",
            "description": "Base64-encoded media data"
          }
        }
      },
      "ImageUnderstandingResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "example": "20000"
          },
          "msg": {
            "type": "string",
            "example": "ok"
          },
          "data": {
            "type": "object",
            "properties": {
              "candidates": {
                "type": "array",
                "items": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "GrokGenerationRequest": {
        "type": "object",
        "required": [
          "model",
          "prompt",
          "image_urls"
        ],
        "properties": {
          "model": {
            "type": "string",
            "enum": [
              "grok-imagine-video-1.5"
            ],
            "description": "Model name. grok-imagine-video-1.5, grok-1.5, and grok_1_5 normalize to grok-imagine-video-1.5."
          },
          "prompt": {
            "type": "string",
            "maxLength": 4000,
            "description": "Text prompt for video generation. Up to 4000 characters."
          },
          "duration": {
            "type": "integer",
            "default": 10,
            "enum": [
              10,
              15
            ],
            "description": "Video duration in seconds. Only supports 10 or 15 seconds. Defaults to 10."
          },
          "ratio": {
            "type": "string",
            "default": "16:9",
            "enum": [
              "16:9",
              "9:16",
              "1:1",
              "3:2",
              "2:3"
            ],
            "description": "Video aspect ratio (e.g., 16:9, 9:16). Takes precedence over orientation."
          },
          "orientation": {
            "type": "string",
            "enum": [
              "landscape",
              "portrait"
            ],
            "description": "Video orientation. Active only when ratio is empty: landscape maps to 16:9, portrait maps to 9:16."
          },
          "image_urls": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Reference image URL list. grok-imagine-video-1.5 requires exactly 1 reference image."
          },
          "images": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Compatibility field for common OpenAPI image inputs; used when image_urls is empty. Requires exactly 1 image."
          }
        },
        "example": {
          "model": "grok-imagine-video-1.5",
          "prompt": "A beautiful butterfly flying among flowers, slow motion, hyper-detailed",
          "duration": 10,
          "ratio": "16:9",
          "image_urls": [
            "https://example.com/butterfly.jpg"
          ]
        }
      },
      "MinimaxH3GenerationRequest": {
        "type": "object",
        "required": [
          "model",
          "prompt"
        ],
        "properties": {
          "model": {
            "type": "string",
            "enum": [
              "minimax-h3"
            ],
            "description": "Model name. minimax-h3, minimax_h3, and minimaxh3 normalize to minimax-h3."
          },
          "prompt": {
            "type": "string",
            "minLength": 1,
            "maxLength": 2000,
            "description": "Text prompt for video generation. 1–2000 characters."
          },
          "duration": {
            "type": "integer",
            "default": 5,
            "minimum": 5,
            "maximum": 15,
            "description": "Video duration in seconds. Supports 5–15. Defaults to 5."
          },
          "aspect_ratio": {
            "type": "string",
            "default": "16:9",
            "enum": [
              "16:9",
              "9:16",
              "1:1",
              "4:3",
              "3:4",
              "21:9"
            ],
            "description": "Output aspect ratio. Takes precedence over ratio."
          },
          "ratio": {
            "type": "string",
            "enum": [
              "16:9",
              "9:16",
              "1:1",
              "4:3",
              "3:4",
              "21:9"
            ],
            "description": "Alias for aspect_ratio when aspect_ratio is empty."
          },
          "size": {
            "type": "string",
            "default": "2560x1440",
            "enum": [
              "2560x1440",
              "1440x2560",
              "1440x1440",
              "1920x1440",
              "1440x1920",
              "3360x1440"
            ],
            "description": "Output pixel size. Defaults based on aspect_ratio when omitted."
          },
          "reference_images": {
            "type": "array",
            "maxItems": 5,
            "items": {
              "type": "string"
            },
            "description": "Reference image URL list. Max 5 public URLs."
          },
          "images": {
            "type": "array",
            "maxItems": 5,
            "items": {
              "type": "string"
            },
            "description": "Alias for reference_images when reference_images is empty."
          },
          "reference_audios": {
            "type": "array",
            "maxItems": 1,
            "items": {
              "type": "string"
            },
            "description": "Reference audio URL list. Max 1 public URL."
          },
          "first_image": {
            "type": "string",
            "description": "Optional first-frame image URL."
          },
          "last_image": {
            "type": "string",
            "description": "Optional last-frame image URL."
          }
        },
        "example": {
          "model": "minimax-h3",
          "prompt": "A cinematic product shot with natural lighting",
          "duration": 5,
          "aspect_ratio": "16:9",
          "size": "2560x1440",
          "reference_images": [
            "https://example.com/reference.png"
          ],
          "reference_audios": [
            "https://example.com/reference.mp3"
          ]
        }
      },
      "KlingO3GenerationRequest": {
        "type": "object",
        "required": [
          "model",
          "prompt"
        ],
        "properties": {
          "model": {
            "type": "string",
            "enum": [
              "kling-o3"
            ],
            "description": "Model name. kling-o3, klingo3, kling_o3, and KlingO3 normalize to kling-o3."
          },
          "prompt": {
            "type": "string",
            "minLength": 1,
            "maxLength": 2000,
            "description": "Text prompt for video generation. 1–2000 characters."
          },
          "duration": {
            "type": "integer",
            "default": 6,
            "minimum": 3,
            "maximum": 15,
            "description": "Video duration in seconds. Supports 3–15. Defaults to 6."
          },
          "aspect_ratio": {
            "type": "string",
            "default": "16:9",
            "enum": [
              "16:9",
              "9:16",
              "1:1"
            ],
            "description": "Output aspect ratio. Takes precedence over ratio."
          },
          "ratio": {
            "type": "string",
            "enum": [
              "16:9",
              "9:16",
              "1:1"
            ],
            "description": "Alias for aspect_ratio when aspect_ratio is empty."
          },
          "resolution": {
            "type": "string",
            "default": "720p",
            "enum": [
              "720p",
              "1080p"
            ],
            "description": "Output resolution. Defaults to 720p."
          },
          "reference_images": {
            "type": "array",
            "maxItems": 3,
            "items": {
              "type": "string"
            },
            "description": "Reference image URL list. Max 3 public URLs."
          },
          "images": {
            "type": "array",
            "maxItems": 3,
            "items": {
              "type": "string"
            },
            "description": "Alias for reference_images when reference_images is empty."
          },
          "first_image": {
            "type": "string",
            "description": "Optional first-frame image URL."
          },
          "last_image": {
            "type": "string",
            "description": "Optional last-frame image URL."
          },
          "generate_audio": {
            "type": "boolean",
            "default": false,
            "description": "Whether to generate a video audio track. Defaults to false."
          },
          "reference_mode": {
            "type": "string",
            "description": "Optional reference mode."
          }
        },
        "example": {
          "model": "kling-o3",
          "prompt": "A cinematic product shot with natural lighting",
          "duration": 6,
          "aspect_ratio": "16:9",
          "resolution": "720p",
          "reference_images": [
            "https://example.com/reference.png"
          ],
          "generate_audio": false
        }
      },
      "SuperResolutionRequest": {
        "type": "object",
        "required": [
          "model",
          "video_url"
        ],
        "properties": {
          "model": {
            "type": "string",
            "enum": [
              "superResolution-720p-lowfps",
              "superResolution-720p-highfps",
              "superResolution-1080p-lowfps",
              "superResolution-1080p-highfps",
              "superResolution-2k-lowfps",
              "superResolution-2k-highfps",
              "superResolution-4k-lowfps",
              "superResolution-4k-highfps"
            ],
            "description": "Super-resolution model. Clarity tier: 720p/1080p/2k/4k; lowfps=30FPS, highfps=120FPS."
          },
          "video_url": {
            "type": "string",
            "description": "Public URL of the source video; must remain accessible while the task runs."
          }
        },
        "example": {
          "model": "superResolution-1080p-lowfps",
          "video_url": "https://example.com/input-low-resolution.mp4"
        }
      },
      "DigitalHumanRequest": {
        "type": "object",
        "required": [
          "audio_url",
          "video_url"
        ],
        "properties": {
          "model": {
            "type": "string",
            "enum": [
              "digitalHuman"
            ],
            "default": "digitalHuman",
            "description": "Digital human model name. Default: digitalHuman."
          },
          "audio_url": {
            "type": "string",
            "description": "Public URL of the driving audio. Supported: mp4, mp3, wav, m4a, etc. Avoid non-ASCII characters in the URL; must remain accessible while processing."
          },
          "video_url": {
            "type": "string",
            "description": "Public URL of the face video. Avoid non-ASCII characters in the URL; must remain accessible while processing."
          },
          "model_version": {
            "type": "integer",
            "enum": [
              1,
              2
            ],
            "description": "Model version. 1: clearer teeth for large-face shots; 2: better lip sync and faster articulation (recommended)."
          },
          "side_face": {
            "type": "integer",
            "enum": [
              0,
              1
            ],
            "description": "Side-face optimization. Set 1 for strong side profiles; omit or 0 otherwise."
          },
          "tilted_face": {
            "type": "integer",
            "enum": [
              0,
              1
            ],
            "description": "Tilted-face optimization. Set 1 when the face is frontal but tilted / mouth skewed; omit or 0 otherwise."
          }
        },
        "example": {
          "model": "digitalHuman",
          "audio_url": "https://example.com/drive-audio.mp3",
          "video_url": "https://example.com/face-video.mp4",
          "model_version": 2
        }
      },
      "RemoveSubtitleRequest": {
        "type": "object",
        "required": [
          "video_url"
        ],
        "properties": {
          "model": {
            "type": "string",
            "enum": [
              "video_remove_subtitle"
            ],
            "default": "video_remove_subtitle",
            "description": "Remove-subtitle model name. Default: video_remove_subtitle."
          },
          "video_url": {
            "type": "string",
            "description": "Public URL of the source video. Avoid non-ASCII characters in the URL; must remain accessible while processing."
          }
        },
        "example": {
          "model": "video_remove_subtitle",
          "video_url": "https://example.com/input.mp4"
        }
      },
      "GeminiOmniGenerationRequest": {
        "type": "object",
        "required": [
          "model",
          "prompt"
        ],
        "properties": {
          "model": {
            "type": "string",
            "enum": [
              "Gemini-Omini",
              "Omni-Flash-Ext",
              "gemini-omni",
              "omni-10s"
            ],
            "description": "Model name. Gemini-Omini, Omni-Flash-Ext, and gemini-omni normalize to Gemini-Omini; omni-10s is a fixed 10s model (720p, up to 7 reference images)."
          },
          "prompt": {
            "type": "string",
            "description": "Text prompt for video generation"
          },
          "duration": {
            "type": "integer",
            "default": 6,
            "description": "Video duration in seconds. Default: 6. Only supports: 4, 6, 8, 10. Note: duration is not required when uploading a reference video, and duration and video_urls cannot be passed at the same time."
          },
          "resolution": {
            "type": "string",
            "default": "720p",
            "enum": [
              "720p",
              "1080p",
              "4k"
            ],
            "description": "Video resolution. Defaults to 720p."
          },
          "aspect_ratio": {
            "type": "string",
            "description": "Video aspect ratio, for example 16:9 or 9:16. Takes precedence over orientation."
          },
          "orientation": {
            "type": "string",
            "enum": [
              "landscape",
              "portrait"
            ],
            "description": "Video orientation. Used only when aspect_ratio is empty: landscape maps to 16:9, portrait maps to 9:16."
          },
          "image_urls": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Reference image URL list. omni-10s supports up to 7 images."
          },
          "images": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Compatibility field for common OpenAPI image inputs; used when image_urls is empty. omni-10s supports up to 7 images."
          },
          "generation_type": {
            "type": "string",
            "default": "reference",
            "enum": [
              "frame",
              "reference"
            ],
            "description": "Generation type. frame: first frame mode (image_urls can only accept 1 image as the first frame of the video); reference: reference mode (image_urls can accept 1 or 3 images as style/subject reference). Defaults to reference."
          },
          "video_urls": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Reference video URL list (currently supports up to 1 video). Note: duration is not required when uploading a reference video, and duration and video_urls cannot be passed at the same time."
          }
        },
        "example": {
          "model": "Gemini-Omini",
          "prompt": "A cat running through a neon rainy street, cinematic low-angle tracking shot",
          "duration": 6,
          "resolution": "720p",
          "aspect_ratio": "16:9",
          "generation_type": "reference",
          "image_urls": [],
          "video_urls": []
        }
      },
      "OpenAIImageGenerationRequest": {
        "type": "object",
        "required": [
          "prompt"
        ],
        "properties": {
          "model": {
            "type": "string",
            "description": "Model name. Default: gpt-image-2. Also supports gpt-image-1.5 (async aishuch). Sync generations/edits do not support these models.",
            "default": "gpt-image-2",
            "example": "gpt-image-2"
          },
          "prompt": {
            "type": "string",
            "description": "Text prompt for image generation"
          },
          "size": {
            "type": "string",
            "description": "Output size. Default: 1024x1024",
            "default": "1024x1024",
            "example": "1024x1024"
          },
          "n": {
            "type": "integer",
            "description": "Number of images. MAX: 1",
            "default": 1
          },
          "quality": {
            "type": "string",
            "description": "Quality tier. gpt-image-2 sync billing: auto→gpt-image-2-sync, low/medium/high→gpt-image-2-sync-{quality}",
            "enum": [
              "low",
              "medium",
              "high",
              "auto"
            ],
            "default": "low"
          },
          "background": {
            "type": "string",
            "enum": [
              "transparent",
              "opaque",
              "auto"
            ]
          },
          "output_format": {
            "type": "string",
            "enum": [
              "png",
              "jpeg",
              "webp"
            ]
          }
        },
        "example": {
          "model": "gpt-image-2",
          "prompt": "Cyberpunk city at night in the rain, neon signs, cinematic framing",
          "size": "1024x1024",
          "n": 1,
          "quality": "high"
        }
      },
      "OpenAIImageEditRequest": {
        "type": "object",
        "required": [
          "image",
          "prompt"
        ],
        "properties": {
          "image": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "binary"
            },
            "description": "Source image files (required, max 20MB each, up to 16 files; single-file upload also supported, field name `image`)"
          },
          "model": {
            "type": "string",
            "default": "gpt-image-2"
          },
          "prompt": {
            "type": "string",
            "description": "Edit prompt"
          },
          "size": {
            "type": "string",
            "default": "1024x1024"
          },
          "n": {
            "type": "integer",
            "default": 1
          },
          "quality": {
            "type": "string",
            "enum": [
              "low",
              "medium",
              "high",
              "auto"
            ],
            "default": "low"
          },
          "background": {
            "type": "string",
            "enum": [
              "transparent",
              "opaque",
              "auto"
            ]
          },
          "output_format": {
            "type": "string",
            "enum": [
              "png",
              "jpeg",
              "webp"
            ]
          }
        }
      },
      "OpenAIImageSyncResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "example": 20000
          },
          "msg": {
            "type": "string",
            "example": "ok"
          },
          "data": {
            "$ref": "#/components/schemas/OpenAIImageSyncResult"
          }
        }
      },
      "OpenAIImageSyncResult": {
        "type": "object",
        "description": "OpenAI-compatible image result",
        "properties": {
          "created": {
            "type": "integer",
            "format": "int64"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OpenAIImageResultItem"
            }
          },
          "model": {
            "type": "string",
            "example": "gpt-image-2"
          },
          "usage": {
            "$ref": "#/components/schemas/OpenAIImageUsage"
          }
        }
      },
      "OpenAIImageResultItem": {
        "type": "object",
        "properties": {
          "b64_json": {
            "type": "string",
            "description": "Base64-encoded image (may be several MB)"
          },
          "revised_prompt": {
            "type": "string"
          }
        }
      },
      "OpenAIImageUsage": {
        "type": "object",
        "properties": {
          "input_tokens": {
            "type": "integer"
          },
          "output_tokens": {
            "type": "integer"
          },
          "total_tokens": {
            "type": "integer"
          },
          "input_tokens_details": {
            "type": "object",
            "properties": {
              "image_tokens": {
                "type": "integer"
              },
              "text_tokens": {
                "type": "integer"
              }
            }
          },
          "output_tokens_details": {
            "type": "object",
            "properties": {
              "image_tokens": {
                "type": "integer"
              },
              "text_tokens": {
                "type": "integer"
              }
            }
          }
        }
      },
      "SoundCloneCloneRequest": {
        "type": "object",
        "required": [
          "fileUrl"
        ],
        "properties": {
          "fileUrl": {
            "type": "string",
            "description": "Public URL of source audio or video"
          },
          "contentText": {
            "type": "string",
            "description": "Preview script, max 270 characters"
          },
          "soundVersion": {
            "type": "string",
            "enum": [
              "v1",
              "v2"
            ],
            "default": "v1"
          },
          "language": {
            "type": "string",
            "default": "auto"
          }
        },
        "example": {
          "fileUrl": "https://example.com/source-audio.mp3",
          "contentText": "A short preview sentence for voice cloning.",
          "soundVersion": "v1",
          "language": "Chinese"
        }
      },
      "SoundCloneAudioRequest": {
        "type": "object",
        "required": [
          "modelId",
          "contentText"
        ],
        "properties": {
          "modelId": {
            "type": "string"
          },
          "contentText": {
            "type": "string",
            "description": "Text to synthesize, max 10000 characters"
          },
          "soundVersion": {
            "type": "string",
            "enum": [
              "v1",
              "v2"
            ]
          },
          "language": {
            "type": "string",
            "default": "auto"
          },
          "emotion": {
            "type": "string",
            "enum": [
              "happy",
              "sad",
              "angry",
              "fearful",
              "disgusted",
              "surprised",
              "neutral"
            ],
            "default": "neutral"
          },
          "speed": {
            "type": "number",
            "minimum": 0.5,
            "maximum": 2,
            "default": 1
          },
          "vol": {
            "type": "number",
            "exclusiveMinimum": 0,
            "maximum": 10,
            "default": 1
          },
          "pitch": {
            "type": "integer",
            "minimum": -12,
            "maximum": 12,
            "default": 0
          },
          "subtitleEnable": {
            "type": "boolean",
            "default": false
          },
          "subtitleType": {
            "type": "string",
            "enum": [
              "word"
            ]
          }
        },
        "example": {
          "modelId": "model_123456789",
          "contentText": "Welcome to voice cloning. This is production audio text.",
          "language": "Chinese",
          "soundVersion": "v1",
          "emotion": "neutral",
          "speed": 1,
          "vol": 1,
          "pitch": 0,
          "subtitleEnable": false
        }
      },
      "SoundCloneTaskData": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "example": "audio"
          },
          "created": {
            "type": "integer",
            "format": "int64"
          },
          "model": {
            "type": "string",
            "enum": [
              "soundCloningClone",
              "soundCloningAudio"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "queued",
              "processing",
              "completed",
              "failed"
            ]
          },
          "error": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "example": {
          "id": "audio_16b635ba-5889-4fa5-bbcc-bf67a38c353a",
          "object": "audio",
          "created": 1781777280,
          "model": "soundCloningClone",
          "status": "queued",
          "error": null
        }
      },
      "SoundCloneQueryData": {
        "allOf": [
          {
            "$ref": "#/components/schemas/SoundCloneTaskData"
          },
          {
            "type": "object",
            "properties": {
              "modelId": {
                "type": "string"
              },
              "audioUrl": {
                "type": "string"
              },
              "subtitleFile": {
                "type": "string"
              }
            }
          }
        ]
      },
      "SoundCloneApiResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "example": 20000
          },
          "msg": {
            "type": "string",
            "example": "ok"
          },
          "data": {
            "$ref": "#/components/schemas/SoundCloneTaskData"
          }
        }
      },
      "SoundCloneQueryApiResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "example": 20000
          },
          "msg": {
            "type": "string",
            "example": "ok"
          },
          "data": {
            "$ref": "#/components/schemas/SoundCloneQueryData"
          }
        }
      },
      "FileUploadRequest": {
        "type": "object",
        "required": [
          "file"
        ],
        "properties": {
          "file": {
            "type": "string",
            "format": "binary",
            "description": "File to upload. Field name must be `file`."
          }
        }
      },
      "FileUploadData": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "description": "Public URL of the uploaded file",
            "example": "https://cdn.example.com/openapi/upload/20240628/abc123.jpg"
          },
          "filename": {
            "type": "string",
            "description": "Original filename",
            "example": "photo.jpg"
          },
          "size": {
            "type": "integer",
            "format": "int64",
            "description": "File size in bytes",
            "example": 102400
          },
          "mime_type": {
            "type": "string",
            "description": "File MIME type",
            "example": "image/jpeg"
          }
        },
        "example": {
          "url": "https://cdn.example.com/openapi/upload/20240628/abc123.jpg",
          "filename": "photo.jpg",
          "size": 102400,
          "mime_type": "image/jpeg"
        }
      },
      "FileUploadApiResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "example": 20000
          },
          "msg": {
            "type": "string",
            "example": "ok"
          },
          "data": {
            "$ref": "#/components/schemas/FileUploadData"
          }
        }
      },
      "UserBalanceData": {
        "type": "object",
        "properties": {
          "balance": {
            "type": "number",
            "description": "Total account balance (includes active subscription credits)"
          },
          "used_coin": {
            "type": "number",
            "description": "Account net consumption (sum of consumption minus refunds), across all API keys"
          },
          "available": {
            "type": "number",
            "description": "Available balance"
          }
        }
      },
      "UserBalanceApiResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "example": 20000
          },
          "msg": {
            "type": "string",
            "example": "ok"
          },
          "data": {
            "$ref": "#/components/schemas/UserBalanceData"
          }
        }
      },
      "ApiKeyBalanceData": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "API key display name"
          },
          "total_quota": {
            "type": "number",
            "description": "Total quota; 0 means unlimited"
          },
          "used_quota": {
            "type": "number",
            "description": "Quota consumed by this key: cumulative billed OpenAPI cost (JimiCoin), compared against total_quota for enforcement"
          },
          "available_quota": {
            "type": "number",
            "description": "Remaining quota"
          },
          "unlimited": {
            "type": "boolean",
            "description": "Whether quota is unlimited"
          }
        }
      },
      "ApiKeyBalanceApiResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "example": 20000
          },
          "msg": {
            "type": "string",
            "example": "ok"
          },
          "data": {
            "$ref": "#/components/schemas/ApiKeyBalanceData"
          }
        }
      },
      "VideoUnderstandingRequest": {
        "type": "object",
        "properties": {
          "model": {
            "type": "string",
            "description": "Model name. Default gemini-3.1-flash-lite; also supports gemini-3.5-flash",
            "default": "gemini-3.1-flash-lite",
            "example": "gemini-3.1-flash-lite"
          },
          "video_url": {
            "type": "string",
            "description": "Public video URL. Required when contents has no inline video."
          },
          "contents": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GeminiContent"
            },
            "description": "Gemini contents with text prompt and/or inline video"
          },
          "generationConfig": {
            "type": "object",
            "description": "Optional generation config (temperature, mediaResolution, etc.)"
          }
        }
      },
      "Seedance25GenerationRequest": {
        "type": "object",
        "required": [
          "model",
          "prompt"
        ],
        "properties": {
          "model": {
            "type": "string",
            "enum": [
              "seedance-2.5",
              "seedance-2.5-sp"
            ],
            "description": "Model id. Aliases seedance2.5 / seedance_2.5 / seedance25 normalize to seedance-2.5; seedance-2.5-sp is the SP economy variant."
          },
          "prompt": {
            "type": "string",
            "minLength": 1,
            "maxLength": 5000,
            "description": "Text prompt, length 1–5000."
          },
          "duration": {
            "type": "integer",
            "default": 4,
            "minimum": 4,
            "maximum": 30,
            "description": "Duration in seconds (4–30). Default 4."
          },
          "aspect_ratio": {
            "type": "string",
            "default": "9:16",
            "enum": [
              "16:9",
              "9:16",
              "1:1"
            ],
            "description": "Output aspect ratio. Takes precedence over ratio. Default 9:16."
          },
          "ratio": {
            "type": "string",
            "enum": [
              "16:9",
              "9:16",
              "1:1"
            ],
            "description": "Alias used when aspect_ratio is empty."
          },
          "resolution": {
            "type": "string",
            "default": "480p",
            "enum": [
              "480p",
              "720p"
            ],
            "description": "Output resolution tier. Default 480p."
          },
          "first_image": {
            "type": "string",
[...]
