{
  "openapi": "3.1.0",
  "info": {
    "title": "Jimmy AI OpenAPI",
    "description": "API for Jimmy AI video generation services",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://www.jimmyai.cn",
      "description": "Production server"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/api/open-api/v1/videos": {
      "post": {
        "summary": "Create Video Task",
        "description": "Create a new video generation task using Sora models.",
        "operationId": "createVideo",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VideoGenerationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoGenerationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/open-api/v1/videos/{taskId}": {
      "get": {
        "summary": "Query Video Task",
        "description": "Query the status and result of a video generation task.",
        "operationId": "queryVideo",
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "description": "The ID of the task to query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Task status and result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoQueryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/open-api/v1/images": {
      "post": {
        "summary": "Create Image Task",
        "description": "Create a new image generation task using GPT Image 2 model.",
        "operationId": "createImage",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ImageGenerationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageGenerationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/open-api/v1/images/{taskId}": {
      "get": {
        "summary": "Query Image Task",
        "description": "Query the status and result of an image generation task.",
        "operationId": "queryImage",
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "description": "The ID of the task to query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Task status and result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoQueryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/open-api/v1/veo/videos": {
      "post": {
        "summary": "Create VEO Video Task",
        "description": "Create a new video generation task using VEO models.",
        "operationId": "createVeoVideo",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VideoGenerationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoGenerationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/open-api/v1/veo/frames": {
      "post": {
        "summary": "Create VEO Frames Video Task",
        "description": "Create a new VEO video generation task using first and last frames.",
        "operationId": "createVeoFramesVideo",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VeoFramesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoGenerationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/open-api/v1/seedance/videos": {
      "post": {
        "summary": "Create Seedance Video Task",
        "description": "Create a new video generation task using Seedance 2.0 models.",
        "operationId": "createSeedanceVideo",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SeedanceGenerationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoGenerationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/open-api/v1/seedance/assets/audit": {
      "post": {
        "summary": "Submit Seedance Assets for Audit",
        "description": "Submit raw asset URL lists (videos, images, or audios) for Seedance 2.0 moderation.",
        "operationId": "submitSeedanceAudit",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SeedanceAuditSubmitRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Submitted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SeedanceAuditSubmitResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/open-api/v1/seedance/assets/status": {
      "post": {
        "summary": "Query Seedance Assets Status",
        "description": "Query moderation status and details of submitted Seedance assets.",
        "operationId": "querySeedanceAuditStatus",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SeedanceAuditStatusRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Queried successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SeedanceAuditStatusResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "VideoGenerationRequest": {
        "type": "object",
        "required": [
          "model",
          "prompt",
          "duration"
        ],
        "properties": {
          "model": {
            "type": "string",
            "description": "Model name (e.g., sora2-gz-stable, sora2-gz-sp)"
          },
          "prompt": {
            "type": "string",
            "description": "Text prompt for video generation"
          },
          "duration": {
            "type": "integer",
            "description": "Duration in seconds"
          },
          "orientation": {
            "type": "string",
            "enum": [
              "landscape",
              "portrait"
            ],
            "description": "Video orientation"
          },
          "images": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Reference image URLs"
          }
        }
      },
      "SeedanceGenerationRequest": {
        "type": "object",
        "required": [
          "model",
          "prompt",
          "duration"
        ],
        "properties": {
          "model": {
            "type": "string",
            "description": "Model name (e.g., sd2-manxue-720p, sd2-manxue-1080p, sd2-manxue-2k, sd2-manxue-4k)"
          },
          "prompt": {
            "type": "string",
            "description": "Text prompt for video generation"
          },
          "duration": {
            "type": "integer",
            "description": "Duration in seconds"
          },
          "orientation": {
            "type": "string",
            "enum": [
              "landscape",
              "portrait"
            ],
            "description": "Video orientation (ignored if ratio is provided)"
          },
          "images": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Reference image URLs"
          },
          "ratio": {
            "type": "string",
            "description": "Aspect ratio of output video (e.g., 16:9, 9:16, 1:1, 4:3, 3:4, 21:9, Adaptive)"
          },
          "first_image": {
            "type": "string",
            "description": "First frame image URL"
          },
          "last_image": {
            "type": "string",
            "description": "Last frame image URL"
          },
          "reference_videos": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Reference video URLs"
          },
          "reference_audios": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Reference audio URLs"
          }
        }
      },
      "ImageGenerationRequest": {
        "type": "object",
        "required": [
          "model",
          "prompt"
        ],
        "properties": {
          "model": {
            "type": "string",
            "description": "Model name (supported: gpt-image-2, nano-banana, nano-banana-2, nano-banana-pro)"
          },
          "prompt": {
            "type": "string",
            "description": "Text prompt for image generation"
          },
          "size": {
            "type": "string",
            "description": "Image aspect ratio/size. Supported values: auto (Automatic), 1:1 (Square), 3:2 (Landscape), 2:3 (Portrait), 4:3 (Landscape), 3:4 (Portrait), 5:4 (Landscape), 4:5 (Portrait), 16:9 (Widescreen), 9:16 (Vertical), 2:1 (Landscape), 1:2 (Portrait), 3:1 (Wide Landscape), 1:3 (Tall Portrait), 21:9 (Ultrawide), 9:21 (Ultrawide Vertical)",
            "enum": [
              "auto",
              "1:1",
              "3:2",
              "2:3",
              "4:3",
              "3:4",
              "5:4",
              "4:5",
              "16:9",
              "9:16",
              "2:1",
              "1:2",
              "3:1",
              "1:3",
              "21:9",
              "9:21"
            ],
            "default": "auto"
          },
          "images": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Reference image URLs or base64 strings"
          },
          "resolution": {
            "type": "string",
            "description": "Image resolution (supported by gpt-image-2, nano-banana-2, etc.). Supported values: 1k, 2k, 4k. Note: gpt-image-2 with 4K resolution only supports the following aspect ratios: 16:9 / 9:16 / 2:1 / 1:2 / 21:9 / 9:21.",
            "enum": [
              "1k",
              "2k",
              "4k"
            ],
            "default": "1k"
          }
        }
      },
      "ImageGenerationResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "example": "20000"
          },
          "msg": {
            "type": "string",
            "example": "ok"
          },
          "data": {
            "type": "object",
            "properties": {
              "task_id": {
                "type": "string"
              },
              "status": {
                "type": "string"
              },
              "model": {
                "type": "string"
              },
              "created_at": {
                "type": "integer",
                "format": "int64"
              }
            }
          }
        }
      },
      "VeoFramesRequest": {
        "type": "object",
        "required": [
          "model",
          "prompt"
        ],
        "properties": {
          "model": {
            "type": "string",
            "description": "Model name (e.g., veo_3_1_fast)"
          },
          "prompt": {
            "type": "string",
            "description": "Text prompt"
          },
          "resolution": {
            "type": "string",
            "enum": [
              "720p",
              "1080p",
              "4k"
            ],
            "description": "Video resolution"
          },
          "orientation": {
            "type": "string",
            "enum": [
              "landscape",
              "portrait"
            ],
            "description": "Video orientation"
          },
          "first_frame_url": {
            "type": "string",
            "description": "URL of the first frame image"
          },
          "last_frame_url": {
            "type": "string",
            "description": "URL of the last frame image"
          },
          "images": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Reference image URLs"
          }
        }
      },
      "VideoGenerationResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "example": "20000"
          },
          "msg": {
            "type": "string",
            "example": "ok"
          },
          "data": {
            "type": "object",
            "properties": {
              "task_id": {
                "type": "string"
              },
              "status": {
                "type": "string"
              },
              "model": {
                "type": "string"
              },
              "created_at": {
                "type": "integer",
                "format": "int64"
              }
            }
          }
        }
      },
      "VideoQueryResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "example": "20000"
          },
          "msg": {
            "type": "string",
            "example": "ok"
          },
          "data": {
            "type": "object",
            "properties": {
              "task_id": {
                "type": "string"
              },
              "status": {
                "type": "string"
              },
              "progress": {
                "type": "integer"
              },
              "model": {
                "type": "string"
              },
              "created_at": {
                "type": "integer",
                "format": "int64"
              },
              "completed_at": {
                "type": "integer",
                "format": "int64"
              },
              "result": {
                "type": "object",
                "properties": {
                  "video_url": {
                    "type": "string",
                    "description": "URL of the generated video (Valid for 3 days)"
                  },
                  "image_url": {
                    "type": "string",
                    "description": "URL of the generated image (for image tasks, Valid for 3 days)"
                  }
                }
              },
              "error_message": {
                "type": "string"
              }
            }
          }
        }
      },
      "SeedanceAuditSubmitRequest": {
        "type": "object",
        "properties": {
          "audio_urls": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of audio URLs"
          },
          "image_urls": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of image URLs"
          },
          "video_urls": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of video URLs"
          }
        }
      },
      "SeedanceAuditSubmitResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "example": "20000"
          },
          "msg": {
            "type": "string",
            "example": "ok"
          },
          "data": {
            "type": "object",
            "properties": {
              "failed_items": {
                "type": "array",
                "items": {
                  "type": "object"
                },
                "description": "Failed items"
              },
              "items": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/SeedanceAuditItem"
                },
                "description": "Moderation status items list"
              }
            }
          }
        }
      },
      "SeedanceAuditItem": {
        "type": "object",
        "properties": {
          "asset_id": {
            "type": "string",
            "description": "Asset ID"
          },
          "original_url": {
            "type": "string",
            "description": "Original asset URL"
          },
          "asset_type": {
            "type": "string",
            "description": "Asset type (e.g. video, image, audio)"
          },
          "status": {
            "type": "string",
            "description": "Moderation status"
          }
        }
      },
      "SeedanceAuditStatusRequest": {
        "type": "object",
        "required": [
          "asset_ids"
        ],
        "properties": {
          "asset_ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of asset IDs to query"
          }
        }
      },
      "SeedanceAuditStatusResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "example": "20000"
          },
          "msg": {
            "type": "string",
            "example": "ok"
          },
          "data": {
            "type": "object",
            "properties": {
              "items": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/SeedanceAuditStatusItem"
                },
                "description": "Asset status list"
              }
            }
          }
        }
      },
      "SeedanceAuditStatusItem": {
        "type": "object",
        "properties": {
          "asset_id": {
            "type": "string",
            "description": "Asset ID"
          },
          "status": {
            "type": "string",
            "description": "Audit/activation status (e.g., Active means ready for use)"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}