{
  "openapi": "3.1.0",
  "info": {
    "title": "Jimmy AI OpenAPI",
    "description": "API for Jimmy AI video generation services",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://www.jimmyai.cn",
      "description": "Production server"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/api/open-api/v1/videos": {
      "post": {
        "summary": "Create Video Task",
        "description": "Create a new video generation task using Sora models. Route 1 (route1): model sora2-12s, duration must be 12. Route 3: sora2-gz-stable / sora2-gz-sp. Route 6: see model config.",
        "operationId": "createVideo",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VideoGenerationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoGenerationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/open-api/v1/videos/{taskId}": {
      "get": {
        "summary": "Query Video Task",
        "description": "Query the status and result of a video generation task.",
        "operationId": "queryVideo",
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "description": "The ID of the task to query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Task status and result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoQueryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/open-api/v1/images": {
      "post": {
        "summary": "Create Image Task",
        "description": "Create a new image generation task using GPT Image 2 model.",
        "operationId": "createImage",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ImageGenerationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageGenerationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/open-api/v1/images/{taskId}": {
      "get": {
        "summary": "Query Image Task",
        "description": "Query the status and result of an image generation task.",
        "operationId": "queryImage",
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "description": "The ID of the task to query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Task status and result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoQueryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/open-api/v1/images/understand": {
      "post": {
        "summary": "Understand Image",
        "description": "Understand and analyze uploaded images based on the Gemini 3.5 Flash model (supports e-commerce promotion analysis, etc.).",
        "operationId": "understandImage",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ImageUnderstandingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Image understood successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageUnderstandingResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/open-api/v1/images/generations": {
      "post": {
        "summary": "Text-to-Image (Sync)",
        "description": "Synchronous text-to-image, compatible with OpenAI POST /v1/images/generations. Billed on success; returns image results in data without polling.",
        "operationId": "generateOpenAIImage",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpenAIImageGenerationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Generation successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAIImageSyncResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/open-api/v1/images/edits": {
      "post": {
        "summary": "Edit Image (Sync)",
        "description": "Synchronous image edit, compatible with OpenAI POST /v1/images/edits. Upload source images via multipart/form-data (multiple files supported, all using field name `image`); billed on success.",
        "operationId": "editOpenAIImage",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/OpenAIImageEditRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Edit successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAIImageSyncResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/open-api/v1/veo/frames": {
      "post": {
        "summary": "Create VEO Frames Video Task",
        "description": "Create a new VEO video generation task using first and last frames.",
        "operationId": "createVeoFramesVideo",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VeoFramesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoGenerationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/open-api/v1/seedance/videos": {
      "post": {
        "summary": "Create Seedance Video Task",
        "description": "Create a Seedance 2.0 video task. Routes: Full/Manxue (sd2_mx_*, per-second, assets require audit), SP economy (seedance2.0-sp / seedance2.0-fast-sp, per-second by resolution), SP official (seedance2.0-of-sp / seedance2.0-of-fast-sp, per-second by resolution), MD (seedance2.0-md / seedance2.0-fast-md, per-task, 720p, no audio). Poll GET /api/open-api/v1/videos/{taskId} for results. See seedance/md/create for MD details.",
        "operationId": "createSeedanceVideo",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SeedanceGenerationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoGenerationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/open-api/v1/seedance/assets/audit": {
      "post": {
        "summary": "Submit Seedance Assets for Audit",
        "description": "Submit raw asset URL lists (videos, images, or audios) for Seedance 2.0 moderation.",
        "operationId": "submitSeedanceAudit",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SeedanceAuditSubmitRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Submitted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SeedanceAuditSubmitResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/open-api/v1/seedance/assets/status": {
      "post": {
        "summary": "Query Seedance Assets Status",
        "description": "Query moderation status and details of submitted Seedance assets.",
        "operationId": "querySeedanceAuditStatus",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SeedanceAuditStatusRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Queried successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SeedanceAuditStatusResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/open-api/v1/seedance/sp/assets/upload": {
      "post": {
        "summary": "SP Upload Asset",
        "description": "Upload image, video, audio, or text assets to the Seedance SP economy library. Returns asset_id for asset:// references.",
        "operationId": "uploadSeedanceSpAsset",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SeedanceSpAssetUploadRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Uploaded successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SeedanceSpAssetUploadResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/open-api/v1/seedance/sp/assets/detail": {
      "post": {
        "summary": "SP Query Asset Detail",
        "description": "Query processing status and metadata for a single Seedance SP asset.",
        "operationId": "querySeedanceSpAssetDetail",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SeedanceSpAssetDetailRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Queried successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SeedanceSpAssetDetailResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/open-api/v1/seedance/sp/assets/status": {
      "post": {
        "summary": "SP Batch Query Asset Status",
        "description": "Batch query processing status for Seedance SP assets.",
        "operationId": "querySeedanceSpAssetBatchStatus",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SeedanceSpAssetBatchStatusRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Queried successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SeedanceSpAssetBatchStatusResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/open-api/v1/seedance/sp/realperson/submit": {
      "post": {
        "summary": "SP Submit Real-Person Whitelist",
        "description": "Submit a real-person portrait for whitelist processing on the SP economy route.",
        "operationId": "submitSeedanceSpRealPerson",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SeedanceSpRealPersonSubmitRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Submitted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SeedanceSpRealPersonResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/open-api/v1/seedance/sp/realperson/status": {
      "post": {
        "summary": "SP Query Real-Person Status",
        "description": "Query whitelist processing status for a single Seedance SP real-person asset.",
        "operationId": "querySeedanceSpRealPersonStatus",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SeedanceSpRealPersonStatusRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Queried successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SeedanceSpRealPersonResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/open-api/v1/seedance/sp/realperson/batch-status": {
      "post": {
        "summary": "SP Batch Query Real-Person Status",
        "description": "Batch query whitelist processing status for Seedance SP real-person assets.",
        "operationId": "querySeedanceSpRealPersonBatchStatus",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SeedanceSpRealPersonBatchStatusRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Queried successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SeedanceSpRealPersonBatchStatusResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/open-api/v1/gemini/omni/videos": {
      "post": {
        "summary": "Create Gemini Omni Video Task",
        "description": "Create a Gemini Omni video generation task. After the task is created, use the common video task query endpoint to retrieve status and results.",
        "operationId": "createGeminiOmniVideo",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GeminiOmniGenerationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoGenerationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/open-api/v1/grok/videos": {
      "post": {
        "summary": "Create Grok 1.5 Video",
        "description": "Create a Grok 1.5 video generation task. Once created, use the common query task endpoint to get task details.",
        "operationId": "createGrokVideo",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GrokGenerationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoGenerationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/open-api/v1/soundCloning/clones": {
      "post": {
        "summary": "SoundClone - Create Preview Task",
        "description": "Submit a voice-cloning preview task. Poll GET /api/open-api/v1/audios/{id} for modelId and preview audioUrl.",
        "operationId": "createSoundClonePreview",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SoundCloneCloneRequest"
              },
              "examples": {
                "preview": {
                  "summary": "Create preview",
                  "value": {
                    "fileUrl": "https://example.com/source-audio.mp3",
                    "contentText": "A short preview sentence for voice cloning.",
                    "soundVersion": "v1",
                    "language": "Chinese"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SoundCloneApiResponse"
                },
                "examples": {
                  "queued": {
                    "summary": "Created",
                    "value": {
                      "code": 20000,
                      "msg": "ok",
                      "data": {
                        "id": "audio_16b635ba-5889-4fa5-bbcc-bf67a38c353a",
                        "object": "audio",
                        "created": 1781777280,
                        "model": "soundCloningClone",
                        "status": "queued",
                        "error": null
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/open-api/v1/soundCloning/audios": {
      "post": {
        "summary": "SoundClone - Create Audio Task",
        "description": "Generate production audio using modelId from a completed preview task.",
        "operationId": "createSoundCloneAudio",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SoundCloneAudioRequest"
              },
              "examples": {
                "production": {
                  "summary": "Create production audio",
                  "value": {
                    "modelId": "model_123456789",
                    "contentText": "Welcome to voice cloning. This is production audio text.",
                    "language": "Chinese",
                    "soundVersion": "v1",
                    "emotion": "neutral",
                    "speed": 1,
                    "vol": 1,
                    "pitch": 0,
                    "subtitleEnable": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SoundCloneApiResponse"
                },
                "examples": {
                  "queued": {
                    "summary": "Created",
                    "value": {
                      "code": 20000,
                      "msg": "ok",
                      "data": {
                        "id": "audio_764fb3e7-8af2-4d2d-89a0-e58f8f3eb9c4",
                        "object": "audio",
                        "created": 1781777280,
                        "model": "soundCloningAudio",
                        "status": "queued",
                        "error": null
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/open-api/v1/audios/{id}": {
      "get": {
        "summary": "SoundClone - Query Result",
        "description": "Query preview or production SoundClone task status and results.",
        "operationId": "querySoundCloneResult",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Task ID from create preview or create audio",
            "schema": {
              "type": "string"
            },
            "example": "audio_16b635ba-5889-4fa5-bbcc-bf67a38c353a"
          }
        ],
        "responses": {
          "200": {
            "description": "Task status and result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SoundCloneQueryApiResponse"
                },
                "examples": {
                  "completed": {
                    "summary": "Preview completed",
                    "value": {
                      "code": 20000,
                      "msg": "ok",
                      "data": {
                        "id": "audio_16b635ba-5889-4fa5-bbcc-bf67a38c353a",
                        "object": "audio",
                        "created": 1781777280,
                        "model": "soundCloningClone",
                        "status": "completed",
                        "modelId": "model_123456789",
                        "audioUrl": "https://example.com/preview-audio.mp3",
                        "error": null
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "VideoGenerationRequest": {
        "type": "object",
        "required": [
          "model",
          "prompt",
          "duration"
        ],
        "properties": {
          "model": {
            "type": "string",
            "description": "Model name. Route 1: sora2-12s (duration must be 12). Route 3: sora2-gz-stable, sora2-gz-sp, etc."
          },
          "prompt": {
            "type": "string",
            "description": "Text prompt for video generation"
          },
          "duration": {
            "type": "integer",
            "description": "Duration in seconds. Route 1 sora2-12s must be 12"
          },
          "orientation": {
            "type": "string",
            "enum": [
              "landscape",
              "portrait"
            ],
            "description": "Video orientation"
          },
          "images": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Reference image URLs"
          }
        }
      },
      "SeedanceGenerationRequest": {
        "type": "object",
        "required": [
          "model",
          "prompt",
          "duration"
        ],
        "properties": {
          "model": {
            "type": "string",
            "description": "Model name. Manxue: sd2_mx_720p | sd2_mx_1080p | sd2_mx_2k | sd2_mx_4k; Fast: sd2_mx_fast_720p | sd2_mx_fast_1080p; Video ref: sd2_mx_video_720p | sd2_mx_video_1080p | sd2_mx_video_2k | sd2_mx_video_4k; Video ref Fast: sd2_mx_video_fast_720p | sd2_mx_video_fast_1080p (all per-second). reference_videos only for video-series models. SP economy: seedance2.0-sp | seedance2.0-fast-sp (per-second by resolution). SP official: seedance2.0-of-sp | seedance2.0-of-fast-sp (per-second by resolution). MD: seedance2.0-md | seedance2.0-fast-md (per-task, 720p)"
          },
          "prompt": {
            "type": "string",
            "description": "Text prompt. MD route: max 5000 characters"
          },
          "duration": {
            "type": "integer",
            "description": "Duration in seconds. Full 4-12; SP economy 4-15; MD 1-15. Default 5"
          },
          "resolution": {
            "type": "string",
            "enum": [
              "480p",
              "720p",
              "1080p"
            ],
            "description": "Output resolution for SP economy. Default 720p"
          },
          "orientation": {
            "type": "string",
            "enum": [
              "landscape",
              "portrait"
            ],
            "description": "Video orientation (ratio takes precedence if set)"
          },
          "images": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Reference images. Full route: asset://{assetId}; SP/MD: https:// URL. MD max 4. Mutually exclusive with first_image/last_image"
          },
          "ratio": {
            "type": "string",
            "description": "Aspect ratio. MD: 16:9, 9:16, 1:1 only. Full route also supports 4:3, 3:4, 21:9, Adaptive"
          },
          "first_image": {
            "type": "string",
            "description": "First frame. Full: asset://{assetId}; Economy/MD: https:// URL"
          },
          "last_image": {
            "type": "string",
            "description": "Last frame. Full: asset://{assetId}; Economy/MD: https:// URL"
          },
          "reference_videos": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Reference videos. Full: asset://{assetId}; Economy/MD: https:// URL"
          },
          "reference_audios": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Reference audio. Supported on Full and SP economy (SP requires paired images/videos or frames). Not supported on MD. Full: asset://{assetId}; SP: https:// URL or asset://"
          }
        }
      },
      "ImageGenerationRequest": {
        "type": "object",
        "required": [
          "model",
          "prompt"
        ],
        "properties": {
          "model": {
            "type": "string",
            "description": "Model name (supported: gpt-image-2, nano-banana, nano-banana-2, nano-banana-pro)"
          },
          "prompt": {
            "type": "string",
            "description": "Text prompt for image generation"
          },
          "ratio": {
            "type": "string",
            "description": "Aspect ratio. Supported values: auto, 1:1 (Square), 3:2 (Landscape), 2:3 (Portrait), 4:3 (Landscape), 3:4 (Portrait), 5:4 (Landscape), 4:5 (Portrait), 16:9 (Widescreen), 9:16 (Vertical), 2:1 (Landscape), 1:2 (Portrait), 3:1 (Wide Landscape), 1:3 (Tall Portrait), 21:9 (Ultrawide), 9:21 (Ultrawide Vertical)",
            "enum": [
              "auto",
              "1:1",
              "3:2",
              "2:3",
              "4:3",
              "3:4",
              "5:4",
              "4:5",
              "16:9",
              "9:16",
              "2:1",
              "1:2",
              "3:1",
              "1:3",
              "21:9",
              "9:21"
            ],
            "default": "auto"
          },
          "images": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Reference image URLs or base64 strings"
          },
          "resolution": {
            "type": "string",
            "description": "Image resolution (supported by gpt-image-2, nano-banana-2, etc.). Supported values: 1k, 2k, 4k. Note: gpt-image-2 with 4K resolution only supports the following aspect ratios: 16:9 / 9:16 / 2:1 / 1:2 / 21:9 / 9:21.",
            "enum": [
              "1k",
              "2k",
              "4k"
            ],
            "default": "1k"
          },
          "quality": {
            "type": "string",
            "description": "Image quality (supported by gpt-image-2). Supported values: low, medium, high.",
            "enum": [
              "low",
              "medium",
              "high"
            ],
            "default": "low"
          }
        }
      },
      "ImageGenerationResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "example": "20000"
          },
          "msg": {
            "type": "string",
            "example": "ok"
          },
          "data": {
            "type": "object",
            "properties": {
              "task_id": {
                "type": "string"
              },
              "status": {
                "type": "string"
              },
              "model": {
                "type": "string"
              },
              "created_at": {
                "type": "integer",
                "format": "int64"
              }
            }
          }
        }
      },
      "VeoFramesRequest": {
        "type": "object",
        "required": [
          "model",
          "prompt"
        ],
        "properties": {
          "model": {
            "type": "string",
            "description": "Model name (e.g., veo_3_1_fast)"
          },
          "prompt": {
            "type": "string",
            "description": "Text prompt"
          },
          "resolution": {
            "type": "string",
            "enum": [
              "720p",
              "1080p",
              "4k"
            ],
            "description": "Video resolution"
          },
          "orientation": {
            "type": "string",
            "enum": [
              "landscape",
              "portrait"
            ],
            "description": "Video orientation"
          },
          "first_frame_url": {
            "type": "string",
            "description": "URL of the first frame image"
          },
          "last_frame_url": {
            "type": "string",
            "description": "URL of the last frame image"
          },
          "images": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Reference image URLs"
          }
        }
      },
      "VideoGenerationResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "example": "20000"
          },
          "msg": {
            "type": "string",
            "example": "ok"
          },
          "data": {
            "type": "object",
            "properties": {
              "task_id": {
                "type": "string"
              },
              "status": {
                "type": "string"
              },
              "model": {
                "type": "string"
              },
              "created_at": {
                "type": "integer",
                "format": "int64"
              }
            }
          }
        }
      },
      "VideoQueryResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "example": "20000"
          },
          "msg": {
            "type": "string",
            "example": "ok"
          },
          "data": {
            "type": "object",
            "properties": {
              "task_id": {
                "type": "string"
              },
              "status": {
                "type": "string"
              },
              "progress": {
                "type": "integer"
              },
              "model": {
                "type": "string"
              },
              "created_at": {
                "type": "integer",
                "format": "int64"
              },
              "completed_at": {
                "type": "integer",
                "format": "int64"
              },
              "result": {
                "type": "object",
                "properties": {
                  "video_url": {
                    "type": "string",
                    "description": "URL of the generated video (Valid for 3 days)"
                  },
                  "image_url": {
                    "type": "string",
                    "description": "URL of the generated image (for image tasks, Valid for 3 days)"
                  }
                }
              },
              "error_message": {
                "type": "string"
              }
            }
          }
        }
      },
      "SeedanceAuditSubmitRequest": {
        "type": "object",
        "properties": {
          "audio_urls": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of audio URLs"
          },
          "image_urls": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of image URLs"
          },
          "video_urls": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of video URLs"
          }
        }
      },
      "SeedanceAuditSubmitResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "example": "20000"
          },
          "msg": {
            "type": "string",
            "example": "ok"
          },
          "data": {
            "type": "object",
            "properties": {
              "failed_items": {
                "type": "array",
                "items": {
                  "type": "object"
                },
                "description": "Failed items"
              },
              "items": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/SeedanceAuditItem"
                },
                "description": "Moderation status items list"
              }
            }
          }
        }
      },
      "SeedanceAuditItem": {
        "type": "object",
        "properties": {
          "asset_id": {
            "type": "string",
            "description": "Asset ID"
          },
          "original_url": {
            "type": "string",
            "description": "Original asset URL"
          },
          "asset_type": {
            "type": "string",
            "description": "Asset type (e.g. video, image, audio)"
          },
          "status": {
            "type": "string",
            "description": "Moderation status"
          }
        }
      },
      "SeedanceAuditStatusRequest": {
        "type": "object",
        "required": [
          "asset_ids"
        ],
        "properties": {
          "asset_ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of asset IDs to query"
          }
        }
      },
      "SeedanceAuditStatusResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "example": "20000"
          },
          "msg": {
            "type": "string",
            "example": "ok"
          },
          "data": {
            "type": "object",
            "properties": {
              "items": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/SeedanceAuditStatusItem"
                },
                "description": "Asset status list"
              }
            }
          }
        }
      },
      "SeedanceAuditStatusItem": {
        "type": "object",
        "properties": {
          "asset_id": {
            "type": "string",
            "description": "Asset ID"
          },
          "status": {
            "type": "string",
            "description": "Audit/activation status (e.g., Active means ready for use)"
          }
        }
      },
      "SeedanceSpAssetUploadRequest": {
        "type": "object",
        "required": [
          "name",
          "type",
          "url"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "Asset name"
          },
          "type": {
            "type": "string",
            "enum": [
              "image",
              "video",
              "audio",
              "text"
            ],
            "description": "Asset type"
          },
          "url": {
            "type": "string",
            "description": "Public asset URL"
          }
        }
      },
      "SeedanceSpAssetUploadResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "example": 0
          },
          "msg": {
            "type": "string",
            "example": "ok"
          },
          "data": {
            "type": "object",
            "properties": {
              "asset_id": {
                "type": "string",
                "description": "Asset ID for asset:// references"
              }
            }
          }
        }
      },
      "SeedanceSpAssetDetailRequest": {
        "type": "object",
        "required": [
          "asset_id"
        ],
        "properties": {
          "asset_id": {
            "type": "string",
            "description": "Asset ID"
          }
        }
      },
      "SeedanceSpAssetDetailResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "example": 0
          },
          "msg": {
            "type": "string",
            "example": "ok"
          },
          "data": {
            "type": "object",
            "properties": {
              "asset_id": {
                "type": "string"
              },
              "official_id": {
                "type": "string"
              },
              "status": {
                "type": "string",
                "description": "Processing / Active / Failed"
              },
              "name": {
                "type": "string"
              },
              "image_url": {
                "type": "string"
              },
              "created_at": {
                "type": "string"
              }
            }
          }
        }
      },
      "SeedanceSpAssetBatchStatusRequest": {
        "type": "object",
        "required": [
          "asset_ids"
        ],
        "properties": {
          "asset_ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of asset IDs"
          }
        }
      },
      "SeedanceSpAssetBatchStatusResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "example": 0
          },
          "msg": {
            "type": "string",
            "example": "ok"
          },
          "data": {
            "type": "object",
            "properties": {
              "items": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/SeedanceSpAssetDetailItem"
                }
              }
            }
          }
        }
      },
      "SeedanceSpAssetDetailItem": {
        "type": "object",
        "properties": {
          "asset_id": {
            "type": "string"
          },
          "official_id": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "image_url": {
            "type": "string"
          },
          "created_at": {
            "type": "string"
          }
        }
      },
      "SeedanceSpRealPersonSubmitRequest": {
        "type": "object",
        "required": [
          "name",
          "url"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "Real-person asset name"
          },
          "url": {
            "type": "string",
            "description": "Public portrait image URL"
          }
        }
      },
      "SeedanceSpRealPersonStatusRequest": {
        "type": "object",
        "required": [
          "asset_id"
        ],
        "properties": {
          "asset_id": {
            "type": "string",
            "description": "asset_id returned from whitelist submit"
          }
        }
      },
      "SeedanceSpRealPersonResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "example": 0
          },
          "msg": {
            "type": "string",
            "example": "ok"
          },
          "data": {
            "type": "object",
            "properties": {
              "asset_id": {
                "type": "string"
              },
              "official_id": {
                "type": "string"
              },
              "status": {
                "type": "string",
                "description": "Processing / Active / Failed"
              },
              "asset_ref": {
                "type": "string",
                "description": "Reference usable in video create requests"
              },
              "name": {
                "type": "string"
              },
              "url": {
                "type": "string"
              },
              "created_at": {
                "type": "string"
              }
            }
          }
        }
      },
      "SeedanceSpRealPersonBatchStatusRequest": {
        "type": "object",
        "required": [
          "asset_ids"
        ],
        "properties": {
          "asset_ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of real-person asset IDs"
          }
        }
      },
      "SeedanceSpRealPersonBatchStatusResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "example": 0
          },
          "msg": {
            "type": "string",
            "example": "ok"
          },
          "data": {
            "type": "object",
            "properties": {
              "items": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/SeedanceSpRealPersonItem"
                }
              }
            }
          }
        }
      },
      "SeedanceSpRealPersonItem": {
        "type": "object",
        "properties": {
          "asset_id": {
            "type": "string"
          },
          "official_id": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "asset_ref": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "created_at": {
            "type": "string"
          }
        }
      },
      "ImageUnderstandingRequest": {
        "type": "object",
        "required": [
          "model",
          "contents"
        ],
        "properties": {
          "model": {
            "type": "string",
            "description": "Model name (e.g., gemini-3.5-flash)"
          },
          "contents": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GeminiContent"
            },
            "description": "Dialogue context content"
          }
        }
      },
      "GeminiContent": {
        "type": "object",
        "required": [
          "role",
          "parts"
        ],
        "properties": {
          "role": {
            "type": "string",
            "description": "Role (user or model)"
          },
          "parts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GeminiPart"
            }
          }
        }
      },
      "GeminiPart": {
        "type": "object",
        "properties": {
          "text": {
            "type": "string",
            "description": "Text content"
          },
          "inline_data": {
            "$ref": "#/components/schemas/GeminiInlineData"
          }
        }
      },
      "GeminiInlineData": {
        "type": "object",
        "required": [
          "mime_type",
          "data"
        ],
        "properties": {
          "mime_type": {
            "type": "string",
            "description": "Media type (e.g., image/jpeg, image/png)"
          },
          "data": {
            "type": "string",
            "description": "Base64 encoded image data"
          }
        }
      },
      "ImageUnderstandingResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "example": "20000"
          },
          "msg": {
            "type": "string",
            "example": "ok"
          },
          "data": {
            "type": "object",
            "properties": {
              "candidates": {
                "type": "array",
                "items": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "GrokGenerationRequest": {
        "type": "object",
        "required": [
          "model",
          "prompt",
          "image_urls"
        ],
        "properties": {
          "model": {
            "type": "string",
            "enum": [
              "grok-imagine-video-1.5"
            ],
            "description": "Model name. grok-imagine-video-1.5, grok-1.5, and grok_1_5 normalize to grok-imagine-video-1.5."
          },
          "prompt": {
            "type": "string",
            "description": "Text prompt for video generation"
          },
          "duration": {
            "type": "integer",
            "default": 10,
            "enum": [
              10,
              15
            ],
            "description": "Video duration in seconds. Only supports 10 or 15 seconds. Defaults to 10."
          },
          "ratio": {
            "type": "string",
            "default": "16:9",
            "enum": [
              "16:9",
              "9:16",
              "1:1",
              "3:2",
              "2:3"
            ],
            "description": "Video aspect ratio (e.g., 16:9, 9:16). Takes precedence over orientation."
          },
          "orientation": {
            "type": "string",
            "enum": [
              "landscape",
              "portrait"
            ],
            "description": "Video orientation. Active only when ratio is empty: landscape maps to 16:9, portrait maps to 9:16."
          },
          "image_urls": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Reference image URL list. grok-imagine-video-1.5 requires exactly 1 reference image."
          },
          "images": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Compatibility field for common OpenAPI image inputs; used when image_urls is empty. Requires exactly 1 image."
          }
        },
        "example": {
          "model": "grok-imagine-video-1.5",
          "prompt": "A beautiful butterfly flying among flowers, slow motion, hyper-detailed",
          "duration": 10,
          "ratio": "16:9",
          "image_urls": [
            "https://example.com/butterfly.jpg"
          ]
        }
      },
      "GeminiOmniGenerationRequest": {
        "type": "object",
        "required": [
          "model",
          "prompt"
        ],
        "properties": {
          "model": {
            "type": "string",
            "enum": [
              "Gemini-Omini",
              "Omni-Flash-Ext",
              "gemini-omni",
              "omni-10s"
            ],
            "description": "Model name. Gemini-Omini, Omni-Flash-Ext, and gemini-omni normalize to Gemini-Omini; omni-10s is a fixed 10s model (720p, up to 7 reference images)."
          },
          "prompt": {
            "type": "string",
            "description": "Text prompt for video generation"
          },
          "duration": {
            "type": "integer",
            "default": 6,
            "description": "Video duration in seconds. Default: 6. Only supports: 4, 6, 8, 10. Note: duration is not required when uploading a reference video, and duration and video_urls cannot be passed at the same time."
          },
          "resolution": {
            "type": "string",
            "default": "720p",
            "enum": [
              "720p",
              "1080p",
              "4k"
            ],
            "description": "Video resolution. Defaults to 720p."
          },
          "aspect_ratio": {
            "type": "string",
            "description": "Video aspect ratio, for example 16:9 or 9:16. Takes precedence over orientation."
          },
          "orientation": {
            "type": "string",
            "enum": [
              "landscape",
              "portrait"
            ],
            "description": "Video orientation. Used only when aspect_ratio is empty: landscape maps to 16:9, portrait maps to 9:16."
          },
          "image_urls": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Reference image URL list. omni-10s supports up to 7 images."
          },
          "images": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Compatibility field for common OpenAPI image inputs; used when image_urls is empty. omni-10s supports up to 7 images."
          },
          "generation_type": {
            "type": "string",
            "default": "reference",
            "enum": [
              "frame",
              "reference"
            ],
            "description": "Generation type. frame: first frame mode (image_urls can only accept 1 image as the first frame of the video); reference: reference mode (image_urls can accept 1 or 3 images as style/subject reference). Defaults to reference."
          },
          "video_urls": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Reference video URL list (currently supports up to 1 video). Note: duration is not required when uploading a reference video, and duration and video_urls cannot be passed at the same time."
          }
        },
        "example": {
          "model": "Gemini-Omini",
          "prompt": "A cat running through a neon rainy street, cinematic low-angle tracking shot",
          "duration": 6,
          "resolution": "720p",
          "aspect_ratio": "16:9",
          "generation_type": "reference",
          "image_urls": [],
          "video_urls": []
        }
      },
      "OpenAIImageGenerationRequest": {
        "type": "object",
        "required": [
          "prompt"
        ],
        "properties": {
          "model": {
            "type": "string",
            "description": "Model name. Default: gpt-image-2",
            "default": "gpt-image-2",
            "example": "gpt-image-2"
          },
          "prompt": {
            "type": "string",
            "description": "Text prompt for image generation"
          },
          "size": {
            "type": "string",
            "description": "Output size. Default: 1024x1024",
            "default": "1024x1024",
            "example": "1024x1024"
          },
          "n": {
            "type": "integer",
            "description": "Number of images. MAX: 1",
            "default": 1
          },
          "quality": {
            "type": "string",
            "description": "Quality tier (affects billing for gpt-image-2)",
            "enum": [
              "low",
              "medium",
              "high",
              "auto"
            ],
            "default": "low"
          },
          "background": {
            "type": "string",
            "enum": [
              "transparent",
              "opaque",
              "auto"
            ]
          },
          "output_format": {
            "type": "string",
            "enum": [
              "png",
              "jpeg",
              "webp"
            ]
          }
        },
        "example": {
          "model": "gpt-image-2",
          "prompt": "Cyberpunk city at night in the rain, neon signs, cinematic framing",
          "size": "1024x1024",
          "n": 1,
          "quality": "high"
        }
      },
      "OpenAIImageEditRequest": {
        "type": "object",
        "required": [
          "image",
          "prompt"
        ],
        "properties": {
          "image": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "binary"
            },
            "description": "Source image files (required, max 20MB each, up to 16 files; single-file upload also supported, field name `image`)"
          },
          "model": {
            "type": "string",
            "default": "gpt-image-2"
          },
          "prompt": {
            "type": "string",
            "description": "Edit prompt"
          },
          "size": {
            "type": "string",
            "default": "1024x1024"
          },
          "n": {
            "type": "integer",
            "default": 1
          },
          "quality": {
            "type": "string",
            "enum": [
              "low",
              "medium",
              "high",
              "auto"
            ],
            "default": "low"
          },
          "background": {
            "type": "string",
            "enum": [
              "transparent",
              "opaque",
              "auto"
            ]
          },
          "output_format": {
            "type": "string",
            "enum": [
              "png",
              "jpeg",
              "webp"
            ]
          }
        }
      },
      "OpenAIImageSyncResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "example": 20000
          },
          "msg": {
            "type": "string",
            "example": "ok"
          },
          "data": {
            "$ref": "#/components/schemas/OpenAIImageSyncResult"
          }
        }
      },
      "OpenAIImageSyncResult": {
        "type": "object",
        "description": "OpenAI-compatible image result",
        "properties": {
          "created": {
            "type": "integer",
            "format": "int64"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OpenAIImageResultItem"
            }
          },
          "model": {
            "type": "string",
            "example": "gpt-image-2"
          },
          "usage": {
            "$ref": "#/components/schemas/OpenAIImageUsage"
          }
        }
      },
      "OpenAIImageResultItem": {
        "type": "object",
        "properties": {
          "b64_json": {
            "type": "string",
            "description": "Base64-encoded image (may be several MB)"
          },
          "revised_prompt": {
            "type": "string"
          }
        }
      },
      "OpenAIImageUsage": {
        "type": "object",
        "properties": {
          "input_tokens": {
            "type": "integer"
          },
          "output_tokens": {
            "type": "integer"
          },
          "total_tokens": {
            "type": "integer"
          },
          "input_tokens_details": {
            "type": "object",
            "properties": {
              "image_tokens": {
                "type": "integer"
              },
              "text_tokens": {
                "type": "integer"
              }
            }
          },
          "output_tokens_details": {
            "type": "object",
            "properties": {
              "image_tokens": {
                "type": "integer"
              },
              "text_tokens": {
                "type": "integer"
              }
            }
          }
        }
      },
      "SoundCloneCloneRequest": {
        "type": "object",
        "required": [
          "fileUrl"
        ],
        "properties": {
          "fileUrl": {
            "type": "string",
            "description": "Public URL of source audio or video"
          },
          "contentText": {
            "type": "string",
            "description": "Preview script, max 270 characters"
          },
          "soundVersion": {
            "type": "string",
            "enum": [
              "v1",
              "v2"
            ],
            "default": "v1"
          },
          "language": {
            "type": "string",
            "default": "auto"
          }
        },
        "example": {
          "fileUrl": "https://example.com/source-audio.mp3",
          "contentText": "A short preview sentence for voice cloning.",
          "soundVersion": "v1",
          "language": "Chinese"
        }
      },
      "SoundCloneAudioRequest": {
        "type": "object",
        "required": [
          "modelId",
          "contentText"
        ],
        "properties": {
          "modelId": {
            "type": "string"
          },
          "contentText": {
            "type": "string",
            "description": "Text to synthesize, max 10000 characters"
          },
          "soundVersion": {
            "type": "string",
            "enum": [
              "v1",
              "v2"
            ]
          },
          "language": {
            "type": "string",
            "default": "auto"
          },
          "emotion": {
            "type": "string",
            "enum": [
              "happy",
              "sad",
              "angry",
              "fearful",
              "disgusted",
              "surprised",
              "neutral"
            ],
            "default": "neutral"
          },
          "speed": {
            "type": "number",
            "minimum": 0.5,
            "maximum": 2,
            "default": 1
          },
          "vol": {
            "type": "number",
            "exclusiveMinimum": 0,
            "maximum": 10,
            "default": 1
          },
          "pitch": {
            "type": "integer",
            "minimum": -12,
            "maximum": 12,
            "default": 0
          },
          "subtitleEnable": {
            "type": "boolean",
            "default": false
          },
          "subtitleType": {
            "type": "string",
            "enum": [
              "word"
            ]
          }
        },
        "example": {
          "modelId": "model_123456789",
          "contentText": "Welcome to voice cloning. This is production audio text.",
          "language": "Chinese",
          "soundVersion": "v1",
          "emotion": "neutral",
          "speed": 1,
          "vol": 1,
          "pitch": 0,
          "subtitleEnable": false
        }
      },
      "SoundCloneTaskData": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "example": "audio"
          },
          "created": {
            "type": "integer",
            "format": "int64"
          },
          "model": {
            "type": "string",
            "enum": [
              "soundCloningClone",
              "soundCloningAudio"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "queued",
              "processing",
              "completed",
              "failed"
            ]
          },
          "error": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "example": {
          "id": "audio_16b635ba-5889-4fa5-bbcc-bf67a38c353a",
          "object": "audio",
          "created": 1781777280,
          "model": "soundCloningClone",
          "status": "queued",
          "error": null
        }
      },
      "SoundCloneQueryData": {
        "allOf": [
          {
            "$ref": "#/components/schemas/SoundCloneTaskData"
          },
          {
            "type": "object",
            "properties": {
              "modelId": {
                "type": "string"
              },
              "audioUrl": {
                "type": "string"
              },
              "subtitleFile": {
                "type": "string"
              }
            }
          }
        ]
      },
      "SoundCloneApiResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "example": 20000
          },
          "msg": {
            "type": "string",
            "example": "ok"
          },
          "data": {
            "$ref": "#/components/schemas/SoundCloneTaskData"
          }
        }
      },
      "SoundCloneQueryApiResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "example": 20000
          },
          "msg": {
            "type": "string",
            "example": "ok"
          },
          "data": {
            "$ref": "#/components/schemas/SoundCloneQueryData"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}
